@using SFA.DAS.AssessorService.Api.Types.Models.Azure;
@using SFA.DAS.AssessorService.Domain.Extensions;
@model AzureUser
@{
    ViewBag.Title = "External API Details";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">External API Details</h1>
        @if (Model == null)
        {
            <span class="form-hint">By enabling access you will be the primary contact.</span>

            <form asp-action="EnableAccess" asp-controller="ExternalApi" method="post">
                <button class="button" type="submit">Enable</button>
            </form>
        }
        else
        {
            <div class="grid-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Ukprn</th>
                            <th>Email</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.LastName</td>
                            <td>@Model.Ukprn</td>
                            <td>@Model.Email</td>
                            <td>@Html.Raw(string.Equals(@Model.State, "blocked") ? "Disabled" : "Enabled")</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            if (Model.Subscriptions.Any())
            {
                <h1 class="heading-large">Subscription Details</h1>
                <div class="grid-row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Service URL</th>
                                <th>Subscription Key</th>
                                <th></th>
                                @*<th>Secondary Subscription Key</th>
                                <th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subscription in Model.Subscriptions)
                            {
                                <tr>
                                    <td>@subscription.ServiceUrl</td>
                                    <td><span class="code">@subscription.PrimaryKey</span></td>
                                    <td>
                                        <form asp-action="RenewPrimaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                                            <input type="submit" value="Renew" class="button" />
                                        </form>
                                    </td>
                                    @*<td><span class="code">@subscription.SecondaryKey</span></td>
                                    <td>
                                        <form asp-action="RenewSecondaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                                            <input type="submit" value="Renew" class="button" />
                                        </form>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }

            if (!string.Equals(Model.State, "blocked"))
            {
                <form asp-action="RemoveAccess" asp-controller="ExternalApi" method="post">
                    @Html.HiddenFor(m => m.AzureId)
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.State)
                    <br />
                    <div>
                        <div class="form-group">
                            <div class="form-group">
                                <h1>
                                    <label class="form-label">
                                        <span class="heading-large">Remove access?</span>
                                        <span class="form-hint">Note that this will be immediate.</span>
                                    </label>
                                </h1>
                                <button class="button" type="submit">Remove Access</button>
                            </div>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>