@using SFA.DAS.AssessorService.Web.ViewModels.ExternalApi;
@model ExternalApiDetailsViewModel
@{
    ViewBag.Title = "External API Details";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">External API Details</h1>
        @if (!Model.PrimaryContacts.Any())
        {
            <span class="form-hint">By enabling access you will be the primary contact.</span>

            <form asp-action="EnableAccess" asp-controller="ExternalApi" method="post">
                <button class="button" type="submit">Enable</button>
            </form>
        }
        else
        {
            <div class="grid-row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ukprn</th>
                            <th>Email</th>
                            <th>Access</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in Model.PrimaryContacts)
                    {
                        <tr>
                            <td data-label="Ukprn">@user.Ukprn</td>
                            <td data-label="Email">@user.Email</td>
                            <td data-label="Access">@(user.IsActive ? "Enabled" : "Disabled")</td>
                            <td>
                                <form asp-action="RemoveAccess" asp-controller="ExternalApi" method="post">
                                    @Html.Hidden("AzureId", user.AzureId, new { @id = "AzureId" })
                                    @Html.Hidden("State", user.State, new { @id = "State" })
                                    <button class="button" type="submit">Remove access</button>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            @if (Model.SubscriptionsToShow.Any())
            {
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h1 class="heading-large">Subscriptions</h1>
                    </div>

                    @foreach (var subscription in Model.SubscriptionsToShow)
                    {
                        <div class="column-full form-group">
                            <h2 class="bold-medium">@subscription.ProductId</h2>
                            <h3 class="heading-small">Api endpoint</h3>
                            <span class="code">@subscription.ApiEndPointUrl</span>
                            <h3 class="heading-small">Subscription key</h3>
                            <form asp-action="RenewPrimaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@subscription.UserId" method="post">
                                <span class="code">@subscription.PrimaryKey</span>
                                <input type="submit" value="Renew" class="button" />
                            </form>
                            @*<h3 class="heading-small">Secondary subscription key</h3>
                                <form asp-action="RenewSecondaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@subscription.UserId" method="post">
                                    <span class="code">@subscription.SecondaryKey</span>
                                    <input type="submit" value="Renew" class="button" />
                                </form>*@
                        </div>
                    }

                </div>
            }
        }
    </div>
</div>