@model SFA.DAS.AssessorService.Web.ViewModels.Account.AccessDeniedViewModel

@{
    ViewBag.Title = "Access denied";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">@Model.Title</h1>

            <p class="govuk-body">This permission enables you to:</p>
            <ul class="govuk-list govuk-list--bullet">
                @foreach (string right in Model.Rights)
                {
                    <li>@right</li>
                }
            </ul>

            <form asp-controller="RequestAccess" asp-action="RequestAccess">
                @Html.HiddenFor(m => m.ContactId)
                @Html.HiddenFor(m => m.PrivilegeId)
                @Html.HiddenFor(m => m.UserHasUserManagement)
                @Html.HiddenFor(m => m.ReturnController)
                @Html.HiddenFor(m => m.ReturnAction)
                @if (Model.UserHasUserManagement && Model.IsUsersOrganisationLive)
                {
                    <h2 class="govuk-heading-m">
                        Grant permission
                    </h2>

                    <p class="govuk-body">You have manage users permissions.</p>
                    <button class="govuk-button" type="submit">Access</button>
                }
                else
                {
                    <p class="govuk-body">You do not have permission to view this content.</p>
                    if (Model.IsUsersOrganisationLive)
                    {
                        <button class="govuk-button" type="submit">Request access</button>
                    }
                }
            </form>
        </div>
    </div>
</main>