@model SFA.DAS.AssessorService.Web.Controllers.Apply.PageViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Title</h1>

<form method="post" asp-action="Index" asp-controller="Page">
    <ul>
        @foreach (var question in Model.Questions)
        {
            <li>
            <label>@question.Label</label>
            <p>@question.Hint</p>
            @switch (question.Type)
            {
                case "Text": <input type="text" id="@question.QuestionId" name="@question.QuestionId" value="@question.Value"></input>
                    break;
                case "Email": <input type="email" id="@question.QuestionId" name="@question.QuestionId" value="@question.Value"></input>
                    break;
                case "Checkbox":
                    var chkd = question.Value == "Yes" ? "checked" : ""; 
                    <input type="checkbox" id="@question.QuestionId" name="@question.QuestionId" @chkd></input>
                    break;
                case "SimpleRadio":
                    for (int i = 0; i < question.Options.Count; i++)
                    {
                        var radioChecked = question.Value == question.Options[i].ToString() ? "checked" : "";    
                        <input type="radio" id="@(question.QuestionId + "_" + i)" name="@question.QuestionId" value="@question.Options[i]" @radioChecked/>
                        <label for="@(question.QuestionId + "_" + i)">@question.Options[i]</label>
                    }
                    break;
                     
            }
        </li>
        }
    </ul>
    <button type="submit">Submit</button><br/>
    <a href="@Url.Action("Sequence", "Sequence", new {Model.SequenceId})">Return to summary</a>
</form>