@model SFA.DAS.AssessorService.Web.Controllers.Apply.PageViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Title</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There's a problem
        </h2>
        
    </div>
}

<form method="post" asp-action="Index" asp-controller="Page">
    <ul>
        @foreach (var question in Model.Questions)
        {
            <li>
            <label>@question.Label</label>
            <p>@question.Hint</p>
            @switch (question.Type)
            {
                case "Text": <input sfa-validation-for-id="@question.QuestionId" sfa-validationerror-class="form-control-error" type="text" id="@question.QuestionId" name="@question.QuestionId" value="@question.Value"></input>
                    break;
                case "Email": <input sfa-validation-for-id="@question.QuestionId" sfa-validationerror-class="form-control-error" type="email" id="@question.QuestionId" name="@question.QuestionId" value="@question.Value"></input>
                    break;
                case "Checkbox":
                    var chkd = question.Value == "Yes" ? "checked" : ""; 
                    <input type="checkbox" id="@question.QuestionId" name="@question.QuestionId" @chkd></input>
                    break;
                case "SimpleRadio":
                    Html.RenderPartial("~/Views/Apply/Pages/_SimpleRadio.cshtml",question);
                    break;
                     
            }
        </li>
        }
    </ul>
    <button type="submit">Submit</button><br/>
    <a href="@Url.Action("Sequence", "Sequence", new {Model.SequenceId})">Return to summary</a>
</form>