@using SFA.DAS.AssessorService.Api.Types.Models.Azure;
@using SFA.DAS.AssessorService.Domain.Extensions
@model AzureUser
@{
    ViewBag.Title = "External API details";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Go back</a>

        <h1 class="heading-xlarge">
            External API details
            <span class="heading-secondary">@Model.FirstName @Model.LastName</span>
        </h1>

        <h2 class="heading-large">User details</h2>

        <table class="table responsive table-font-xsmall">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UKPRN</th>
                    <th>Email</th>
                    <th>Registration date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Name">@Model.FirstName @Model.LastName</td>
                    <td data-label="UKPRN">@Model.Note</td>
                    <td data-label="Email">@Model.Email</td>
                    <td data-label="Registration date">@Model.RegistrationDate.UtcToTimeZoneTime()</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@if (Model.Subscriptions.Any())
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Subscriptions</h1>
        </div>

        @foreach (var subscription in Model.Subscriptions)
        {
            <div class="column-one-half form-group">
                <h2 class="bold-medium">@subscription.ProductId</h2>
                <h3 class="heading-small">Primary key</h3>
                <form asp-action="RenewPrimaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                    <span class="code">@subscription.PrimaryKey</span>
                    <input class="button text-link" type="submit" value="renew key" />
                </form>
                <h3 class="heading-small">Secondary key</h3>
                <form asp-action="RenewSecondaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                    <span class="code">@subscription.SecondaryKey</span>
                    <input class="button text-link" type="submit" value="renew key" />
                </form>
            </div>
        }

    </div>
}

<!-- <table class="table responsive table-font-xsmall">
    <thead>
        <tr>
            <th>Product</th>
            <th>Primary key</th>
            <th></th>
            <th>Secondary key</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subscription in Model.Subscriptions)
        {
            <tr>
                <td data-label="Product">@subscription.ProductId</td>
                <td data-label="Primary key"><span class="code">@subscription.PrimaryKey</span></td>
                <td>
                    <form asp-action="RenewPrimaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                        <input class="button text-link" type="submit" value="Renew" />
                    </form>
                </td>
                <td data-label="Secondary key"><span class="code">@subscription.SecondaryKey</span></td>
                <td>
                    <form asp-action="RenewSecondaryKey" asp-controller="ExternalApi" asp-route-subscriptionId="@subscription.Id" asp-route-userId="@Model.Id" method="post">
                        <input class="button text-link" type="submit" value="Renew" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table> -->

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group">
                <h2 class="heading-large">Disable or remove access</h1>
                <div class="notice">
                    <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                    <strong class="bold-small">Note that this will be immediate.</strong>
                </div>
            </label>
        </div>

        <div class="form-group">
            <div class="panel panel-border-wide">
                <p><span class="bold">Current status:</span> @Html.Raw(string.Equals(Model.State, "blocked") ? "Disabled" : "Enabled")</p>
            </div>
        </div>

        <div class="form-group">
            @if (string.Equals(Model.State, "blocked"))
            {
                <form asp-action="EnableUser" asp-controller="ExternalApi" asp-route-userId="@Model.Id" method="post">
                    <button class="button" type="submit">Enable access</button>
                </form>
            }
            else
            {
                <form asp-action="DisableUser" asp-controller="ExternalApi" asp-route-userId="@Model.Id" method="post">
                    <button class="button" type="submit">Disable access</button>
                </form>
            }
        </div>

        <div class="form-group">
            <p class="bold-xsmall">The button below will completely revoke access from all API subscriptions for this user. To reinstate access their account will need to be set up again.</p>
            <form asp-action="DeleteUser" asp-controller="ExternalApi" asp-route-userId="@Model.Id" method="post">
                <button class="button" type="submit">Remove access</button>
            </form>
        </div>
    </div>
</div>