@model SFA.DAS.AssessorService.Web.ViewModels.ViewAndEditOrganisationViewModel
@{
    ViewBag.Title = "Organisation Details";
    Layout = "_DashboardLayout";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Organisation details</h1>
         
            <div id="organisationWrapper">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">@Model.Name</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation ID</dt>
                        <dd class="govuk-summary-list__value">@Model.OrganisationId</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">UKPRN</dt>
                        <dd class="govuk-summary-list__value">@Model.Ukprn</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation type</dt>
                        <dd class="govuk-summary-list__value">@Model.OrganisationType</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Legal name</dt>
                        <dd class="govuk-summary-list__value">@Model.LegalName</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Trading name</dt>
                        <dd class="govuk-summary-list__value">@Model.TradingName</dd>
                    </div>

                    @if (@Model.CompanyNumber != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company number</dt>
                            <dd class="govuk-summary-list__value">@Model.CompanyNumber</dd>
                        </div>
                    }

                    @if (@Model.CharityNumber != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Charity number</dt>
                            <dd class="govuk-summary-list__value">@Model.CharityNumber</dd>
                        </div>
                    }

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Website</dt>
                        <dd class="govuk-summary-list__value">@Model.WebsiteLink</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">
                            @if (@Model.Address1 != null)
                            {
                                @Model.Address1<br />
                            }
                            @if (@Model.Address2 != null)
                            {
                                @Model.Address2<br />
                            }
                            @if (@Model.Address3 != null)
                            {
                                @Model.Address3<br />
                            }
                            @if (@Model.Address4 != null)
                            {
                                @Model.Address4<br />
                            }
                            @if (@Model.Postcode != null)
                            {
                                @Model.Postcode
                            }
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.PrimaryContactName</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">@Model.Status</dd>
                    </div>
                </dl>

            </div>
        </div>
    </div>
</main>
