@model SFA.DAS.AssessorService.Web.ViewModels.ViewAndEditOrganisationViewModel
@{
    ViewBag.Title = "Organisation Details";
    Layout = "_DashboardLayout";
}

    <a class="govuk-back-link" asp-controller="Dashboard" asp-action="Index">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <span class="govuk-caption-xl">
            @Model.OrganisationId
        </span>

        <h1 class="govuk-heading-xl">Organisation details</h1>
        @if (string.IsNullOrEmpty(Model.PrimaryContactName))
        {
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    We need to know your Contact name for the register
                </strong>
            </div>
        }
        <p class="govuk-body">This is the information that employers and training providers will use to contact you.</p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="organisationWrapper">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Contact name</dt>
                            <dd class="govuk-summary-list__value">
                                @if (string.IsNullOrEmpty(Model.PrimaryContactName))
                                {
                                    <span class="govuk-hint">Select a user</span>
                                }
                                else
                                {
                                    @Model.PrimaryContactName
                                }
                            </dd>
                            @if (Model.UserHasChangeOrganisationPrivilege == true)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="SelectOrChangeContactName">
                                        Change<span class="govuk-visually-hidden"> contact name</span>
                                    </a>
                                </dd>
                            }
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Phone number</dt>
                            <dd class="govuk-summary-list__value">@Model.PhoneNumber</dd>
                            @if (Model.UserHasChangeOrganisationPrivilege == true)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="ChangePhoneNumber">
                                        Change<span class="govuk-visually-hidden"> phone number</span>
                                    </a>
                                </dd>
                            }
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Address</dt>
                            <dd class="govuk-summary-list__value">
                                @if (@Model.Address1 != null)
                                {
                                    @Model.Address1<br />
                                }
                                @if (@Model.Address2 != null)
                                {
                                    @Model.Address2<br />
                                }
                                @if (@Model.Address3 != null)
                                {
                                    @Model.Address3<br />
                                }
                                @if (@Model.Address4 != null)
                                {
                                    @Model.Address4<br />
                                }
                                @if (@Model.Postcode != null)
                                {
                                    @Model.Postcode
                                }
                            </dd>
                            @if (Model.UserHasChangeOrganisationPrivilege == true)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="ChangeAddress">
                                        Change<span class="govuk-visually-hidden"> address</span>
                                    </a>
                                </dd>
                            }
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Email</dt>
                            <dd class="govuk-summary-list__value">@Model.Email</dd>
                            @if (Model.UserHasChangeOrganisationPrivilege == true)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="ChangeEmail">
                                        Change<span class="govuk-visually-hidden"> email</span>
                                    </a>
                                </dd>
                            }
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Website</dt>
                            <dd class="govuk-summary-list__value">@Model.WebsiteLink</dd>
                            @if (Model.UserHasChangeOrganisationPrivilege == true)
                            {
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="ChangeWebsite">
                                        Change<span class="govuk-visually-hidden"> website</span>
                                    </a>
                                </dd>
                            }
                        </div>
                    </dl>
                </div>
            </div>
        </div>

        @if (Model.UserHasChangeOrganisationPrivilege == false)
        {
            <form asp-controller="RequestAccess" asp-action="Request">
                @Html.Hidden("ContactId", @Model.AccessDeniedViewModel.ContactId)
                @Html.Hidden("PrivilegeId", @Model.AccessDeniedViewModel.PrivilegeId)
                @Html.Hidden("UserHasUserManagement", @Model.AccessDeniedViewModel.UserHasUserManagement)
                @Html.Hidden("ReturnController", @Model.AccessDeniedViewModel.ReturnController)
                @Html.Hidden("ReturnAction", @Model.AccessDeniedViewModel.ReturnAction)

                <p class="govuk-body">
                    <span>To make changes to organisation details you need to&nbsp;</span>
                    @if (Model.AccessDeniedViewModel.UserHasUserManagement)
                    {
                        <button class="govuk-button govuk-button--looks-like-link" type="submit">grant access</button>
                    }
                    else
                    {
                        <button class="govuk-button govuk-button--looks-like-link" type="submit">request access</button>
                    }
                </p>
            </form>
        }
    </main>
