@model SFA.DAS.AssessorService.Web.ViewModels.ViewAndEditOrganisationViewModel
@{
    ViewBag.Title = "Organisation Details";
    Layout = "_DashboardLayout";
}
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Organisation details</h1>

            <div id="organisationWrapper">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">@Model.Name</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation ID</dt>
                        <dd class="govuk-summary-list__value">@Model.OrganisationId</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">UKPRN</dt>
                        <dd class="govuk-summary-list__value">@Model.Ukprn</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation type</dt>
                        <dd class="govuk-summary-list__value">@Model.OrganisationType</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Legal name</dt>
                        <dd class="govuk-summary-list__value">@Model.LegalName</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Trading name</dt>
                        <dd class="govuk-summary-list__value">@Model.TradingName</dd>
                    </div>

                    @if (@Model.CompanyNumber != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Company number</dt>
                            <dd class="govuk-summary-list__value">@Model.CompanyNumber</dd>
                        </div>
                    }

                    @if (@Model.CharityNumber != null)
                    {
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Charity number</dt>
                            <dd class="govuk-summary-list__value">@Model.CharityNumber</dd>
                        </div>
                    }

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Website</dt>
                        <dd class="govuk-summary-list__value">@Model.WebsiteLink</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">
                            @if (@Model.Address1 != null)
                            {
                                @Model.Address1<br />
                            }
                            @if (@Model.Address2 != null)
                            {
                                @Model.Address2<br />
                            }
                            @if (@Model.Address3 != null)
                            {
                                @Model.Address3<br />
                            }
                            @if (@Model.Address4 != null)
                            {
                                @Model.Address4<br />
                            }
                            @if (@Model.Postcode != null)
                            {
                                @Model.Postcode
                            }
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Primary contact</dt>
                        <dd class="govuk-summary-list__value">@Model.PrimaryContactName</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Status</dt>
                        <dd class="govuk-summary-list__value">@Model.Status</dd>
                    </div>
                </dl>

            </div>

            <div id="organisationWrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @if (!Model.ExternalApiSubscriptions.Any())
                        {
                            <div class="info-summary">
                                <h2 class="govuk-heading-m">Record a grade API</h2>
                                Use the Record a grade API to:
                                <ul>
                                    <li>record a grade and request a single certificate</li>
                                    <li>record a grade and request a batch of certificates</li>
                                    <li>check if a certificate exists</li>
                                    <li>delete a certificate before it is submitted</li>
                                    <li>request a list of valid certificate grades</li>
                                    <li>request the list of options for a Standard</li>
                                </ul>

                                <div role="note" aria-label="Information" class="application-notice info-notice">
                                    <p class="govuk-body">
                                        Before you continue to request your subscription key, you need to have tested your API on the Developer Hub
                                    </p>

                                    <form asp-action="EnableApiAccess" method="post">
                                        <button class="govuk-button" type="submit">Enable key</button>
                                    </form>

                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <h2 class="govuk-heading-l">Subscriptions</h2>
                                </div>
                            </div>

                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    @foreach (var subscription in Model.ExternalApiSubscriptions)
                                    {
                                        <div class="govuk-form-group">
                                            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">@subscription.ProductId</h2>

                                            <h3 class="govuk-heading-s">Api endpoint</h3>
                                            <p class="das-code">@subscription.ApiEndPointUrl</p>

                                            <h3 class="govuk-heading-s">Subscription key</h3>
                                            <p class="das-code">@subscription.PrimaryKey</p>

                                            <form asp-action="RenewApiKey" asp-route-subscriptionId="@subscription.Id" method="post">
                                                <input type="submit" value="Renew" class="govuk-button" />
                                            </form>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
