@using SFA.DAS.AssessorService.ApplyTypes
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.FinancialApplicationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a href="@Url.Action("NewApplications", "Financial")" class="govuk-back-link">Back</a>

<h2>Financial health evaluation</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There is a problem
        </h2>
        <ul class="error-summary-list">
            <li><a sfa-validation-for="Grade.SelectedGrade"></a></li>
            <li><a sfa-validation-for="Grade.InadequateMoreInformation"></a></li>
            <li><a sfa-validation-for="Grade.SatisfactoryMoreInformation"></a></li>
        </ul>
    </div>
}

<h3>Company details</h3>

<table>
    <tr>
        <td>Registered name</td>
        <td>@Model.Organisation.OrganisationDetails.LegalName</td>
    </tr>
    <tr>
        <td>Trading name</td>
        <td>@Model.Organisation.OrganisationDetails.TradingName</td>
    </tr>
</table>

@if (Model.Section.PagesContainingUploadQuestions.Any())
{
    <div>
        <a href="@Url.Action("Download", "Financial", new { Model.Section.ApplicationId })">Download financial statements</a>
        @* Download @uploadQuestion.Label</a> *@
    </div>
}

<table>
    <tr>
        <th>
            Questions
        </th>
        <th>
            Answers
        </th>
    </tr>
    @foreach (var pg in Model.Section.QnAData.Pages)
    {
        foreach (var question in pg.Questions.Where(q => q.Input.Type != "FileUpload"))
        {
            <tr>
                <td>@question.Label</td>
                <td>@pg.PageOfAnswers.SelectMany(poa => poa.Answers).SingleOrDefault(a => a.QuestionId == question.QuestionId)?.Value</td>
            </tr>
        }
    }
</table>


<h1>What is the grade for this application?</h1>
<form asp-action="Grade" asp-controller="Financial">
    <div class="form-group error-message-container" sfa-anyvalidationerror-class="form-group-error">
        <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
        <label for="excellent">Excellent</label>
        <input id="excellent" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Excellent)" />

        <label for="good">Good</label>
        <input id="good" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Good)" />

        <label for="satisfactory">Satisfactory</label>
        <input id="satisfactory" type="radio" name="Grade.SelectedGrade" value="Satisfactory" @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Satisfactory ? "checked" : "") />
        <input type="text" name="Grade.SatisfactoryMoreInformation" sfa-validation-for="Grade.SatisfactoryMoreInformation" sfa-validationerror-class="form-control-error" />

        <label for="inadequate">Inadequate</label>
        <input id="inadequate" type="radio" name="Grade.SelectedGrade" value="Inadequate" @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Inadequate ? "checked" : "") />
        <input type="text" name="Grade.InadequateMoreInformation" sfa-validation-for="Grade.InadequateMoreInformation" sfa-validationerror-class="form-control-error" />

        <label for="exempt">Exempt</label>
        <input id="exempt" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Exempt)" />
        <button type="submit">Confirm and submit</button>
    </div>
</form>