@using SFA.DAS.AssessorService.ApplyTypes
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Apply.Financial.FinancialApplicationViewModel

@{
    ViewBag.Title = "Financial health evaluation";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-action="OpenApplications" asp-controller="Financial" class="link-back">Back</a>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>
                <ul class="error-summary-list">
                    <li><a sfa-validation-for="Grade.SelectedGrade"></a></li>
                    <li><a sfa-validation-for="Grade.InadequateMoreInformation"></a></li>
                    <li><a sfa-validation-for="Grade.OutstandingFinancialDueDate"></a></li>
                    <li><a sfa-validation-for="Grade.GoodFinancialDueDate"></a></li>
                    <li><a sfa-validation-for="Grade.SatisfactoryFinancialDueDate"></a></li>
                </ul>
            </div>
        }

        <h1 class="heading-xlarge">Financial health evaluation</h1>
        <h2 class="heading-medium">Organisation details</h2>

        <table class="table-spaced">
            <tr>
                <td class="bold-small">Registered name</td>
                <td>@Model.Organisation.OrganisationDetails.LegalName</td>
            </tr>
            @if (!string.IsNullOrWhiteSpace(Model.Organisation.OrganisationDetails.TradingName))
            {
            <tr>
                <td class="bold-small">Trading name</td>
                <td>@Model.Organisation.OrganisationDetails.TradingName</td>
            </tr>
            }
        </table>

        @if (Model.Section.PagesContainingUploadQuestions.Any())
        {
            <div class="form-group">
                <a href="@Url.Action("Download", "Financial", new { Model.Section.ApplicationId })">Download financial statements</a>
                @* Download @uploadQuestion.Label</a> *@
            </div>
        }
    </div>
</div>

@if (Model.Section.QnAData.Pages.SelectMany(p => p.Questions).Any(q => q.Input.Type != "FileUpload"))
{
<div class="grid-row">
    <div class="column-full">
        <table class="table-spaced">
            <thead>
                <tr>
                    <th>
                        Questions
                    </th>
                    <th>
                        Answers
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pg in Model.Section.QnAData.Pages)
                {
                    foreach (var question in pg.Questions.Where(q => q.Input.Type != "FileUpload"))
                    {
                        <tr>
                            <td>@question.Label</td>
                            <td>@pg.PageOfAnswers.SelectMany(poa => poa.Answers).SingleOrDefault(a => a.QuestionId == question.QuestionId)?.Value</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <form asp-action="Grade" asp-controller="Financial">
            <input type="hidden" name="ApplicationId" value="@Model.ApplicationId" />
            <div class="form-group">
                <fieldset>

                    <legend>
                        <h2 class="heading-large">
                            What is the grade for this application?
                        </h2>

                        <div sfa-anyvalidationerror-class="form-group-error">
                            <span class="error-message" asp-validation-for="Grade.SelectedGrade"></span>
                            <span class="error-message" asp-validation-for="Grade.InadequateMoreInformation"></span>
                            <span class="error-message" asp-validation-for="Grade.OutstandingFinancialDueDate"></span>
                            <span class="error-message" asp-validation-for="Grade.GoodFinancialDueDate"></span>
                            <span class="error-message" asp-validation-for="Grade.SatisfactoryFinancialDueDate"></span>
                        </div>
                    </legend>

                    <div class="form-group" sfa-anyvalidationerror-class="form-group-error">
                        <div class="multiple-choice" data-target="outstanding-more-info">
                            <input id="outstanding" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Outstanding)"  @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Outstanding ? "checked" : "")>
                            <label for="outstanding">Outstanding</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="outstanding-more-info">
                            <legend>
                                <span class="form-label-bold" for="Grade.OutstandingFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="Grade.OutstandingFinancialDueDate.Day">Day</label>
                                    <input class="form-control" name="Grade.OutstandingFinancialDueDate.Day" id="Grade.OutstandingFinancialDueDate.Day" sfa-validation-for="Grade.OutstandingFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.OutstandingFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="Grade.OutstandingFinancialDueDate.Month">Month</label>
                                    <input class="form-control" name="Grade.OutstandingFinancialDueDate.Month" id="Grade.OutstandingFinancialDueDate.Month" sfa-validation-for="Grade.OutstandingFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.OutstandingFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="Grade.OutstandingFinancialDueDate.Year">Year</label>
                                    <input class="form-control" name="Grade.OutstandingFinancialDueDate.Year" id="Grade.OutstandingFinancialDueDate.Year" sfa-validation-for="Grade.OutstandingFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.OutstandingFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                </div>
                            </div>
                            
                        </div>

                        <div class="multiple-choice" data-target="good-more-info">
                            <input id="good" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Good)"  @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Good ? "checked" : "")>
                            <label for="good">Good</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="good-more-info">
                            <legend>
                                <span class="form-label-bold" for="Grade.OutstandingFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="Grade.GoodFinancialDueDate.Day">Day</label>
                                    <input class="form-control" name="Grade.GoodFinancialDueDate.Day" id="Grade.GoodFinancialDueDate.Day" sfa-validation-for="Grade.GoodFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.GoodFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="Grade.GoodFinancialDueDate.Month">Month</label>
                                    <input class="form-control" name="Grade.GoodFinancialDueDate.Month" id="Grade.GoodFinancialDueDate.Month" sfa-validation-for="Grade.GoodFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.GoodFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="Grade.GoodFinancialDueDate.Year">Year</label>
                                    <input class="form-control" name="Grade.GoodFinancialDueDate.Year" id="Grade.GoodFinancialDueDate.Year" sfa-validation-for="Grade.GoodFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.GoodFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                </div>
                            </div>
                        </div>

                        <div class="multiple-choice" data-target="satisfactory-more-info">
                            <input id="satisfactory" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Satisfactory)" @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Satisfactory ? "checked" : "") />
                            <label for="satisfactory">Satisfactory</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="satisfactory-more-info">
                            <legend>
                                <span class="form-label-bold" for="Grade.OutstandingFinancialDueDate">
                                    What is the financial due date?
                                </span>
                            </legend>
                            <div class="form-date">
                                <div class="form-group form-group-day">
                                    <label class="form-label" for="Grade.SatisfactoryFinancialDueDate.Day">Day</label>
                                    <input class="form-control" name="Grade.SatisfactoryFinancialDueDate.Day" id="Grade.SatisfactoryFinancialDueDate.Day" sfa-validation-for="Grade.SatisfactoryFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.SatisfactoryFinancialDueDate.Day" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-month">
                                    <label class="form-label" for="Grade.SatisfactoryFinancialDueDate.Month">Month</label>
                                    <input class="form-control" name="Grade.SatisfactoryFinancialDueDate.Month" id="Grade.SatisfactoryFinancialDueDate.Month" sfa-validation-for="Grade.SatisfactoryFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.SatisfactoryFinancialDueDate.Month" type="number" pattern="[0-9]*" />
                                </div>
                                <div class="form-group form-group-year">
                                    <label class="form-label" for="Grade.SatisfactoryFinancialDueDate.Year">Year</label>
                                    <input class="form-control" name="Grade.SatisfactoryFinancialDueDate.Year" id="Grade.SatisfactoryFinancialDueDate.Year" sfa-validation-for="Grade.SatisfactoryFinancialDueDate" sfa-validationerror-class="form-control-error" value="@Model.Grade.SatisfactoryFinancialDueDate.Year" type="number" pattern="[0-9]*" />
                                </div>
                            </div>
                        </div>
                        <div class="multiple-choice" data-target="inadequate-more-info">
                            <input id="inadequate" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Inadequate)" @(Model.Grade.SelectedGrade == FinancialApplicationSelectedGrade.Inadequate ? "checked" : "") />
                            <label for="inadequate">Inadequate</label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="inadequate-more-info">
                            <label class="form-label" for="Grade.InadequateMoreInformation">Why is the application inadequate?</label>
                            <textarea class="form-control form-control-full" rows="4" name="Grade.InadequateMoreInformation" sfa-validation-for="Grade.InadequateMoreInformation" sfa-validationerror-class="form-control-error"></textarea>
                        </div>

                        <div class="multiple-choice">
                            <input id="exempt" type="radio" name="Grade.SelectedGrade" value="@(FinancialApplicationSelectedGrade.Exempt)">
                            <label for="exempt">Exempt</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="button" type="submit">Confirm and submit</button>
            </div>
        </form>
    </div>
</div>