@model List<SFA.DAS.AssessorService.Web.Staff.ViewModels.NewFinancialApplicationViewModel>

@{
    ViewBag.Title = "New applications";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a href="@Url.Action("Dashboard", "Financial")" class="link-back">Return to account home</a>

        <h1 class="heading-xlarge">New applications</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <table>
            <thead>
                <tr>
                    <th>Applying organisation</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var application in Model)
            {
                <tr>
                    <td>@application.ApplyingOrganisationName</td>
                    <td>@application.Status</td>
                    <td class="numeric"><a asp-action="ViewApplication" asp-controller="Financial" asp-route-applicationId="@application.ApplicationId">@application.LinkText</a></td>
                </tr>
            }
        </table>

    </div>
</div>

<div class="form-group">
    <a asp-controller="Financial" asp-action="Dashboard" class="govuk-button">Return to account home</a>
</div>