@model List<SFA.DAS.AssessorService.Web.Staff.ViewModels.PreviousFinancialApplicationViewModel>

@{
    ViewBag.Title = "Previous applications";
    Layout = "_Layout";
}


<a href="@Url.Action("Dashboard", "Financial")" class="govuk-back-link">Back</a>

<h2>Previous applications</h2>

<table>
    <tr>
        <th>Applying organisation</th>
        <th>Date reviewed</th>
        <th>Grade</th>
        <th>Reviewer</th>
        <th></th>
    </tr>
    @foreach (var application in Model)
    {
        <tr>
            <td>@application.ApplyingOrganisationName</td>
            <td>@application.GradedDate.ToShortDateString()</td>
            <td>@application.Grade</td>
            <td>@application.GradedBy</td>
            <td><a asp-action="ViewGradedApplication" asp-controller="Financial" asp-route-applicationId="@application.ApplicationId">@application.LinkText</a></td>
        </tr>
    }
</table>
