@using SFA.DAS.AssessorService.Domain.Extensions
@model SFA.DAS.AssessorService.Web.Staff.Models.RegisterViewAndEditOrganisationStandardViewModel
@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Edit organisation standard";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a href="/register/search-standards/@Model.OrganisationId" class="link-back">Return to standard search</a>
        <form class="add-organisation-form" asp-action="EditOrganisationStandard" asp-controller="Register" method="POST">
            <input type="hidden" name="fullDate" id="fullDate" class="date-input" />
            @Html.HiddenFor(c => c.OrganisationId)
            @Html.HiddenFor(c => c.StandardId)
            @Html.HiddenFor(c => c.Ukprn)
            @Html.HiddenFor(c => c.OrganisationName)
            @Html.HiddenFor(c => c.StandardTitle)        
            @Html.HiddenFor(m => m.StandardEffectiveFrom)
            @Html.HiddenFor(m => m.StandardEffectiveTo)  
            @Html.HiddenFor(c => c.StandardLastDateForNewStarts)
            @Html.HiddenFor(c => c.Status)
            @Html.HiddenFor(c => c.OrganisationStatus)

            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="OrganisationId"></a></li>
                        <li><a sfa-validation-for="StandardId"></a></li>
                        <li><a sfa-validation-for="EffectiveFrom"></a></li>
                        <li><a sfa-validation-for="EffectiveFromDay"></a></li>
                        <li><a sfa-validation-for="EffectiveFromMonth"></a></li>
                        <li><a sfa-validation-for="EffectiveFromYear"></a></li>
                        <li><a sfa-validation-for="EffectiveTo"></a></li>
                        <li><a sfa-validation-for="EffectiveToDay"></a></li>
                        <li><a sfa-validation-for="EffectiveToMonth"></a></li>
                        <li><a sfa-validation-for="EffectiveToYear"></a></li>
                        <li><a sfa-validation-for="ContactId"></a></li>
                        <li><a sfa-validation-for="DeliveryAreas"></a></li>
                        <li><a sfa-validation-for="ActionChoice"></a></li>
                    </ul>
                </div>
            }

            <h1>
                <label class="form-label" for="">
                    <span class="heading-xlarge">Edit an organisation standard</span>
                </label>
            </h1>
            <table>
                <tbody>
                <tr>
                    <td><span class="bold-small">Organisation</span></td>
                    <td>@Model.OrganisationName</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Organisation Status</span></td>
                    <td>@Model.OrganisationStatus</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Organisation ID</span></td>
                    <td>@Model.OrganisationId</td>
                </tr>
                <tr>
                    <td><span class="bold-small">UKPRN</span></td>
                    <td>@Model.Ukprn</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Standard</span></td>
                    <td>@Model.StandardTitle (@Model.StandardId)</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Effective From</span></td>
                    <td>@Model.StandardEffectiveFrom.ToSfaShortDateString()</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Effective To</span></td>
                    <td>@Model.StandardEffectiveTo.ToSfaShortDateString()</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Late Date For New Starts</span></td>
                    <td>@Model.StandardLastDateForNewStarts.ToSfaShortDateString()</td>
                </tr>
                <tr>
                    <td><span class="bold-small">Status</span></td>
                    <td>@Model.Status</td>
                </tr>
                </tbody>
            </table>

            <h1>New Organisation Standard Details</h1>
        
            <div class="form-group error-message-container" sfa-anyvalidationerror-class="form-group-error">
                <span class="error-message" asp-validation-for="EffectiveFrom"></span>
                <span class="error-message" asp-validation-for="EffectiveFromDay"></span>
                <span class="error-message" asp-validation-for="EffectiveFromMonth"></span>
                <span class="error-message" asp-validation-for="EffectiveFromYear"></span>
                <label for="EffectiveFrom">
                    <span class="form-label-bold">Effective From</span>
                </label>
                <span class="form-date">
                    <div class="form-group form-group-day">
                        <label for="EffectiveFromDay">Day</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveFromDay" sfa-validationerror-class="form-control-error" asp-for="EffectiveFromDay" type="text" maxlength="2" />
                    </div>

                    <div class="form-group form-group-month">
                        <label for="EffectiveFromMonth">Month</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveFromMonth" sfa-validationerror-class="form-control-error" asp-for="EffectiveFromMonth" type="text" maxlength="2" />
                    </div>

                    <div class="form-group form-group-year">
                        <label for="EffectiveFromYear">Year</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveFromYear" sfa-validationerror-class="form-control-error" asp-for="EffectiveFromYear" type="text" maxlength="4" />
                    </div>
                </span>
           
            </div>
            <div class="form-group error-message-container" sfa-anyvalidationerror-class="form-group-error">
                <span class="error-message" asp-validation-for="EffectiveTo"></span>
                <span class="error-message" asp-validation-for="EffectiveToDay"></span>
                <span class="error-message" asp-validation-for="EffectiveToMonth"></span>
                <span class="error-message" asp-validation-for="EffectiveToYear"></span>
                <label for="EffectiveFrom">
                    <span class="form-label-bold">Effective To</span>
                </label>
                <span class="form-date">
                    <div class="form-group form-group-day">
                        <label for="EffectiveToDay">Day</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveToDay" sfa-validationerror-class="form-control-error" asp-for="EffectiveToDay" type="text" maxlength="2" />
                    </div>

                    <div class="form-group form-group-month">
                        <label for="EffectiveToMonth">Month</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveToMonth" sfa-validationerror-class="form-control-error" asp-for="EffectiveToMonth" type="text" maxlength="2" />
                    </div>

                    <div class="form-group form-group-year">
                        <label for="EffectiveToYear">Year</label>
                        <input class="form-control date-input js-integers-only" sfa-validation-for="EffectiveToYear" sfa-validationerror-class="form-control-error" asp-for="EffectiveToYear" type="text" maxlength="4" />
                    </div>
                </span>
           
            </div>
            <div class="form-group" sfa-validation-for="ContactId" sfa-validationerror-class="form-group-error">
                <label for="ContactId">
                    <span class="form-label-bold">Contacts</span>
                    <span class="error-message" asp-validation-for="ContactId"></span>
                </label>
                @foreach (var contact in Model.Contacts)
                {
                    <div class="multiple-choice">
                        <input asp-for="ContactId" id="contact-id-@contact.Id" type="radio" value="@contact.Id"/>
                        <label for="organisation-type-@contact-id-@contact.Id">
                            @contact.DisplayName, @contact.Email, @contact.PhoneNumber
                        </label>
                    </div>
                }
            </div>
            <div class="form-group" sfa-validation-for="DeliveryAreas" sfa-validationerror-class="form-group-error">
                <label for="DeliveryAreas">
                    <span class="form-label-bold">Delivery Areas</span>
                    <span class="error-message" asp-validation-for="DeliveryAreas"></span>
                </label>
                @foreach (var deliveryArea in Model.AvailableDeliveryAreas)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="DeliveryAreas"
                                   @if (Model.DeliveryAreas != null && Model.DeliveryAreas.Any(x => x == deliveryArea.Id))
                                   {
                                       @Html.Raw("checked") 
                               
                                   }
                                   value="@deliveryArea.Id" /> @deliveryArea.Area
                        </label>
                    </div>
                }
            </div>
            <div class="form-group" sfa-validation-for="Comments" sfa-validationerror-class="form-group-error">
                <label for="Comments">
                    <span class="form-label-bold">Comments</span>
                    <span class="error-message" asp-validation-for="Comments"></span>
                </label>
                <input class="form-control" maxlength="500" name="Comments" sfa-validation-for="Comments" sfa-validationerror-class="form-control-error" asp-for="Comments" type="text" />
            </div>
            <div class="form-group">
                <button class="button" type="submit" name="ActionChoice" value="Save">Save</button>
                <button class="button" type="submit" name="ActionChoice" value="MakeLive">Make Live</button>
                <a href="/register/view-standard/@Model.OrganisationStandardId">Cancel</a>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}