@model SFA.DAS.AssessorService.Web.Staff.Models.RegisterViewModel

@{
    ViewBag.Title = "Search results";
    Layout = "_Layout";
}


<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-action="Index" class="link-back">Search Again</a>
        <h1 class="heading-xlarge">
            Organisation search results
            <span class="heading-secondary">Number of results: @Model.Results.Count</span>
            @*<span class="heading-secondary">Matching results for '@Model.SearchString': @Model.Results.Count</span>*@
        </h1>
    </div>
</div>


@if (@Model.Results.Count > 0)
{
<div class="grid-row">
    <div class="column-full">
        <div class="form-group">
            <table class="table responsive table-font-xsmall">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>UKPRN</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var result in Model.Results.OrderBy(x => x.Name))
                {
                    <tr>
                        <td data-label="Name">@result.Name</td>
                        <td data-label="ID">@result.Id</td>
                        <td data-label="UKPRN">@result.Ukprn</td>
                        <td class="numeric"><a href="#">Edit</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="button" href="#">Add New</a>

    </div>
</div>