@using SFA.DAS.AssessorService.Web.Staff.Controllers
@using SFA.DAS.AssessorService.Domain.Extensions
@using SFA.DAS.AssessorService.Web.Staff.Domain
@model RegisterViewAndEditOrganisationStandardViewModel
@{
    ViewBag.Title = "View Organisation Standard";
    Layout = "_Layout";
}

<a class="govuk-back-link" a href="/register/view-organisation/@Model.OrganisationId">Return to organisation</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">View organisation standard</h1>

            <div id="organisationWrapper">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationStatus
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.OrganisationId
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Standard
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.StandardTitle (@Model.StandardId)
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.EffectiveFrom.ToSfaShortDateString()
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.EffectiveTo.ToSfaShortDateString()
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date approved on register
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.DateStandardApprovedOnRegister.ToSfaShortDateString()
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Status
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.Contact != null)
                            {
                                @Model.Contact.DisplayName
                                if (!string.IsNullOrEmpty(Model.Contact.Email))
                                {
                                    <br /><a class="govuk-link" href="mailto:@Model.Contact.Email">@Model.Contact.Email</a>
                                }
                                if (!string.IsNullOrEmpty(Model.Contact.PhoneNumber))
                                {
                                    <br />@Model.Contact.PhoneNumber
                                }
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Delivery Areas
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if (Model.DeliveryAreasDetails != null && Model.DeliveryAreasDetails.Any())
                            {
                                for (var index = 0; index < Model.DeliveryAreas.Count; index++)
                                {
                                    var deliveryArea = Model.DeliveryAreasDetails[index];
                                    @deliveryArea.DeliveryArea
                                    if (index < Model.DeliveryAreasDetails.Count - 1)
                                    { @Html.Raw(", ")}
                                }
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Delivery Area Notes
                        </dt>
                        <dd class="govuk-summary-list__value">
                             @Model.DeliveryAreasComments
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Comments
                        </dt>
                        <dd class="govuk-summary-list__value">
                             @Model.Comments
                        </dd>
                    </div>
                </dl>

                <div sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                    <a class="govuk-button" href="/register/edit-standard/@Model.OrganisationStandardId">Edit</a>
                </div>
            </div>
        </div>
    </div>
</main>