@using SFA.DAS.AssessorService.Web.Staff.Controllers
@using SFA.DAS.AssessorService.Web.Staff.Domain
@model RegisterViewAndEditContactViewModel
@{
    ViewBag.Title = "View Contact";
    Layout = "_Layout";
}

<a class="govuk-back-link" href="/register/view-organisation/@Model.OrganisationId">Return to organisation</a>


<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <h1 class="govuk-heading-xl">View contact</h1>
            
            <div id="organisationWrapper">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <a class="govuk-link" href="/register/view-organisation/@Model.OrganisationId">@Model.OrganisationName</a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.FirstName @Model.LastName
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Email
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PhoneNumber
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Primary contact
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.IsPrimaryContact
                        </dd>
                    </div>
                </dl>
            </div>
            <div sfa-show-for-roles="@string.Join(",", Roles.AssessmentDeliveryTeam, Roles.CertificationTeam)">
                <a class="govuk-button" href="/register/edit-contact/@Model.ContactId">Edit</a>
            </div>
        </div>    
    </div>
</main>
