@using Newtonsoft.Json
@using SFA.DAS.AssessorService.Domain.JsonData
@using SFA.DAS.AssessorService.Domain.Consts

@model SFA.DAS.AssessorService.Web.Staff.Controllers.DuplicateRequestViewModel

@{
    ViewBag.Title = "Re-print certificate";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-action="Index" asp-controller="Search" class="link-back">Search again</a>
        <h1 class="heading-large">Re-print certificate</h1>
        @if (! (Model.Certificate.Status == CertificateStatus.Printed || Model.Certificate.Status == CertificateStatus.Reprint) )
        {
            <p>Certificate is in an invalid status to request a reprint.</p>
        }
        else if (!Model.IsConfirmed)
        {
            <p class="lede text">Request a duplicate print of the following certificate: </p>

            <div class="grid-row">
                <div class="column-one-half">
                    <table>
                        <tbody>
                            <tr>
                                <td class="bold">Certificate number</td>
                                <td>@Model.Certificate.CertificateReference</td>
                            </tr>
                            <tr>
                                <td class="bold">Name</td>
                                <td>
                                    @{
                                        var certData = JsonConvert.DeserializeObject<CertificateData>(@Model.Certificate.CertificateData);
                                        @Html.Raw($"{certData.LearnerGivenNames} {certData.LearnerFamilyName}");
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="bold"><abbr title="Unique learner number">ULN</abbr></td>
                                <td>@Model.Certificate.Uln</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <form asp-action="Index" asp-controller="DuplicateRequest" method="post">
                @Html.HiddenFor(m => m.Certificate.Id)
                <button class="button">Confirm reprint</button>
            </form>
            <br />
            <form asp-action="Check" asp-controller="CertificateAmend" method="get">
                @Html.Hidden("certificateId", Model.Certificate.Id, new { @id = "certificateId" })
                <button class="button">Amend before reprint</button>
            </form>
        }
        else
        {
            <p>Certificate reprint requested.</p>
            <p>Will be processed in next Print Run scheduled for @Model.NextBatchDate</p>
        }
    </div>
</div>