@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.InviteContactViewModel

@{
    ViewBag.Title = "Invite user";
    Layout = "_DashboardLayout";
}


<a class="govuk-back-link" asp-controller="@Model.BackController" asp-action="@Model.BackAction">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-xl">Invite user</h1>


            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            
                                @foreach (var modelState in ViewData.ModelState)
                                {
                                    foreach (var error in modelState.Value.Errors)
                                    {
                                        <li>
                                            <a href="#@modelState.Key">@error.ErrorMessage</a>
                                        </li>
                                    }
                                }
                            
                        </ul>
                    </div>
                </div>
            }

            <p class="govuk-body">Invite a member of your organisation to use the Apprenticeship assessment service.</p>

            <form asp-controller="InviteUser" asp-action="Invite">

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <label class="govuk-label" asp-for="@Model.GivenName">
                        Given name
                    </label>
                    <input class="govuk-input" sfa-validation-for="@Model.GivenName" sfa-validationerror-class="govuk-input--error" type="text" asp-for="@Model.GivenName"/>
                </div>

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <label class="govuk-label" asp-for="@Model.FamilyName">
                        Family name
                    </label>
                    <input class="govuk-input" sfa-validation-for="@Model.FamilyName" sfa-validationerror-class="govuk-input--error" type="text" asp-for="@Model.FamilyName"/>
                </div>

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <label class="govuk-label" asp-for="@Model.Email">
                        Email address
                    </label>
                    <input class="govuk-input" sfa-validation-for="@Model.Email" sfa-validationerror-class="govuk-input--error" type="text" asp-for="@Model.Email"/>
                </div>

                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading">
                            Permissions
                        </h2>
                    </legend>

                    <span class="govuk-hint">Select all that apply</span>

                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" type="checkbox" id="ViewDashboard" name="ViewDashboard" value="true" checked disabled />
                            <label class="govuk-label govuk-checkboxes__label" for="ViewDashboard">
                                View dashboard
                            </label>
                        </div>
                        @for (int i = 0; i < Model.PrivilegesViewModel.PrivilegeViewModels.Length; i++)
                        {
                            <div class="govuk-checkboxes__item">
                                <input type="hidden" name="PrivilegesViewModel.PrivilegeViewModels[@i].Privilege.Id" value="@Model.PrivilegesViewModel.PrivilegeViewModels[i].Privilege.Id"/>

                                <input class="govuk-checkboxes__input" type="checkbox" id="PrivilegesViewModel.PrivilegeViewModels[@i].Selected" name="PrivilegesViewModel.PrivilegeViewModels[@i].Selected" value="true"/>
                                <label class="govuk-label govuk-checkboxes__label" for="PrivilegesViewModel.PrivilegeViewModels[@i].Selected">
                                    @Model.PrivilegesViewModel.PrivilegeViewModels[i].Privilege.UserPrivilege
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <button type="submit" class="govuk-button">Send Invite</button>
            </form>
        </div>
    </div>
</main>