@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Domain.Paging
@model SFA.DAS.AssessorService.Domain.Paging.PaginatedList<SFA.DAS.AssessorService.Api.Types.Models.GetEpaoRegisteredStandardsResponse>

@{
    ViewBag.Title = "Standards";
    Layout = "_DashboardLayout";
}


<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Standards</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

        @if (Model.Items.Any())
        {
            <table class="govuk-table govuk-table--small responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">
                            @Localizer["Standard"]
                        </th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                            @Localizer["Code"]
                        </th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                            @Localizer["Level"]
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                @foreach (var item in Model.Items)
                {
                    <tr class="govuk-table__row">
                        <td data-label="@Localizer["Standard name"]" class="govuk-table__cell das-no-wrap">
                            @Html.DisplayFor(modelItem => item.StandardName)
                        </td>
                        <td data-label="@Localizer["Standard code"]" class="govuk-table__cell govuk-table__cell--numeric">
                            @Html.DisplayFor(modelItem => item.StandardCode)
                        </td>
                        <td data-label="@Localizer["Standard level"]" class="govuk-table__cell govuk-table__cell--numeric">
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                    </tr>

                }
                </tbody>
            </table>
        }
        else
        {
            <div class="info-summary">
                <h2 class="govuk-heading-m">You are not registered with any standards.</h2>
            </div>
        }
        </div>
    </div>

    @if (Model.HasPreviousPage || Model.HasNextPage)
    {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="page-navigation">

                @if (Model.HasPreviousPage)
                {
                    <a 
                        asp-action="Index"
                        asp-controller="OrganisationStandards"
                        asp-route-pageIndex="@(Model.PageIndex - 1)"
                        class="govuk-link previous"
                    >
                        <i class="arrow-button icon-left-open">&#xe800;</i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">@(Model.PageIndex - 1)</span> of <span class="totalPage">@(Model.TotalPages)</span></span>
                    </a>
                }

                @if (Model.HasNextPage)
                {
                    <a 
                        asp-controller="OrganisationStandards"
                        asp-action="Index"
                        asp-route-pageIndex="@(Model.PageIndex + 1)"
                        class="govuk-link next"
                    >
                        <i class="arrow-button icon-right-open">&#xe801;</i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">@(Model.PageIndex + 1)</span> of <span class="totalPage">@(Model.TotalPages)</span></span>
                    </a>
                }

            </div>
        </div>
    </div>
    }
</main>