@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Domain.Paging
@model ApprovedStandardsWithVersionsViewModel

@{
    ViewBag.Title = "Standards";
    ViewBag.ZenDeskLabel = "ass-organisation-standards";
    Layout = "_DashboardLayout";
}

<a href="/dashboard" class="govuk-back-link">Return to dashboard</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    @if (Model.FinancialInfoStage1Expired)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="padding-right: 0px;">

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Your organisation's financial health assessment is due.
                        </p>
                        <p>
                            You won't be able to apply to assess standards or standard versions until
                            your organisation's financial health assessment has been completed and approved.
                        </p>
                        <p>
                            <a class="govuk-notification-banner__link" href="@Model.FinancialAssessmentUrl">Start financial health assessment</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Approved standards and versions</h1>
        </div>
    </div>


    @if (Model.ApprovedStandardsWithVersions.Items.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table govuk-table--small responsive">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">
                                @Localizer["Standard"]
                            </th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                @Localizer["Reference"]
                            </th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                @Localizer["Level"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var item in Model.ApprovedStandardsWithVersions.Items)
                        {
                            <tr class="govuk-table__row">
                                <td data-label="@Localizer["Standard name"]" class="govuk-table__cell das-no-wrap">
                                    <div class="das-flex-space-around">
                                        @if (Model.FinancialInfoStage1Expired)
                                        {
                                            @Html.DisplayFor(modelItem => item.StandardName)
                                        }
                                        else
                                        {
                                            <a class="govuk-link govuk-link--no-visited-state" href="/standard/view-standard/@item.ReferenceNumber">@Html.DisplayFor(modelItem => item.StandardName)</a>
                                        }
                                        @if (item.NewVersionAvailable)
                                        {
                                            <strong class="govuk-tag govuk-tag--blue govuk-!-margin-left-8">New version available</strong>
                                        }
                                    </div>
                                </td>
                                <td data-label="@Localizer["Standard code"]" class="govuk-table__cell govuk-table__cell--numeric">
                                    @Html.DisplayFor(modelItem => item.ReferenceNumber)
                                </td>
                                <td data-label="@Localizer["Standard level"]" class="govuk-table__cell govuk-table__cell--numeric">
                                    @Html.DisplayFor(modelItem => item.Level)
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="info-summary">
                    <h2 class="govuk-heading-m">You are not yet approved to assess any standards.</h2>
                </div>
            </div>
        </div>
    }

    <a asp-action="AddStandardSearch" asp-controller="Standard" class="govuk-button">Add standard</a>
    
    @if (Model.ApprovedStandardsWithVersions.HasPreviousPage || Model.ApprovedStandardsWithVersions.HasNextPage)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="page-navigation">

                    @if (Model.ApprovedStandardsWithVersions.HasPreviousPage)
                    {
                        <a asp-action="Index"
                           asp-controller="OrganisationStandards"
                           asp-route-pageIndex="@(Model.ApprovedStandardsWithVersions.PageIndex - 1)"
                           class="govuk-link previous">
                            <i class="arrow-button icon-left-open">&#xe800;</i>
                            <span class="description">Previous <span class="hide-mob">page</span></span>
                            <span class="counter">Page <span class="prevPage">@(Model.ApprovedStandardsWithVersions.PageIndex - 1)</span> of <span class="totalPage">@(Model.ApprovedStandardsWithVersions.TotalPages)</span></span>
                        </a>
                    }

                    @if (Model.ApprovedStandardsWithVersions.HasNextPage)
                    {
                        <a asp-controller="OrganisationStandards"
                           asp-action="Index"
                           asp-route-pageIndex="@(Model.ApprovedStandardsWithVersions.PageIndex + 1)"
                           class="govuk-link next">
                            <i class="arrow-button icon-right-open">&#xe801;</i>
                            <span class="description">Next <span class="hide-mob">page</span></span>
                            <span class="counter">Page <span class="nextPage">@(Model.ApprovedStandardsWithVersions.PageIndex + 1)</span> of <span class="totalPage">@(Model.ApprovedStandardsWithVersions.TotalPages)</span></span>
                        </a>
                    }

                </div>
            </div>
        </div>
    }
</main>