@model IList<SFA.DAS.AssessorService.Api.Types.Models.ContactsWithPrivilegesResponse>
@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Domain.Consts
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Manage users";
    Layout = "_DashboardLayout";
}

<div>
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Users</h1>
            @if (Model.Any())
            {
                <table class="table responsive table-font-xsmall user-content">
                    <thead>
                        <tr>
                            <th>
                                @Localizer["User details"]
                            </th>
                            <th>
                                @Localizer["What they can do"]
                            </th>
                            <th>
                                @Localizer["Status"]
                            </th>
                            <th>
                                @Localizer["Action required"]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-label="@Localizer["User details"]" class="nowrap" >
                                    @Html.DisplayFor(modelItem => item.Contact.DisplayName)<br />
                                    <span>@Html.DisplayFor(modelItem => item.Contact.Email)</span>
                                </td>
                                <td data-label="@Localizer["What they can do"]" >
                                    <ul>
                                        @foreach (var role in item.Privileges )
                                        {
                                            <li> @Html.DisplayFor(modelItem => role)</li>
                                        }
                                    </ul>
                                </td>
                                <td data-label="@Localizer["Status"]" >
                                    @Html.DisplayFor(modelItem => item.Contact.Status)
                                </td>
                                <td data-label="@Localizer["Action required"]">
                                    @if (item.Contact.Status == ContactStatus.InvitePending)
                                    {
                                        <a asp-controller="ManageUsers" asp-action="SetStatus" asp-route-status="@ContactStatus.Approve" asp-route-id="@item.Contact.Id">Approve</a>
                                        <a asp-controller="ManageUsers" asp-action="SetStatus" asp-route-status="@ContactStatus.Reject" asp-route-id="@item.Contact.Id">Reject</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="column-full">
                    <div class="info-summary">
                        <h3 class="heading-medium">There are no users to manage.</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>