@model IList<SFA.DAS.AssessorService.Api.Types.Models.ContactsWithPrivilegesResponse>
@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Domain.Consts
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Manage users";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Users</h1>
        </div>
    </div>

    @if (Model.Any())
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">
                                @Localizer["User details"]
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Localizer["What they can do"]
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Localizer["Status"]
                            </th>
                            <th class="govuk-table__header" scope="col">
                                @Localizer["Action required"]
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body" scope="col">
                        @foreach (var item in Model)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell das-no-wrap" data-label="@Localizer["User details"]" >
                                    @Html.DisplayFor(modelItem => item.Contact.DisplayName)<br />
                                    <span>@Html.DisplayFor(modelItem => item.Contact.Email)</span>
                                </td>
                                <td class="govuk-table__cell" data-label="@Localizer["What they can do"]">
                                    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                        @foreach (var role in item.Privileges )
                                        {
                                            <li> @Html.DisplayFor(modelItem => role)</li>
                                        }
                                    </ul>
                                </td>
                                <td class="govuk-table__cell" data-label="@Localizer["Status"]" >
                                    @Html.DisplayFor(modelItem => item.Contact.Status)
                                </td>
                                <td class="govuk-table__cell" data-label="@Localizer["Action required"]">
                                    @if (item.Contact.Status == ContactStatus.InvitePending)
                                    {
                                        <a class="govuk-link" asp-controller="ManageUsers" asp-action="SetStatusAndNotify" asp-route-status="@ContactStatus.Approve" asp-route-id="@item.Contact.Id">Approve</a>
                                        <a class="govuk-link" asp-controller="ManageUsers" asp-action="SetStatusAndNotify" asp-route-status="@ContactStatus.Reject" asp-route-id="@item.Contact.Id">Reject</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="info-summary">
                    <h2 class="govuk-heading-m">There are no users to manage.</h2>
                </div>
            </div>
        </div>
    }
</main>