@model SFA.DAS.AssessorService.Web.Staff.ViewModels.CertificateGradeViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Grade apprentice achieved";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <a class="link-back" asp-controller="CertificateAmend" asp-action="Check" asp-route-certificateId=@Model.Id>Back</a>

        <form class="apprentice-grade-form" type="post" asp-controller="CertificateGrade">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="error-summary-list">
                    <li><a sfa-validation-for="SelectedGrade"></a></li>
                    @*<li><a href="#Pass">You need to specify an achievement grade for this apprentice</a></li>*@
                    <li><a sfa-validation-for="ReasonForChange"></a></li>
                </ul>
            </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <div id="SelectedGrade">
                    <h1 class="heading-medium">
                        @*<span class="heading-secondary">@Model.GivenNames @Model.FamilyName</span>*@
                        What grade did the apprentice achieve?
                    </h1>
                    <div class="error-message-container" sfa-validation-for="SelectedGrade" sfa-validationerror-class="form-group-error">
                        <span class="error-message" asp-validation-for="SelectedGrade"></span>
                    </div>
                </div>
                <div class="form-group" sfa-validation-for="SelectedGrade" sfa-validationerror-class="form-group-error">
                    @foreach (var grade in Model.Grades)
                    {
                        <div class="multiple-choice">
                            <input asp-for="SelectedGrade" id="@grade.Text.Replace(" ", "_")" type="radio" value="@grade.Text" />
                            <label for="@grade.Text.Replace(" ", "_")">
                                @grade.Text
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group" sfa-validation-for="ReasonForChange" sfa-validationerror-class="form-group-error">
                    <label for="ReasonForChange">
                        <span class="form-label-bold">Reason for change</span>
                        <span class="form-hint">Please could you provide more detail as to why this change is required.</span>
                        <span class="error-message" asp-validation-for="ReasonForChange"></span>
                    </label>
                    <textarea class="form-control form-control-3-4" name="ReasonForChange" sfa-validation-for="ReasonForChange" sfa-validationerror-class="form-control-error" asp-for="ReasonForChange" rows="5"></textarea>
                </div>
            </div>

            <details>
                <summary><span class="summary">What's 'No grade awarded'?</span></summary>
                <div class="panel panel-border-narrow" id="what-is-no-grade-awarded">
                    <p>
                        A grade is awarded when the apprentice successfully completes the apprenticeship standard. For some standards there will be no grade awarded. In these cases select 'No grade awarded'.
                    </p>
                </div>
            </details>

            <button type="submit" class="button">Continue</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/CertificateAmend/_GradeScriptsPartial.cshtml"); }
}