@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain
@{ ViewBag.Title = "Staff Dashboard"; }

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Staff dashboard</h1>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third" sfa-show-for-roles="@string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam)">
        <h2 class="heading-medium"><a asp-controller="Search">Search</a></h2>
        <p>Search by learner name, ULN, certificate reference or EPAO ID.</p>
    </div>
    <div class="column-one-third" sfa-show-for-roles="@string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam)">
        <h2 class="heading-medium"><a asp-controller="BatchSearch">Batch search</a></h2>
        <p>View current batches and search for certificates by batch number.</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-one-third" sfa-show-for-roles="@string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam)">
        <h2 class="heading-medium"><a asp-controller="ScheduleConfig">Print schedule configuration</a></h2>
        <p>Print certificates. Create, delete and view existing print schedules.</p>
    </div>
    <div class="column-one-third" sfa-show-for-roles="@string.Join(",", Roles.OperationsTeam, Roles.CertificationTeam)">
        <h2 class="heading-medium"><a asp-controller="ExternalApi">External API</a></h2>
        <p>Manage user's access and generate API keys.</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third" sfa-show-for-policy="@Startup.Policies.OperationsTeamOnly">
        <h2 class="heading-medium"><a asp-controller="CertificateApprovals" asp-action="Approvals">Privately Funded Certificate Approvals</a></h2>
        <p>Approve Privately Funded Certificates.</p>
    </div>
    <div class="column-one-third" sfa-show-for-policy="@Startup.Policies.OperationsTeamOnly">
       
    </div>
</div>