@using Microsoft.AspNetCore.Http
@using SFA.DAS.AssessorService.Web.Infrastructure
@using SFA.DAS.AssessorService.Web.StartupConfiguration
@using SFA.DAS.AssessorService.Web.Constants
@inject ISessionService SessionService
<!DOCTYPE html>
<html lang="en">

<head>
    <environment exclude="Development">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120145707-1"></script>
        <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-120145707-1');</script>
    </environment>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <!-- TEMPLATE STYLES - START -->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template.css?0.23.0" />
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie6.css?0.23.0" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie7.css?0.23.0" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie8.css?0.23.0" /><![endif]-->
        <link rel="stylesheet" media="print" href="/assets/stylesheets/govuk-template-print.css?0.23.0" />
        <!--[if IE 8]><link rel="stylesheet" media="all" href="/assets/stylesheets/fonts-ie8.css?0.23.0" /><![endif]-->
        <!--[if gte IE 9]><!-->
        <link rel="stylesheet" media="all" href="/assets/stylesheets/fonts.css?0.23.0" />
        <!--<![endif]-->
        <!-- TEMPLATE STYLES - END -->
        <!-- ELEMENTS AND TOOLKIT STYLES - START -->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-base.css?3.1.2" />
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie6.css?3.1.2" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie7.css?3.1.2" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie8.css?3.1.2" /><![endif]-->
        <!-- ELEMENTS AND TOOLKIT STYLES - END -->

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment exclude="Development">
        <!-- TEMPLATE STYLES - START -->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template.min.css?0.23.0" />
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie6.min.css?0.23.0" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie7.min.css?0.23.0" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/govuk-template-ie8.min.css?0.23.0" /><![endif]-->
        <link rel="stylesheet" media="print" href="/assets/stylesheets/govuk-template-print.min.css?0.23.0" />
        <!--[if IE 8]><link rel="stylesheet" media="all" href="/assets/stylesheets/fonts-ie8.min.css?0.23.0" /><![endif]-->
        <!--[if gte IE 9]><!-->
        <link rel="stylesheet" media="all" href="/assets/stylesheets/fonts.min.css?0.23.0" />
        <!--<![endif]-->
        <!-- TEMPLATE STYLES - END -->
        <!-- ELEMENTS AND TOOLKIT STYLES - START -->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-base.min.css?3.1.2" />
        <!--<![endif]-->
        <!--[if IE 6]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie6.min.css?3.1.2" /><![endif]-->
        <!--[if IE 7]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie7.min.css?3.1.2" /><![endif]-->
        <!--[if IE 8]><link rel="stylesheet" media="screen" href="/assets/stylesheets/esfa-govuk-ie8.min.css?3.1.2" /><![endif]-->
        <!-- ELEMENTS AND TOOLKIT STYLES - END -->

        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

    <!--[if lt IE 9]><script src="/assets/javascripts/ie.js?0.23.0"></script><![endif]-->

    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <link rel="mask-icon" href="/assets/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/assets/images/opengraph-image.png">

</head>

<body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <environment exclude="Development">
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MKHR6KG');</script>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKHR6KG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    </environment>
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler.
            <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
        </p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="/assets/images/gov.uk_logotype_crown_invert_trans.png" width="36" height="32" alt=""> GOV.UK
                    </a>
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    <nav id="proposition-menu">
                        <a id="proposition-name" href="/">Record apprentice end-point assessment grades</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @if (!User.Identity.IsAuthenticated) {
    <div id="global-header-bar"></div>
    }

    @if (User.Identity.IsAuthenticated) {
        var currentPage = SessionService.Get("CurrentPage");

    <div class="header-user">
        <div id="global-header-bar" class="global-header-bar--dark-blue"></div>
        <div class="header-inner">
            <div id="header-user--nav" class="grid-row">
                <div class="column-one-half">
                    <p class="heading-small">
                        @SessionService.Get("OrganisationName")
                        <span class="heading-secondary">
                            <span class="visually-hidden">Logged in as </span>@User.Identity.Name
                        </span>
                    </p>
                </div>
                <div class="column-one-half">
                    <nav id="user-nav" class="js-hidden-mobile">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="ContactUs">Contact us</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="SignOut">Sign out</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    }

    <main id="content" role="main">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>
                    This is a new service – your
                    <a href="https://www.surveymonkey.co.uk/r/P8YBH9J">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            var currentPage = SessionService.Get("CurrentPage");
            <div class="grid-row">
                <div class="column-full">
                    <nav class="app-navigation govuk-clearfix">
                        <ul class="app-navigation__list">
                            <li @(currentPage == Pages.Dashboard?"class=app-navigation--current-page":"")>
                                <a id="Home" asp-controller="Dashboard" asp-action="Index">Home</a>
                            </li>
                            <li  @(currentPage == Pages.Pipeline?"class=app-navigation--current-page":"")>
                                <a id="Pipeline" asp-controller="OrganisationStandards" asp-action="Pipeline">Pipeline</a>
                            </li>
                            <li  @(currentPage == Pages.RecordAGrade?"class=app-navigation--current-page":"")>
                                <a id="Record a grade" asp-controller="Search" asp-action="Index">Record a grade</a>
                            </li>
                            <li  @(currentPage == Pages.Assessments?"class=app-navigation--current-page":"")>
                                <a id="Completed assessments" asp-controller="CertificateHistory" asp-action="Index">Completed assessments</a>
                            </li>
                            <li  @(currentPage == Pages.Standards?"class=app-navigation--current-page":"")>
                                <a id="Standards" asp-controller="OrganisationStandards" asp-action="Index">Standards</a>
                            </li>
                            @*<li  @(currentPage == Pages.Users?"class=app-navigation--current-page":"")>
                                <a asp-controller="Dashboard" asp-action="">Users</a>
                            </li>*@
                            <li @(currentPage == Pages.Organisations ? "class=app-navigation--current-page" : "")>
                                <a id="Organisation details" asp-controller="Organisation" asp-action="OrganisationDetails">Organisation details</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        }
        @RenderBody()
    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">

        <div class="footer-wrapper">
            <div class="footer-meta">

                <div class="footer-meta-inner">
                    <h2 class="visually-hidden">Support links</h2>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Cookies">Cookies</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>

                    <div class="open-government-licence">
                        <p class="logo">
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>
                        <p>All content is available under the
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
                    </div>
                </div>

                <div class="copyright">
                    <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
                </div>

            </div>
        </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery-1.12.4.js"></script>
        <script src="~/assets/javascripts/govuk-template.js?0.23.0"></script>
        <script src="~/js/details.polyfill.js" asp-append-version="true"></script>
        <script src="~/js/shim-links-with-button-role.js" asp-append-version="true"></script>
        <script src="~/js/show-hide-content.js" asp-append-version="true"></script>
        <script src="~/js/expandable-table.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

</body>

</html>