@using SFA.DAS.AssessorService.Web.Constants
@using SFA.DAS.AssessorService.Web.Infrastructure
@inject ISessionService SessionService

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderBody()

@section Dashboard
{
    @if (User.Identity.IsAuthenticated)
    {
        var currentPage = SessionService.Get("CurrentPage");
        <nav class="app-navigation">
            <ul class="app-navigation__list">
                <li @(currentPage == Pages.Dashboard ? "class=app-navigation--current-page" : "")>
                    <a id="Home" asp-controller="Dashboard" asp-action="Index">Home</a>
                </li>
                <li @(currentPage == Pages.Pipeline ? "class=app-navigation--current-page" : "")>
                    <a id="Pipeline" asp-controller="OrganisationStandards" asp-action="Pipeline">Pipeline</a>
                </li>
                <li @(currentPage == Pages.RecordAGrade ? "class=app-navigation--current-page" : "")>
                    <a id="Record a grade" asp-controller="Search" asp-action="Index">Record a grade</a>
                </li>
                <li @(currentPage == Pages.Assessments ? "class=app-navigation--current-page" : "")>
                    <a id="Completed assessments" asp-controller="CertificateHistory" asp-action="Index">Completed assessments</a>
                </li>
                <li @(currentPage == Pages.Standards ? "class=app-navigation--current-page" : "")>
                    <a id="Standards" asp-controller="OrganisationStandards" asp-action="Index">Standards</a>
                </li>
                <li @(currentPage == Pages.Organisations ? "class=app-navigation--current-page" : "")>
                    <a id="Organisation details" asp-controller="Organisation" asp-action="OrganisationDetails">Organisation details</a>
                </li>
            </ul>
        </nav>
    }
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}