@using Microsoft.AspNetCore.Http
@using SFA.DAS.AssessorService.Web.Infrastructure
@using SFA.DAS.AssessorService.Web.StartupConfiguration
@using SFA.DAS.AssessorService.Web.Constants
@inject ISessionService SessionService

@{
    ViewBag.ServiceName = "Apprenticeship assessment service";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="das-user-panel">
            <div class="govuk-width-container">
                <div class="das-user-panel__content">
                    <span class="govuk-body-s das-user-panel__item das-user-panel__item--grow">
                        <p class="govuk-!-margin-top-0 das-!-margin-bottom-xs das-no-wrap">
                            <span class="govuk-visually-hidden">Signed in as </span>
                            @User.Identity.Name
                        </p>
                        @if (@SessionService.Get("OrganisationName") != null)
                        {
                            <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                                <span class="govuk-!-font-weight-bold">@SessionService.Get("OrganisationName")</span>
                                @if (@SessionService.Get("EndPointAssessorOrganisationId") != null)
                                {
                                    <text>(@SessionService.Get("EndPointAssessorOrganisationId"))</text>
                                }
                            </p>
                        }
                    </span>
                    <span class="govuk-body-s das-user-panel__item">
                        <a class="govuk-link govuk-link--white" asp-controller="Home" asp-action="ContactUs">Contact</a>
                    </span>
                    <span class="govuk-body-s das-user-panel__item">
                        <a class="govuk-link govuk-link--white" asp-controller="Account" asp-action="SignOut">Sign out</a>
                    </span>
                </div>
            </div>
        </div>
    }

    <div class="govuk-width-container">
        <div class="govuk-phase-banner govuk-phase-banner--no-border">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" target="_blank" href="https://www.smartsurvey.co.uk/s/epao-banner/">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    @RenderSection("Dashboard", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section AdditionalFooterLinks
{
}