@using SFA.DAS.AssessorService.Web.Infrastructure
@inject ISessionService SessionService

@{
    ViewBag.ServiceName = "Apprenticeship assessment service";
    ViewBag.ServiceController = "Home";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@RenderBody()

@section ServiceHeader
{
    @if (User.Identity.IsAuthenticated)
    {
        <div class="das-user-panel">
            <div class="govuk-width-container">
                <div class="das-user-panel__content">
                    <div class="govuk-body-s das-user-panel__item das-user-panel__item--grow">
                        <p class="govuk-!-margin-top-0 das-!-margin-bottom-xs das-no-wrap">
                            <span class="govuk-visually-hidden">Signed in as </span>
                            @User.Identity.Name
                        </p>
                        @if (@SessionService.Get("OrganisationName") != null)
                        {
                            <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                                <span class="govuk-!-font-weight-bold">@SessionService.Get("OrganisationName")</span>
                                @if (@SessionService.Get("EndPointAssessorOrganisationId") != null)
                                {
                                    <text>(@SessionService.Get("EndPointAssessorOrganisationId"))</text>
                                }
                            </p>
                        }
                    </div>
                    <nav class="das-user-navigation" id="das-user-navigation" aria-labelledby="Menu for contact and sign-out">
                        <ul class="das-user-navigation__list" role="menu">
                            <li class="das-user-navigation__list-item" role="menuitem">
                                <a class="das-user-navigation__link" asp-controller="Home" asp-action="ContactUs">Contact</a>
                            </li>
                            @if (SessionService.TryGet<bool>("UseGovSignIn", out var useGovSignIn) && useGovSignIn)
                            {
                                <li role="menuitem" class="das-user-navigation__list-item das-user-navigation__list-item--has-sub-menu">
                                    <a href="/" class="das-user-navigation__link">Settings</a>
                                    <ul role="menu" class="das-user-navigation__sub-menu js-hidden" aria-expanded="false">
                                        <li class="das-user-navigation__sub-menu-list-item" role="menuitem">
                                            <a href="/" class="das-user-navigation__sub-menu-link">Change your sign-in details</a>
                                        </li>
                                    </ul>
                                </li>    
                            }
                            <li class="das-user-navigation__list-item" role="menuitem">
                                <a class="das-user-navigation__link" asp-controller="Account" asp-action="SignOut">Sign out</a>
                            </li>                
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    }

    <div class="govuk-width-container">
        <div class="govuk-phase-banner govuk-phase-banner--no-border">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag ">
                    beta
                </strong>
                <span class="govuk-phase-banner__text">
                    This is a new service – your <a class="govuk-link" target="_blank" href="https://www.smartsurvey.co.uk/s/epao-banner/">feedback</a> will help us to improve it.
                </span>
            </p>
        </div>
    </div>

    @RenderSection("Dashboard", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section FooterLinks
{
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="Home" asp-action="Cookies">Cookies</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" asp-controller="Home" asp-action="ContactUs">Contact</a>
    </li>
    <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://www.gov.uk/guidance/record-a-grade-api">Record a grade API</a>
    </li>
}