@using SFA.DAS.AssessorService.Web.Controllers.Apply
@using SFA.DAS.AssessorService.Web.Controllers
@model SFA.DAS.AssessorService.Web.ViewModels.ApplyForWithdrawal.CheckWithdrawalRequestViewModel
@{
    ViewData["Title"] = "Check withdrawal request";
    Layout = "_DashboardLayout";
}

@if (string.IsNullOrWhiteSpace(@Model.IfateReferenceNumber))
{
    <a asp-route="@ApplyForWithdrawalController.TypeofWithdrawalRouteGet" class="govuk-back-link">Back</a>
}
else
{
    <a asp-route="@ApplyForWithdrawalController.ChooseStandardForWithdrawalRouteGet" asp-route-iFateReferenceNumber="@Model.IfateReferenceNumber" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="Continue"></a></li>
                </ul>
            </div>
        </div>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check withdrawal request</h1>

            @if (string.IsNullOrWhiteSpace(@Model.IfateReferenceNumber))
            {
                <p class="govuk-body">
                    You are about to start a withdrawal request for @Model.OrganisationName
                </p>
            }
            else
            {
                <p class="govuk-body">
                    You are about to start a withdrawal request for @Model.StandardName (@Model.IfateReferenceNumber). If you continue with this request you'll be withdrawing from all versions of this standard.
                </p>
                <p class="govuk-body">
                    If you do not want to withdraw from all the versions of this standard, go to <a asp-route="@StandardController.StandardDetailsRouteGet" asp-route-referenceNumber="@Model.IfateReferenceNumber" asp-route-backRouteName="@ApplyForWithdrawalController.CheckWithdrawalRequestRouteGet" class="govuk-link">standard details</a>.
                </p>
            }

            <form asp-route="@ApplyForWithdrawalController.CheckWithdrawalRequestRoutePost" method="post">
                <div class="govuk-form-group" sfa-validation-for="Continue" sfa-validationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <sfa-validationerror-detail sfa-validation-for="Continue" sfa-validationerror-class="govuk-error-message"></sfa-validationerror-detail>
                        <legend class="govuk-heading-m">
                            <strong>Do you want to continue with this withdrawal request?</strong>
                        </legend>

                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="confirm-withdrawal-request" name="Continue" asp-for="Continue" type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="confirm-withdrawal-request">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="return-to-withdrawal-requests" name="Continue" asp-for="Continue" type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="return-to-withdrawal-requests">
                                    No, return to your withdrawal requests
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                    Confirm and continue
                </button>
            </form>
        </div>
    </div>
</main>