@model SFA.DAS.AssessorService.Web.ViewModels.ApplyForWithdrawal.ChooseStandardVersionForWithdrawalViewModel;
@{
    ViewData["Title"] = "Which standard version(s) do you want to withdraw from assessing?";
    Layout = "_DashboardLayout";
}

<a asp-action="ReviewStandardVersions" asp-controller="ApplyForWithdrawal" asp-route-iFateReferenceNumber="@Model.IFateReferenceNumber" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="SelectedVersions"></a></li>
                </ul>
            </div>
        </div>
    }
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Which standard version(s) do you want to withdraw from assessing?</h1>

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">@Model.StandardName</h2>
            <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-7">@Model.IFateReferenceNumber</p>

            <form asp-action="ChooseStandardVersionForWithdrawal" asp-controller="ApplyForWithdrawal" method="post">

                <div class="govuk-form-group" sfa-validation-for="SelectedVersions" sfa-validationerror-class="govuk-form-group--error">
                    <fieldset class="govuk-fieldset">
                        <sfa-validationerror-detail sfa-validation-for="SelectedVersions" sfa-validationerror-class="govuk-error-message"></sfa-validationerror-detail>

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <span class="govuk-hint">
                                Select at least one version.
                            </span>
                        </legend>
                        <div class="govuk-checkboxes">
                            @foreach (var item in Model.Versions)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@item.Version" name="SelectedVersions" type="checkbox" value="@item.Version">
                                    <label class="govuk-label govuk-checkboxes__label" for="@item.Version">
                                        Version @item.Version
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
</main>