@using System.Linq;
@model SFA.DAS.AssessorService.Web.ViewModels.ApplyForWithdrawal.ReviewStandardVersionsViewModel;
@{
    ViewData["Title"] = "Review your standard versions";
    Layout = "_DashboardLayout";
}

<a asp-action="WholeStandardOrVersion" asp-controller="ApplyForWithdrawal" asp-route-iFateReferenceNumber="@Model.IFateReferenceNumber" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Review your standard versions</h1>

            @if (Model.Versions.Any(x => !x.AbleToWithdraw))
            {
                <div class="govuk-inset-text">
                    <p>
                        If a version is "Ready for withdrawal" that means you can withdraw from this live standard version.
                    </p>
                    <p>
                        If a version is "Not available for withdrawal" that means you have already withdrawn from the version or are in the process of having a withdrawal request approved.
                    </p>
                    <p>
                        You can select which version you want to withdraw from on the next page.
                    </p>
                </div>
            }
            else
            {
                <p class="govuk-inset-text">
                    You can select which version you want to withdraw from on the next page.
                </p>
            }

            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">@Model.StandardName</h2>
            <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-7">@Model.IFateReferenceNumber</p>

            <table class="govuk-table govuk-!-margin-bottom-7">
                <tbody class="govuk-table__body">
                    @foreach (var version in Model.Versions)
                    {
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Version @version.Version</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                @if (version.AbleToWithdraw)
                                {
                                    <strong class="govuk-tag govuk-tag--blue">Ready for withdrawal</strong>
                                }
                                else
                                {
                                    <strong class="govuk-tag govuk-tag--grey">Not available for withdrawal</strong>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (Model.Versions.Any(x => x.AbleToWithdraw))
            {
                <a asp-action="ChooseStandardVersionForWithdrawal" asp-controller="ApplyForWithdrawal" asp-route-iFateReferenceNumber="@Model.IFateReferenceNumber"
                   class="govuk-button govuk-!-margin-top-4">Continue</a>
            }
        </div>
    </div>
</main>