@using SFA.DAS.AssessorService.Web.Staff.ViewModels
@model ReportViewModel

@{
ViewBag.Title = "Viewing report";
Layout = "_Layout";
}

<a class="govuk-back-link" asp-action="Index" asp-controller="Reports">Go back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Viewing report
                <span class="govuk-caption-xl">@Model.SelectedReport?.ReportName</span>
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            @if (Model.SelectedReportData != null && Model.SelectedReportData.Any())
            {
                <div class="govuk-form-group">
                    <form class="report-selection-form" asp-action="Export" method="get">
                        @Html.HiddenFor(m => m.ReportId)
                        <button type="submit" class="button">Export</button>
                    </form>
                </div>
                <div class="govuk-form-group">
                    <div class="scrollable-table-scroll-container">
                        <div class="scrollable-table-container">
                            <table class="govuk-table staff-report-table table-font-xsmall">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        @foreach (var key in Model.SelectedReportData.First().Keys)
                                        {
                                            <th class="govuk-table__header" scope="col">@key</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    @foreach (var entry in Model.SelectedReportData)
                                    {
                                    <tr class="govuk-table__row">
                                        @foreach (var kvp in entry)
                                        {
                                            <td class="govuk-table__cell" data-label="@kvp.Key">@kvp.Value</td>
                                        }
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p class="govuk-body">No records present for this report.</p>
            }
        </div>
    </div>
</main>