@using SFA.DAS.AssessorService.Web.Staff.ViewModels
@model ReportViewModel

@{
ViewBag.Title = "Viewing report";
Layout = "_Layout";
}

<div class="grid-row">
  <div class="column-two-thirds">
    <a asp-action="Index" asp-controller="Reports" class="link-back">Go back</a>

    <h1 class="heading-xlarge">
      Viewing report
      <span class="heading-secondary">@Model.SelectedReport?.ReportName</span>
    </h1>
  </div>
  <div class="column-one-third">
    
  </div>
</div>

  @if (Model.SelectedReportData != null && Model.SelectedReportData.Any())
  {
  <div class="form-group">
    <form class="report-selection-form" asp-action="Export" method="get">
      @Html.HiddenFor(m => m.ReportId)
      <button type="submit" class="button">Download spreadsheet</button>
    </form>
  </div>
  @foreach (var entry in Model.SelectedReportData)
  {
  <table class="staff-report-table">
    <tbody>
      @foreach (var kvp in entry)
      {
      <tr>
        <td>@kvp.Key</td>
        <td class="numeric">@kvp.Value</td>
      </tr>
      }
    </tbody>
  </table>
  }
  }
  else
  {
  <div class="form-group">
    <h2 class="heading-medium">No records present for this report.</h2>
  </div>
  }

  @*
  *********
  *********
  THIS IS THE ORIGINAL WIDE TABLE.
  LEAVING IN UNTIL A TABLE FORMAT IS AGREED UPON.
  *********
  *********
  *@

  @*
  @if (Model.SelectedReportData != null && Model.SelectedReportData.Any())
  {
  <div class="form-group">
    <table class="table responsive-at-desktop table-font-xsmall">
      <thead>
        <tr>
          @foreach (var key in Model.SelectedReportData.First().Keys)
          {
          <th>@key</th>
          }
        </tr>
      </thead>
      <tbody>
        @foreach (var entry in Model.SelectedReportData)
        {
        <tr>
          @foreach (var kvp in entry)
          {
          <td data-label="@kvp.Key">@kvp.Value</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <form class="report-selection-form" asp-action="Export" method="get">
      @Html.HiddenFor(m => m.ReportId)
      <button type="submit" class="button">Export</button>
    </form>
  </div>
  }
  else
  {
  <div class="form-group">
    <h2 class="heading-large">No records present</h2>
  </div>
  }
  *@

</div>
</div>