@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, SFA.DAS.AssessorService.Web.Staff

@using SFA.DAS.AssessorService.Web.Staff.Domain
@model ScheduleConfigViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Create Schedule";
    Layout = "_Layout";
}

<a asp-action="Index" class="govuk-back-link">Go back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Create schedule</h1>

            <form class="apprentice-date-form" asp-action="Create" asp-controller="ScheduleConfig" method="post">
                @Html.HiddenFor(m => m.ScheduleType)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Date"></a></li>
                                <li><a sfa-validation-for="Day"></a></li>
                                <li><a sfa-validation-for="Month"></a></li>
                                <li><a sfa-validation-for="Year"></a></li>
                                <li><a sfa-validation-for="Hour"></a></li>
                                <li><a sfa-validation-for="Minute"></a></li>
                            </ul>
                        </div>
                    </div>
                }


                <div class="govuk-form-group js-date-container" sfa-anyvalidationerror-class="govuk-form-group--error">
                    <legend id="Date" class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Run time date
                    </legend>

                    <span class="govuk-hint">
                        For example, @(DateTime.UtcNow.AddDays(7).ToString("dd MM yyyy 'at' 12:00"))
                    </span>
                    <div class="error-message-container"></div>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Day">Day</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" sfa-validation-for="Day" sfa-validationerror-class="govuk-input--error" asp-for="Day" maxlength="2" />
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Month">Month</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" sfa-validation-for="Month" sfa-validationerror-class="govuk-input--error" asp-for="Month" maxlength="2" />
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Year">Year</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" sfa-validation-for="Year" sfa-validationerror-class="govuk-input--error" asp-for="Year" maxlength="4" />
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <p class="govuk-body">at</p>
                            </div>
                        </div>

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Day">Hour</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" sfa-validation-for="Hour" sfa-validationerror-class="govuk-input--error" asp-for="Hour" maxlength="2" />
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="Month">Minute</label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" sfa-validation-for="Minute" sfa-validationerror-class="govuk-input--error" asp-for="Minute" maxlength="2" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" class="inline">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Is this a recurring job?
                        </legend>

                        <div class="govuk-radios">
                            @foreach (var option in @Html.GetEnumSelectList<ScheduleInterval>())
                            {
                                <div class="govuk-radios__item" data-target="show-option-input">
                                    <input class="govuk-radios__input" asp-for="ScheduleInterval" id="options_@option.Text.Replace(" ", "")" type="radio" value="@option.Value" />
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="options_@option.Text.Replace(" ", "")">
                                        @option.Text
                                    </label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">Continue</button>
            </form>

        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("~/Views/ScheduleConfig/_DateScriptsPartial.cshtml"); }
}
