@using SFA.DAS.AssessorService.Web.Staff.Controllers
@using Humanizer
@model ScheduleConfigViewModel
@{
    ViewBag.Title = "Delete Schedule";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Go Back</a>

        <h1 class="heading-large">Delete Schedule</h1>

        @if (@Model != null && @Model.Id != Guid.Empty)
        {
            <div class="form-group">
                <span class="bold">Please Confirm Deletion: </span>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Is Recurring</th>
                        <th>Interval</th>
                        <th>Run Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.IsRecurring</td>
                        <td>@(Model.ScheduleInterval.HasValue ? Model.ScheduleInterval.Humanize(LetterCasing.Title) : Model.Interval)</td>
                        <td>@Model.RunTime</td>
                    </tr>
                </tbody>
            </table>

            <div>
                <form asp-action="Delete" asp-controller="ScheduleConfig" method="post">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ScheduleType)
                    <button class="button">Confirm</button>
                </form>
            </div>
        }
        else
        {
            <div class="form-group">
                <span class="bold">No Schedule Found.</span>
            </div>
        }

    </div>
</div>