@using Humanizer
@model IList<ScheduleConfigViewModel>
@{
    ViewBag.Title = "Print Schedule";
    Layout = "_Layout";
}
<a class="govuk-back-link" asp-action="Index" asp-controller="Dashboard">Return to dashboard</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Print schedule
                <span class="govuk-caption-xl">Next run scheduled: @if (Model.Any()) { @Model.First().RunTime; } else { @Html.Raw("Not Applicable"); }</span>
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            @if (!@Model.Where(m => !m.IsRecurring && m.RunTime <= DateTime.Now).Any())
            {
                <a class="govuk-button" asp-action="RunNow" asp-route-scheduleType="1">Run now</a>
            }

            @if (@Model.Any())
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>Is recurring</th>
                            <th>Interval</th>
                            <th>Run time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var result in @Model)
                        {
                            <tr>
                                <td>@result.IsRecurring</td>
                                <td>@(result.ScheduleInterval.HasValue ? result.ScheduleInterval.Humanize(LetterCasing.Title) : result.Interval)</td>
                                <td>@result.RunTime</td>
                                <td class="numeric"><a asp-action="Delete" asp-route-scheduleRunId="@result.Id">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
             
            }

            <p class="govuk-body">
                <a class="govuk-link" asp-action="Create">Create new</a>
            </p>
         

        </div>
    </div>
</main>