@model SFA.DAS.AssessorService.Web.ViewModels.Dashboard.DashboardViewModel
@using SFA.DAS.AssessorService.Settings
@using SFA.DAS.AssessorService.Web.Infrastructure
@using SFA.DAS.AssessorService.Web.StartupConfiguration
@inject ISessionService SessionService
@{
    ViewData["Title"] = "Home";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="dashboard-boxes">
                <div class="dashboard-box dashboard-box--green">
                    <div class="dashboard-box__content">
                        <div class="dashboard-box__header">
                            <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1">@Model.StandardsCount</p>
                            <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Standards</h2>
                        </div>
                        <div class="dashboard-box__body">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="OrganisationStandards" asp-action="Index">Standards approved to assess</a>
                                </li>
                                <li>
                                    <a class="govuk-link" asp-controller="ApplyToAccessStandard" asp-action="Index">Apply to assess a new standard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-box dashboard-box--lightblue">
                    <div class="dashboard-box__content">
                        <div class="dashboard-box__header">
                            <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1">@Model.PipelinesCount</p>
                            <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Pipeline</h2>
                        </div>
                        <div class="dashboard-box__body">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="OrganisationStandards" asp-action="Pipeline">View pipeline</a>
                                </li>
                                <li>
                                    <a class="govuk-link" asp-controller="Search" asp-action="Index">Record a grade</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-box dashboard-box--darkblue">
                    <div class="dashboard-box__content">
                        <div class="dashboard-box__header">
                            <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1">@Model.AssessmentsCount</p>
                            <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Completed Assessments</h2>
                        </div>
                        <div class="dashboard-box__body">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="CertificateHistory" asp-action="Index">Show completed assessments</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dashboard-box">
                    <div class="dashboard-box__content">
                        <div class="dashboard-box__header">
                            <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Organisation</h2>
                        </div>
                        <div class="dashboard-box__body">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="Organisation" asp-action="OrganisationDetails">View organisation details</a>
                                </li>
                                <li>
                                    <a class="govuk-link" sfa-policy-exists-show="@Policies.SuperUserPolicy" asp-controller="ManageUsers" asp-action="Index">Manage users</a>
                                </li>
                                <li>
                                    <a class="govuk-link" sfa-policy-exists-show="@Policies.ExternalApiAccess" asp-controller="ExternalApi" asp-action="Index">External API keys</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="column-one-half">
            <div class="dashboard-box">
                <div class="dashboard-box__content">
                    <div class="data data-custom">
                        <span class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Use the API</span>
                    </div>
                    <div sfa-policy-exists-show="@Policies.ExternalApiAccess">
                        <div class="data">
                            <span class="data-item-custom font-small">Connect your organisations own systems directly with the register for end point assessments.</span>
                        </div>
                        <div>
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="ExternalApi" asp-action="Index">External API keys</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div sfa-policy-not-exists-show="@Policies.ExternalApiAccess">
                        <div class="data">
                            <span class="data-item-custom font-small">Currently you lack privileges to connect your organisations own systems directly with the register for end point assessments.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

