@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserViewModel

<h1 class="heading-large">@Model.GivenNames @Model.FamilyName</h1>


<div>
    <label>Title</label>
    @Model.Title
</div>

<div>
    <label>First name</label>
    @Model.GivenNames
</div>

<div>
    <label>Family name</label>
    @Model.FamilyName
</div>

<div>
    <label>Email</label>
    @Model.Email
</div>

<div>
    <label>Telephone</label>
    @Model.PhoneNumber
</div>

<div>
    <label>Status</label>
    @Model.Status
</div>

<div>
    <label>Action required</label>
    @Model.ActionRequired
</div>