@using SFA.DAS.AssessorService.Domain.Consts
@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Edit user permissions";
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="UserDetails" asp-action="Details" asp-route-contactId="@Model.EditPrivilegesViewModel.ContactId">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <a href="#">@ViewData.ModelState.GetValueOrDefault("permissions").Errors.First().ErrorMessage</a>
                            </li>
                        </ul>
                    </div>
                </div>
            }

            <span class="govuk-caption-xl">Edit user permissions</span>
            <partial for="@Model" name="~/Views/ManageUsers/UserDetails/_UserDetails.cshtml"/>

            <form asp-controller="UserDetails" asp-action="EditPermissions" class="app-prevent-button-disabling">
                <input type="hidden" name="ContactId" value="@Model.EditPrivilegesViewModel.ContactId"/>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h2 class="govuk-fieldset__heading">
                                Permissions
                            </h2>
                        </legend>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" type="checkbox" id="viewDashboard" name="viewDashboard" value="true" checked disabled/>
                                <label class="govuk-label govuk-checkboxes__label" for="viewDashboard">View dashboard</label>
                            </div>
                            @for (int i = 0; i < Model.EditPrivilegesViewModel.PrivilegeViewModels.Length; i++)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input type="hidden" name="PrivilegeViewModels[@i].Privilege.Id" value="@Model.EditPrivilegesViewModel.PrivilegeViewModels[i].Privilege.Id"/>
                                    <input class="govuk-checkboxes__input" type="checkbox" id="PrivilegeViewModels[@i].Selected" name="PrivilegeViewModels[@i].Selected" value="true" @(Model.EditPrivilegesViewModel.PrivilegeViewModels[i].Selected ? "checked" : "")/>
                                    <label class="govuk-label govuk-checkboxes__label" for="PrivilegeViewModels[@i].Selected">@Model.AllPrivilegeTypes[i].UserPrivilege</label>
                                </div>
                            }
                        </div>
                    </fieldset>
                </div>
                @if (Model.Status == ContactStatus.InvitePending)
                {
                    <button class="govuk-button" type="submit" name="Button" value="Approve">Approve</button>
                    <button class="govuk-button govuk-button--secondary" name="Button" value="Reject">Reject</button>
                }
                else
                {
                    <button class="govuk-button" type="submit" name="Button" value="Save">Save</button>
                }
            </form>

        </div>
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dashboard-boxes">
                        <div class="dashboard-box">
                            <div class="dashboard-box__content">
                                <div class="dashboard-box__header">
                                    <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                                        What do you want to do next?
                                    </h2>
                                </div>
                                <div class="dashboard-box__body">
                                    <ul class="govuk-list">
                                        <li>
                                            <a class="govuk-link" asp-controller="ManageUsers" asp-action="Index">
                                                Return to list of users
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>