@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserViewModel

@{
    ViewBag.Title = "User";
}

<a asp-controller="ManageUsers" asp-action="Index">Back</a>

<span>User details</span>
<div>
    <div class="grid-row">
        <div class="column-full">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a href="#">@ViewData.ModelState.GetValueOrDefault("permissions").Errors.First().ErrorMessage</a></li>
                    </ul>
                </div>
            }
            
            <partial for="@Model" name="~/Views/ManageUsers/UserDetails/_UserDetails.cshtml"/>

            <form asp-controller="UserDetails" asp-action="EditPermissions">
                <input type="hidden" name="ContactId" value="@Model.EditPrivilegesViewModel.ContactId"/>
                <div>
                    <label>Permissions</label>
                    <ul>
                        @for (int i = 0; i < Model.EditPrivilegesViewModel.PrivilegeViewModels.Length; i++)
                        {
                            <li>
                                <input type="hidden" name="PrivilegeViewModels[@i].Privilege.Id" value="@Model.EditPrivilegesViewModel.PrivilegeViewModels[i].Privilege.Id"/>
                                <input type="checkbox" name="PrivilegeViewModels[@i].Selected" value="true" @(Model.EditPrivilegesViewModel.PrivilegeViewModels[i].Selected ? "checked" : "")/>@Model.AllPrivilegeTypes[i].UserPrivilege
                            </li>
                        }
                    </ul>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>