@model SFA.DAS.AssessorService.Api.Types.Models.ContactResponse

@{
    ViewBag.Title = "Remove user";
}

<a asp-controller="UserDetails" asp-action="User" asp-route-contactId="@Model.Id">Back</a>

<span>Remove user</span>

<h1 class="heading-large">@Model.GivenNames @Model.FamilyName</h1>

<div>
    <div class="grid-row">
        <div class="column-full">

            <span>Removing this user will mean they can no longer use the Apprenticeship assessment service. Are you sure you want to remove the user?</span>
            
            <form asp-controller="UserDetails" asp-action="RemoveConfirmed" asp-route-contactId="@Model.Id">
                <button type="submit" class="button">Remove user</button>
            </form>
            
            <a asp-controller="UserDetails" asp-action="User" asp-route-contactId="@Model.Id">Cancel</a>
        </div>
    </div>
</div>