@model SFA.DAS.AssessorService.Web.Controllers.ManageUsers.ViewModels.UserViewModel

@{
    ViewBag.Title = "User";
}


<a class="govuk-back-link" asp-controller="ManageUsers" asp-action="Index">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-xl">User details</span>
            <h1 class="govuk-heading-xl">@Model.GivenNames @Model.FamilyName</h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Title
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        First name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.GivenNames
                    </dd>
                </div>
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Family name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.FamilyName
                    </dd>
                </div>
        
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Email
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Email
                    </dd>
                </div>
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Telephone
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.PhoneNumber
                    </dd>
                </div>
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Status
                    </dd>
                </div>
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Action required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.ActionRequired
                    </dd>
                </div>
            
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        What can they do?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                                                <li>
                        View dashboard
                    </li>
                            @foreach (var privilege in Model.AssignedPrivileges)
                            {
                                <li>
                                    @privilege.Privilege.UserPrivilege
                                </li>
                            }
                        </ul>
                    </dd>
                </div>
            </dl>

        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="dashboard-boxes">
                <div class="dashboard-box">
                    <div class="dashboard-box__content">
                        <div class="dashboard-box__header">
                            <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                                Options
                            </h2>
                        </div>
                        <div class="dashboard-box__body">
                            <ul class="govuk-list">
                                <li>
                                    <a class="govuk-link" asp-controller="UserDetails" asp-action="EditPermissions" asp-route-userid="@Model.Id">
                                        Edit user permissions
                                    </a>
                                </li>
                                <li>
                                    <a class="govuk-link" asp-controller="UserDetails" asp-action="Remove" asp-route-userid="@Model.Id">
                                        Remove this user
                                    </a>
                                </li>
                                <li>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>