@using SFA.DAS.AssessorService.Domain.Paging
@using SFA.DAS.AssessorService.Api.Types.Models
@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder
@model OppFinderSearchViewModel

<h2 class="govuk-heading-m">Approved Standards</h2>
@{ var approvedTotalRecordCount = (Model?.ApprovedStandards.TotalRecordCount ?? 0); }
    <p class="govuk-body">
        @if (!string.IsNullOrEmpty(Model?.SearchTerm))
        {
            <span class="govuk-!-font-weight-bold">@approvedTotalRecordCount</span>
            @if (approvedTotalRecordCount == 1){<text> result</text>}else{<text> results</text>}
            <text> found</text>
        }
        else
        {
            <text><span class="govuk-!-font-weight-bold">@approvedTotalRecordCount</span> approved Standards found</text>
        }
    </p>
@if (approvedTotalRecordCount == 0)
{
    await Html.RenderPartialAsync("_NoSearchResults");
}
else
{
    <table class="govuk-table govuk-table--small">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <sfa-sortable-column-header 
                        class="approved-sort govuk-link"
                        data-sortColumn="@nameof(OppFinderApprovedSearchSortColumn.StandardName)"
                        asp-action="SortApprovedStandards"
                        asp-controller="OppFinder"
                        asp-fragment="approved"
                        sfa-sort-column="@nameof(OppFinderApprovedSearchSortColumn.StandardName)"
                        sfa-table-sort-column="@Model.ApprovedSortColumn"
                        sfa-sort-direction="@Model.ApprovedSortDirection"
                    >Approved Standards</sfa-sortable-column-header>
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-fifth">
                    <sfa-sortable-column-header 
                        class="approved-sort govuk-link"
                        data-sortColumn="@nameof(OppFinderApprovedSearchSortColumn.ActiveApprentices)"
                        asp-action="SortApprovedStandards"
                        asp-controller="OppFinder"
                        asp-fragment="approved"
                        sfa-sort-column="@nameof(OppFinderApprovedSearchSortColumn.ActiveApprentices)"
                        sfa-table-sort-column="@Model.ApprovedSortColumn"
                        sfa-sort-direction="@Model.ApprovedSortDirection"
                    >Active apprentices</sfa-sortable-column-header>
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-fifth">
                    <sfa-sortable-column-header 
                        class="approved-sort govuk-link"
                        data-sortColumn="@nameof(OppFinderApprovedSearchSortColumn.ActiveEPAOs)"
                        asp-action="SortApprovedStandards"
                        asp-controller="OppFinder"
                        asp-fragment="approved"
                        sfa-sort-column="@nameof(OppFinderApprovedSearchSortColumn.ActiveEPAOs)"
                        sfa-table-sort-column="@Model.ApprovedSortColumn"
                        sfa-sort-direction="@Model.ApprovedSortDirection"
                    >Active EPAOs</sfa-sortable-column-header>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if (Model?.ApprovedStandards != null)
            {
                @foreach (var approvedStandard in Model.ApprovedStandards.Items.ConvertAll(x => x as OppFinderApprovedSearchResult))
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a 
                                class="govuk-link"
                                asp-action="ShowApprovedStandardDetails" 
                                asp-controller="OppFinder" 
                                asp-route-standardReference="@approvedStandard.StandardReference">@approvedStandard.StandardName
                            </a>
                            <br/>
                            Version @approvedStandard.Versions
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@approvedStandard.ActiveApprentices</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">@approvedStandard.ActiveEPAOs</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model != null)
    {
        <form asp-action="ShowApprovedStandardsPerPage" asp-controller="OppFinder" method="get" asp-fragment="approved">
            <div class="das-flex-space-around">
                <div>
                    <select class="approved-per-page govuk-select govuk-!-margin-right-1" asp-for="ApprovedStandardsPerPage" asp-items="Model.StandardsPerPage"></select>
                    <label class="govuk-body" for="ApprovedStandardsPerPage">Standards per page</label>
                </div>
                <div class="das-pagination-links">
                    @{await Html.RenderPartialAsync("_PaginationLinksPartial", new OppFinderPaginationViewModel
                    {
                        Standards = Model.ApprovedStandards,
                        PageIndex = Model.ApprovedPageIndex,
                        ChangePageAction = "ChangePageApprovedStandards",
                        Fragment = "approved"
                    });}
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-3 js-hidden" type="submit">
                Update table
            </button>
        </form>
    }
}