@using SFA.DAS.AssessorService.Domain.Paging
@using SFA.DAS.AssessorService.Api.Types.Models
@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder
@model OppFinderSearchViewModel

<h2 class="govuk-heading-m">In-development Standards</h2>
<p class="govuk-body">Standards in development are being created by a Trailblazer group and are not yet approved for delivery.</p>
@{ var inDevelopmentTotalRecordCount = (Model?.InDevelopmentStandards.TotalRecordCount ?? 0); }
    <p class="govuk-body">
        @if (!string.IsNullOrEmpty(Model?.SearchTerm))
        {
            <span class="govuk-!-font-weight-bold">@inDevelopmentTotalRecordCount</span>
            @if (inDevelopmentTotalRecordCount == 1){<text> result</text>}else{<text> results</text>}
            <text> found</text>
        }
        else
        {
            <text><span class="govuk-!-font-weight-bold">@inDevelopmentTotalRecordCount</span> Standards in-development found</text>
        }
    </p>
@if (inDevelopmentTotalRecordCount == 0)
{
    await Html.RenderPartialAsync("_NoSearchResults");
}
else
{
    <table class="govuk-table govuk-table--small">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <sfa-sortable-column-header 
                        class="in-development-sort govuk-link"
                        data-sortColumn="@nameof(OppFinderSearchSortColumn.StandardName)"
                        asp-action="SortInDevelopmentStandards"
                        asp-controller="OppFinder"
                        asp-fragment="in-development"
                        sfa-sort-column="@nameof(OppFinderSearchSortColumn.StandardName)"
                        sfa-table-sort-column="@Model.InDevelopmentSortColumn"
                        sfa-sort-direction="@Model.InDevelopmentSortDirection"
                    >Standards in-development</sfa-sortable-column-header>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if (Model?.InDevelopmentStandards != null)
            {
                @foreach (var inDevelopmentStandard in Model.InDevelopmentStandards.Items)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a 
                                class="govuk-link"
                                asp-action="ShowInDevelopmentStandardDetails" 
                                asp-controller="OppFinder" 
                                asp-route-standardReference="@inDevelopmentStandard.StandardReference">
                                @inDevelopmentStandard.StandardName
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model != null)
    {
        <form asp-action="ShowInDevelopmentStandardsPerPage" asp-controller="OppFinder" method="get" asp-fragment="in-development">
            <div class="das-flex-space-around">
                <div>
                    <select class="in-development-per-page govuk-select" asp-for="InDevelopmentStandardsPerPage" asp-items="Model.StandardsPerPage"></select>
                    <label for="InDevelopmentStandardsPerPage">Standards per page</label>
                </div>
                <div class="das-pagination-links">
                    @{await Html.RenderPartialAsync("_PaginationLinksPartial", new OppFinderPaginationViewModel
                    {
                        Standards = Model.InDevelopmentStandards,
                        PageIndex = Model.InDevelopmentPageIndex,
                        ChangePageAction = "ChangePageInDevelopmentStandards",
                        Fragment = "in-development"
                    });}
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-3 js-hidden" type="submit">
                Update table
            </button>
        </form>
    }
}
