@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder
@model OppFinderPaginationViewModel

@if (Model != null)
{
    if (Model.Standards?.HasPreviousPage ?? false)
    {
        <a 
            class="@(Model.Fragment + "-page") govuk-link"
            aria-label="@("Previous " + Model.Fragment + " page")"
            data-pageIndex="@(Model.Standards.PageIndex-1)"
            asp-action="@Model.ChangePageAction"
            asp-controller="OppFinder"
            asp-route-pageIndex="@(Model.PageIndex-1)"
            asp-fragment="@Model.Fragment"
        >&laquo; Previous</a>
    }

    if ((Model.Standards?.TotalPages ?? 0) > 1)
    {
        for (int pageNumber = Model.Standards?.FirstVisiblePage ?? 0; pageNumber <= (Model.Standards?.LastVisiblePage ?? 0); pageNumber++)
        {
            if (pageNumber != Model.PageIndex)
            {
                <a 
                    class="@(Model.Fragment + "-page") govuk-link"
                    aria-label="@("Go to " + Model.Fragment + " page " + @pageNumber)"
                    data-pageIndex="@pageNumber"
                    asp-action="@Model.ChangePageAction"
                    asp-controller="OppFinder"
                    asp-route-pageindex="@pageNumber"
                    asp-fragment="@Model.Fragment"
                >@pageNumber</a>
            }
            else
            {
                <span class="govuk-body-s">@pageNumber</span>
            }
        }
    }

    if (Model.Standards?.HasNextPage ?? false)
    {
        <a 
            class="@(Model.Fragment + "-page") govuk-link"
            aria-label="@("Next " + Model.Fragment + " page")"
            data-pageIndex="@(Model.Standards.PageIndex+1)"
            asp-action="@Model.ChangePageAction"
            asp-controller="OppFinder"
            asp-route-pageIndex="@(Model.PageIndex+1)"
            asp-fragment="@Model.Fragment"
        >Next &raquo;</a>
    }
}
