@using SFA.DAS.AssessorService.Domain.Paging
@using SFA.DAS.AssessorService.Api.Types.Models
@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder
@model OppFinderSearchViewModel

@{ var proposedRecordCount = (Model?.ProposedStandards.TotalRecordCount ?? 0); }
    <p class="govuk-body">
        @if (!string.IsNullOrEmpty(Model?.SearchTerm))
        {
            <text>Showing </text>
            <span class="govuk-!-font-weight-bold">@proposedRecordCount</span>
            @if (proposedRecordCount == 1){<text> result</text>}else{<text> results</text>}
        }
        else
        {
            <text>Showing <span class="govuk-!-font-weight-bold">@proposedRecordCount</span> proposed Standards</text>
        }
    </p>
@if (proposedRecordCount == 0)
{
    await Html.RenderPartialAsync("_NoSearchResults");
}
else
{
    <table class="govuk-table govuk-table--small">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">
                    <sfa-sortable-column-header 
                        class="proposed-sort govuk-link"
                        data-sortColumn="@nameof(OppFinderSearchSortColumn.StandardName)"
                        asp-action="SortProposedStandards"
                        asp-controller="OppFinder"
                        asp-fragment="proposed"
                        sfa-sort-column="@nameof(OppFinderSearchSortColumn.StandardName)"
                        sfa-table-sort-column="@Model.ProposedSortColumn"
                        sfa-sort-direction="@Model.ProposedSortDirection"
                    >Proposed Standards</sfa-sortable-column-header>
                </th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @if (Model?.ProposedStandards != null)
            {
                @foreach (var proposedStandard in Model.ProposedStandards.Items)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a
                               class="govuk-link"
                               asp-action="ShowProposedStandardDetails" 
                               asp-controller="OppFinder" 
                               asp-route-standardReference="@proposedStandard.StandardReference"
                            >
                               @proposedStandard.StandardName
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @if (Model != null)
    {
        <form asp-action="ShowProposedStandardsPerPage" asp-controller="OppFinder" method="get" asp-fragment="proposed">
            <div class="das-flex-space-around">
                <div>
                        <select class="proposed-per-page govuk-select" asp-for="ProposedStandardsPerPage" asp-items="Model.StandardsPerPage"></select>
                        <span>Standards per page</span>
                </div>
                <div class="das-pagination-links">
                    @{await Html.RenderPartialAsync("_PaginationLinksPartial", new OppFinderPaginationViewModel
                    {
                        Standards = Model.ProposedStandards,
                        PageIndex = Model.ProposedPageIndex,
                        ChangePageAction = "ChangePageProposedStandards",
                        Fragment = "proposed"
                    });}
                </div>
            </div>
            <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 govuk-!-margin-top-3 js-hidden" type="submit">
                Update table
            </button>
        </form>
    }
}

