@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder;
@model OppFinderApprovedDetailsViewModel
@{
    ViewData["Title"] = "Find an assessment opportunity - " + @Model.StandardReference;
    Layout = "_OppFinderLayout";
}

<a 
    class="govuk-back-link"
    asp-controller="OppFinder"
    asp-action="ChangePageApprovedStandards"
    asp-route-pageIndex="@Model.PageIndex" asp-fragment="approved"
>
    Back
</a>
<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">
                Approved Standard
            </span>
            <h1 class="govuk-heading-xl">@Model.Title</h1>
            <p class="govuk-body">@Model.OverviewOfRole</p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Level</dt>
                    <dd class="govuk-summary-list__value">@Model.StandardLevel</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Reference</dt>
                    <dd class="govuk-summary-list__value">@Model.StandardReference</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Sector</dt>
                    <dd class="govuk-summary-list__value">@Model.Sector</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Typical duration</dt>
                    <dd class="govuk-summary-list__value">@string.Format("{0} months", Model.TypicalDuration)</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Approved for delivery</dt>
                    <dd class="govuk-summary-list__value">@Model.ApprovedForDelivery</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Maximum funding</dt>
                    <dd class="govuk-summary-list__value">@Model.MaxFunding</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Trailblazer contact</dt>
                    <dd class="govuk-summary-list__value">
                        @foreach(var trailblazer in @Model.Trailblazer)
                        {
                        @trailblazer<br />
                        }
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">External quality assurance (EQA) provider</dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EqaProvider
                    </dd>
                </div>
            </dl>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Full information on <a class="govuk-link" href="@Model.StandardPageUrl" target="_blank" rel="noopener noreferrer">@Model.Title</a>
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-8">
                Source: Institute for Apprenticeships and Technical Education
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Apprentices</h2>
        </div>
    </div>


    <div class="govuk-grid-row das-flex">
        <div class="govuk-grid-column-one-third das-highlight-box">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">@Model.TotalActiveApprentices</h1>
            <p class="govuk-body govuk-!-margin-bottom-0">Active</p>
        </div>
        <div class="govuk-grid-column-one-third das-highlight-box">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">@Model.TotalCompletedAssessments</h1>
            <p class="govuk-body govuk-!-margin-bottom-0">Completed assessments</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">End-point assessment organisations</h2>
        </div>
    </div>

    <!-- TABLE START -->

    <table class="govuk-table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Regions</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">EPAOs in region</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Active apprentices</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Completed assessments</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            @foreach(var regionResult in @Model.RegionResults)
            {
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">
                        @if ((regionResult.EndPointAssessorsNames?.Length ?? 0) > 0)
                        {
                            <div role="button" tabindex="0" class="js-expand-table-row expand-table-row"><i class="arrow arrow-closed">►</i> <span>@regionResult.Region</span></div>
                        }
                        else
                        {
                            @regionResult.Region
                        }
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@regionResult.EndPointAssessors</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@regionResult.ActiveApprentices</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">@regionResult.CompletedAssessments</td>
                </tr>
                <tr class="govuk-table__row js-expandble-cell expandble-cell expandble-cell--hidden" aria-hidden="true">
                    <td class="govuk-table__cell" colspan="4">
                        <div class="expandble-cell-content expandble-cell-content--no-border">
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                @if ((regionResult.EndPointAssessorsNames?.Length ?? 0) > 0)
                                {
                                    foreach (var region in regionResult.EndPointAssessorsNames)
                                    {
                                        <li>@region</li>
                                    }
                                }
                            </ul>
                        </div>
                    </td>
                </tr>
            }

            <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell govuk-table__cell--no-border"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--no-border"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--no-border"><span class="govuk-!-font-weight-bold">@Model.TotalActiveApprentices</span></td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-table__cell--no-border"><span class="govuk-!-font-weight-bold">@Model.TotalCompletedAssessments</span></td>
            </tr>
        </tbody>
    </table>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">
                Assessment numbers may vary because of data changes on the individualised learner record (ILR) and certificate service.
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-8">
                Source: ILR and Apprenticeship Service
            </p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @* THE EXPRESION OF INTEREST HAS BEEN TEMPORARILY REMOVED DUE TO BUSINESS ISSUES THIS CODE IS COMMENTED OUT TO PREVENT ACCESS
            <h2 class="govuk-heading-l">Not ready to apply</h2>
            <p class="govuk-body">
                If you think you are interested in assessing this Standard but not yet ready to apply, complete the
                <a class="govuk-link" asp-controller="OppFinder" asp-action="ExpressionOfInterest" asp-route-standardReference="@Model.StandardReference" asp-route-standardStatus="@StandardStatus.Approved" asp-route-backLink="true">expression of interest form</a>
            </p>
            *@
            <a class="govuk-button" href="/" target="_blank" rel="noopener noreferrer">Apply to assess this Standard</a>

            <p class="govuk-body govuk-!-margin-bottom-1">
                <a class="govuk-link" href="https://www.gov.uk/guidance/how-apprentices-in-england-are-assessed" target="_blank" rel="noopener noreferrer">How apprentices in England are assessed</a>
            </p>
            <p class="govuk-body">
                <a class="govuk-link" href="/" target="_blank" rel="noopener noreferrer">Apply to become an End-point assessment organisation</a>
            </p>
        </div>
    </div>

</main>