@using SFA.DAS.AssessorService.Web.ViewModels.OppFinder;
@model OppFinderNonApprovedDetailsViewModel
@{
    ViewData["Title"] = "Opportunity finder - " + @Model.StandardReference;
    Layout = "_OppFinderLayout";
}

<a 
    class="govuk-back-link" 
    asp-controller="OppFinder" 
    asp-action="@(Model.NonApprovedType == NonApprovedType.InDevelopment ? "ChangePageInDevelopmentStandards" : "ChangePageProposedStandards")" 
    asp-route-pageIndex="@Model.PageIndex" asp-fragment="@(Model.NonApprovedType == NonApprovedType.InDevelopment ? "in-development" : "proposed")"
>
    Back
</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>
            </p>
            <span class="govuk-caption-xl">
                @(Model.NonApprovedType == NonApprovedType.InDevelopment ? "Standard in-development" : "Proposed Standard")
            </span>
            <h1 class="govuk-heading-xl">@Model.Title</h1>
            <p class="govuk-body">@Model.OverviewOfRole</p>
            <dl class="govuk-summary-list govuk-!-margin-bottom-0">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Level</dt>
                    <dd class="govuk-summary-list__value">@Model.StandardLevel</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Reference</dt>
                    <dd class="govuk-summary-list__value">@Model.StandardReference</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Sector</dt>
                    <dd class="govuk-summary-list__value">@Model.Sector</dd>
                </div>
                @if (Model.NonApprovedType == NonApprovedType.InDevelopment)
                {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Typical duration</dt>
                    <dd class="govuk-summary-list__value">@string.Format("{0} months", Model.TypicalDuration)</dd>
                </div>
                }
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Trailblazer contact</dt>
                    <dd class="govuk-summary-list__value">
                    @foreach(var trailblazer in @Model.Trailblazer)
                    {
                        <a href="mailto:@trailblazer">@trailblazer</a><br/>
                    }
                    </dd>
                </div>
            </dl>
            <p class="govuk-body govuk-!-margin-top-4">
                Full information on <a href="@Model.StandardPageUrl" target="_blank" rel="noopener noreferrer">@Model.Title</a>
                <span class="govuk-caption-m">Source: Institute for Apprenticeships and Technical Education</span>
            </p>
            <h2 class="govuk-heading-m">Expression of interest</h2>
            <p class="govuk-body">If you think you are interested in assessing this Standard, complete the 
                <a href="https://www.smartsurvey.co.uk/s/which-standards/" target="_blank" rel="noopener noreferrer">Expression of interest form</a>
            </p>
            <p class="govuk-body">
                <a href="https://www.gov.uk/guidance/how-apprentices-in-england-are-assessed" target="_blank" rel="noopener noreferrer">How apprentices in England are assessed</a>
                <br />
                <a href="/" target="_blank" rel="noopener noreferrer">Apply to become an End-point assessment organisation</a>
            </p>
        </div>
    </div>
</main>