@model IEnumerable<SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateDetailApprovalViewModel>

<table class="table responsive table-font-xsmall">
    <thead>
        <tr>
            <th>Apprentice</th>
            <th>ULN</th>
            <th>Employer</th>
            <th>Training provider</th>
            <th>Date requested</th>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
        </tr>
    </thead>
    <tbody>
        @{
            var results = Model.ToList();
            var approvalresults = ViewData["ApprovalResults"] as SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateDetailApprovalViewModel[];
        }
        @for (int i = 0; i < results.Count; i++)
        {
            var j = (int) ViewData["Increment"] + i;

            <tr>
                <td data-label="Apprentice">
                    <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-uln="@results[i].Uln">
                        <i class="arrow arrow-closed">►</i>
                        <span>@results[i].FullName</span>
                    </div>
                </td>
                <td data-label="ULN">@results[i].Uln</td>
                <td data-label="Employer">@results[i].ContactOrganisation</td>
                <td data-label="Training provider">@results[i].TrainingProvider</td>
                <td data-label="Date requested">@results[i].CreatedAt.ToString("dd/MM/yyyy")</td>              
            </tr>

            if (results[i].Status == "Rejected")
            {
                <tr>
                    <td class="empty-table-cells" colspan="3"></td>
                    <td colspan="3" class="reject-label">
                        <span class="bold-xsmall">Reason for rejection</span>
                        <textarea class="form-control form-control--full" type="text" rows="5" asp-for=@approvalresults[j].ReasonForRejection></textarea>                                                                                              
                    </td>
                </tr>
            }

        {
            approvalresults[j].CertificateReference = results[i].CertificateReference;
        }

        @Html.HiddenFor(x => @approvalresults[j].CertificateReference)

        <tr class="js-expandble-cell js-hidden expandble-cell" aria-hidden="true">
            <td colspan="6">
                <div class="expandble-cell-content">
                    <h2 class="heading-medium expandble-cell-content--first-heading">Assessment details</h2>
                    <ul>
                        <li>
                            <p>
                                <span class="bold">Recorded by: </span> @Html.DisplayFor(modelItem => @results[i].RecordedBy)</p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Standard: :</span> @Html.DisplayFor(modelItem => @results[i].StandardName)</p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Level: </span> @Html.DisplayFor(modelItem => @results[i].Level)</p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Grade: </span> @Html.DisplayFor(modelItem => @results[i].OverallGrade)</p>
                        </li>

                        <li>
                            <p>
                                <span class="bold">Option: </span> @Html.DisplayFor(modelItem => @results[i].CourseOption)</p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Apprenticeship start date: </span>
                                @{
                                    var achievementStartDate = @results[i].LearningStartDate.HasValue ? @results[i].LearningStartDate.Value.ToString("dd/MM/yyyy") : "";
                                }
                                @achievementStartDate
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Achievement date: </span>
                                @{
                                    var achievementDate = @results[i].AchievementDate.HasValue ? @results[i].AchievementDate.Value.ToString("dd/MM/yyyy") : "";
                                }
                                @achievementDate
                            </p>
                        </li>
                        <li>
                            <p>
                                <span class="bold">Certificate number:</span> @Html.DisplayFor(modelItem => @results[i].CertificateReference)</p>
                        </li>
                    </ul>

                    <h2 class="heading-medium">Postage details: </h2>
                    <p>
                        The certificate was posted to this address:
                    </p>
                    <ul>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactName)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactOrganisation)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactAddLine1)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactAddLine2)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactAddLine3)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactAddLine4)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => @results[i].ContactPostCode)
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>