@using SFA.DAS.AssessorService.Domain.Consts
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SelectedStandardViewModel

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Learner start date</dt>
    <dd class="govuk-summary-list__value">@Model.LearnerStartDate</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">@(Model.OverallGrade == CertificateGrade.Fail ? "Failed date" : "Achievement date")</dt>
    <dd class="govuk-summary-list__value">@Model.AchievementDate</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Grade</dt>
    <dd class="govuk-summary-list__value">@Model.OverallGrade</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Recorded by</dt>
    <dd class="govuk-summary-list__value">@Model.SubmittedBy</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Date recorded</dt>
    <dd class="govuk-summary-list__value">@Model.SubmittedAt</dd>
</div>
