@model SFA.DAS.AssessorService.Web.ViewModels.Search.SelectedStandardViewModel

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Name</dt>
    <dd class="govuk-summary-list__value">@Model.GivenNames @Model.FamilyName</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key"><abbr title="Unique learner number">ULN</abbr></dt>
    <dd class="govuk-summary-list__value">@Model.Uln</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Standard</dt>
    <dd class="govuk-summary-list__value">@Model.Standard</dd>
</div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">Level</dt>
    <dd class="govuk-summary-list__value">@Model.Level</dd>
</div>

@if (!string.IsNullOrEmpty(Model.Version))
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Version</dt>
        <dd class="govuk-summary-list__value">@Model.Version</dd>
    </div>
}
else if (Model.OnlySingleVersion)
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Version</dt>
        <dd class="govuk-summary-list__value">@Model.Versions.First().Version</dd>
    </div>
}

@if (Model.OnlySingleOption)
{
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Option</dt>
        <dd class="govuk-summary-list__value">@Model.Versions.First().Options.First()</dd>
    </div>
}