@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchRequestViewModel

<form class="apprentice-search-form js-disable-on-submit" method="post" asp-controller="Search" asp-action="Index">

    <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
        </div>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li><a sfa-validation-for="Surname"></a></li>
                    <li><a sfa-validation-for="Uln"></a></li>
                </ul>
            </div>
        </div>
    }

    <h1 class="govuk-heading-xl">Record a grade</h1>

    <div class="info-summary">
        <h3 class="govuk-heading-m">@Localizer["SearchInfoSummary"]</h3>
    </div>

     <div class="govuk-form-group" sfa-validation-for="Surname" sfa-validationerror-class="govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="Surname">
            @Localizer["Lastname"]
        </label>
        <span id="Surname-hint" class="govuk-hint">@Localizer["LastnameHint"]</span>
        <span class="govuk-error-message" asp-validation-for="Surname"></span>
        <input class="govuk-input govuk-!-width-two-thirds" name="Surname" autocomplete="off" sfa-validation-for="Surname" sfa-validationerror-class="govuk-input--error" asp-for="Surname" type="text" maxlength="100" />
    </div>

     <div class="govuk-form-group" sfa-validation-for="Uln" sfa-validationerror-class="govuk-form-group--error">
        <label class="govuk-label govuk-label--m" for="Uln">
            <span class="form-label-bold">Unique learner number (<abbr title="Unique learner number">ULN</abbr>)</span>
        </label>
        <span id="Uln-hint" class="govuk-hint">@Localizer["UlnHint"]</span>
        <span class="govuk-error-message" asp-validation-for="Uln"></span>
        <input class="govuk-input govuk-input--width-10 js-integers-only" name="Uln" autocomplete="off" asp-for="Uln" type="text" sfa-validation-for="Uln" sfa-validationerror-class="govuk-input--error" maxlength="10" />
    </div>

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                What's a <abbr title="Unique learner number">ULN</abbr>?
            </span>
        </summary>
        <div class="govuk-details__text">
            The <abbr title="Unique learner number">ULN</abbr> is a 10-digit reference number. It's used to access the online Personal Learning Record (<abbr title="Personal Learning Record">PLR</abbr>) of anyone aged 14 and over in UK education or training, including apprenticeships.
        </div>
    </details>

    <div class="govuk-form-group">
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" name="IsPrivatelyFunded" asp-for="IsPrivatelyFunded" type="checkbox" type="checkbox" />
                <label class="govuk-label govuk-checkboxes__label" for="IsPrivatelyFunded">@Localizer["PrivatelyFunded"]</label>
            </div>
        </div>
    </div>

    <input class="govuk-button" id="button-search" type="submit" value="@Localizer["SearchButton"]">

    <details class="govuk-details">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                How do I know if the apprenticeship is privately funded?
            </span>
        </summary>
        <div class="govuk-details__text">
            <p class="govuk-body">The training provider and employer will know if the apprenticeship is privately funded.</p> 
            <p class="govuk-body">A privately funded apprenticeship doesn't receive government funding.</p>
        </div>
    </details>    

</form>