@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchRequestViewModel

<form class="apprentice-search-form js-disable-on-submit" method="post" asp-controller="Search" asp-action="Index">

    @* hidden with css by default *@
    <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There's a problem
        </h2>
        <ul class="js-error-summary-list error-summary-list"></ul>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                There's a problem
            </h2>
            <ul class="error-summary-list">
                <li><a sfa-validation-for="Surname"></a></li>
                <li><a sfa-validation-for="Uln"></a></li>
            </ul>
        </div>
    }

    <h1 class="heading-large">Record a grade</h1>

    <a href="https://localhost:6016/Applications">APPLY FOR A STANDARD</a>
    
    <div class="info-summary">
        <h3 class="heading-medium">@Localizer["SearchInfoSummary"]</h3>
    </div>

    <div class="form-group" sfa-validation-for="Surname" sfa-validationerror-class="form-group-error">
        <label class="form-label" for="Surname">
            <span class="form-label-bold">@Localizer["Lastname"]</span>
            <span class="form-hint">@Localizer["LastnameHint"]</span>
            <span class="error-message" asp-validation-for="Surname"></span>
        </label>
        <input class="form-control" name="Surname" autocomplete="off" sfa-validation-for="Surname" sfa-validationerror-class="form-control-error" asp-for="Surname" type="text" maxlength="100" />
    </div>

    <div class="form-group" sfa-validation-for="Uln" sfa-validationerror-class="form-group-error">
        <label class="form-label" for="Uln">
            <span class="form-label-bold">Unique learner number (<abbr title="Unique learner number">ULN</abbr>)</span>
            <span class="form-hint">@Localizer["UlnHint"]</span>
            <span class="error-message" asp-validation-for="Uln"></span>
        </label>
        <input class="form-control js-integers-only" name="Uln" autocomplete="off" asp-for="Uln" type="text" sfa-validation-for="Uln" sfa-validationerror-class="form-control-error" maxlength="10" />
    </div>

    <details>
        <summary><span class="summary">What's a <abbr title="Unique learner number">ULN</abbr>?</span></summary>
        <div class="panel panel-border-narrow" id="what-is-a-unique-learner-number">
            <p>The <abbr title="Unique learner number">ULN</abbr> is a 10-digit reference number. It's used to access the online Personal Learning Record (<abbr title="Personal Learning Record">PLR</abbr>) of anyone aged 14 and over in UK education or training, including apprenticeships.</p>
        </div>
    </details>

    @*
    <div class="form-group">
        <div class="multiple-choice">
            <input name="IsPrivatelyFunded" asp-for="IsPrivatelyFunded" type="checkbox" type="checkbox" />
            <label for="IsPrivatelyFunded">@Localizer["PrivatelyFunded"]</label>
        </div>
    </div>
    <details> 
        <summary><span class="summary">How do I know if the apprenticeship is privately funded?</span></summary> 
        <div class="panel panel-border-narrow" id="what-is-a-unique-learner-number"> 
            <p>The training provider and employer will know if the apprenticeship is privately funded.</p> 
            <p>A privately funded apprenticeship doesn't receive government funding and isn't subject to ESFA funding rules.</p> 
        </div> 
    </details>
    *@

    <div class="form-group">
        <input class="button" id="button-search" type="submit" value="@Localizer["SearchButton"]">
    </div>

</form>