@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchViewModel

@{
    ViewBag.Title = "Search results";
    Layout = "_Layout";
}

<a class="link-back" asp-controller="Search" asp-action="Index">Back</a>

<div class="grid-row">
    <div class="column-two-thirds">
        @if(Model.SearchResults.Count() == 1) {
            <hr>
                <p>Single result</p>
            <hr>
            <h1 class="heading-large">Confirm apprentice</h1>
            <div class="form-group">
                <fieldset>
                    <ul>
                        <li>
                            <p><span class="bold">Name:</span> @Model.SearchResults.First().Firstname @Model.SearchResults.First().Surname</p>
                        </li>
                        <li>
                            <p><span class="bold">ULN:</span> @Model.SearchResults.First().Uln</p>
                        </li>
                        <li>
                            <p><span class="bold">Standard:</span> @Model.SearchResults.First().Standard</p>
                        </li>
                    </ul>
                </fieldset>
            </div>
        }
        else
        {
            <hr>
                <p>Multiple results</p>
            <hr>
            <h1 class="heading-large">The apprentice is enrolled on more than one apprenticeship</h1>
            <p>Select the standard that you would like to record an assessment for.</p>
            <div class="form-group">
                <fieldset>
                    <ul>
                        <li>
                            <p><span class="bold">Name:</span> @Model.SearchResults.First().Firstname @Model.SearchResults.First().Surname</p>
                        </li>
                        <li>
                            <p><span class="bold">ULN:</span> @Model.SearchResults.First().Uln</p>
                        </li>
                    </ul>
                    @foreach (var result in Model.SearchResults)
                    {
                        <div class="multiple-choice">
                            <input id=@("standard_" + result.StandardId) type="radio" name="radio-group" value="@result.StandardId">
                            <label for=@("standard_" + result.StandardId)>@result.Standard</label>
                        </div>
                    }
                </fieldset>
            </div>
        }
        <div class="form-group" style="margin-top:25px;">
            <a href="/grade" class="button button-white">Start recording assessment</a>
        </div>    
    </div>
</div>

