@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Domain.Consts
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SelectedStandardViewModel

@{
    ViewBag.Title = (Model.CertificateReference == null && !Model.UlnAlreadyExists) ? "Confirm this is the correct apprentice" : "An assessment has already been recorded against this apprentice";
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="Search" asp-action="ChooseStandard">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.CertificateReference == null && !Model.UlnAlreadyExists )
            {
                <h1 class="govuk-heading-xl">Confirm this is the correct apprentice</h1>
                <form class="apprentice-search-result-form js-disable-on-submit" asp-controller="Certificate" asp-action="Start" method="post">
                    <div class="govuk-form-group">
                        <dl class="govuk-summary-list">

                            @(await Html.PartialAsync($"./_ApprenticeshipBasicInfoListRows.cshtml", Model))

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Learner start date</dt>
                                <dd class="govuk-summary-list__value">@Model.LearnerStartDate</dd>
                            </div>
                        </dl>
                        <p class="govuk-body">If the name, standard or level is incorrect, you need to agree on the correct details with the training provider and employer. Once the training provider updates the Individualised Learner Record (<abbr title="Individualised Learner Record">ILR</abbr>), return here and continue.</p>
                    </div>

                    @Html.HiddenFor(m => m.Uln)
                    @Html.HiddenFor(m => m.StdCode)
                    
                    <button class="govuk-button" type="submit">Confirm and continue</button>
                </form>

                <p class="govuk-body"><a class="govuk-link" asp-controller="Search" asp-action="Index">Search again</a> if this isn't the correct apprentice.</p>
            }
            else if (Model.OverallGrade == CertificateGrade.Fail)
            {
                <h1 class="govuk-heading-xl">Confirm this is the correct apprentice</h1>
                <form class="apprentice-search-result-form js-disable-on-submit" asp-controller="Certificate" asp-action="Start" method="post">
                    <div class="govuk-form-group">
                        <dl class="govuk-summary-list">

                            @(await Html.PartialAsync($"./_ApprenticeshipBasicInfoListRows.cshtml", Model))

                            @if (Model.ShowExtraInfo)
                            {
                                @(await Html.PartialAsync($"./_ApprenticeshipExtraInfoListRows.cshtml", Model))
                            }
                        </dl>
                        <p class="govuk-body">If the name, standard or level is incorrect, you need to agree on the correct details with the training provider and employer. Once the training provider updates the Individualised Learner Record (<abbr title="Individualised Learner Record">ILR</abbr>), return here and continue.</p>
                    </div>

                    @Html.HiddenFor(m => m.Uln)
                    @Html.HiddenFor(m => m.StdCode)

                    <button class="govuk-button" type="submit">Confirm and continue</button>

                </form>

                <p class="govuk-body"><a class="govuk-link" asp-controller="Search" asp-action="Index">Search again</a> if this isn't the correct apprentice.</p>
            }
            else if (Model.UlnAlreadyExists && Model.IsNoMatchingFamilyName)
            {
                <h1 class="govuk-heading-xl">An assessment has already been recorded against this ULN</h1>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><abbr title="Unique learner number">ULN</abbr></dt>
                        <dd class="govuk-summary-list__value">@Model.Uln</dd>
                    </div>
                </dl>

                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="Search" asp-action="Index">Search again</a>
                </p>
            }
            else
            {
                <h1 class="govuk-heading-xl">An assessment has already been recorded against this apprentice</h1>
                <dl class="govuk-summary-list">

                    @(await Html.PartialAsync($"./_ApprenticeshipBasicInfoListRows.cshtml", Model))

                    @if (Model.ShowExtraInfo)
                    {
                        @(await Html.PartialAsync($"./_ApprenticeshipExtraInfoListRows.cshtml", Model))
                    }
                </dl>

                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="Search" asp-action="Index">Search again</a>
                </p>
            }
        </div>
    </div>
</main>