@model IEnumerable<SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateDetailApprovalViewModel>

<table class="table table-font-xsmall">
    <thead>
    <tr>
        <th>Apprentice</th>
        <th>ULN</th>
        <th>Employer</th>
        <th>Training Provider</th>
        <th>Date Requested</th>
        <th>Approve/Reject</th>
    </tr>
    </thead>
    <tbody>

    @{
        var results = Model.ToList();
        var approvalresults = ViewData["ApprovalResults"] as SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateDetailApprovalViewModel[];
    }
    @for (int i = 0; i < results.Count; i++)
    {
        var j = (int) ViewData["Increment"] + i;

        <tr>
            <td>@results[i].FullName</td>
            <td>@results[i].Uln</td>
            <td>@results[i].ContactOrganisation</td>
            <td>@results[i].TrainingProvider</td>
            <td>@results[i].CreatedAt.ToString("dd/MM/yyyy")</td>
            <td>
                @{
                    approvalresults[j].IsApproved = results[i].IsApproved;
                }
                <select asp-for=@approvalresults[j].IsApproved
                        asp-items="@(new SelectList(@results[i].ApprovedRejected, "Value", "Text"))">
                </select>
            </td>
        </tr>

        {
            approvalresults[j].CertificateReference = results[i].CertificateReference;
        }

        @Html.HiddenFor(x => @approvalresults[j].CertificateReference)
    }
    </tbody>
</table>