@using SFA.DAS.AssessorService.Web.Staff
@model List<SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateApprovalViewModel>

@{ ViewBag.Title = "Staff Dashboard"; }

<form class="apprentice-approvals-form js-disable-on-submit" method="post" asp-controller="CertificateApprovals" asp-action="Approvals">
    <div class="grid-row">
        <div class="column-three-thirds" sfa-show-for-policy="@Startup.Policies.OperationsTeamOnly">

            <a class="link-back" asp-controller="CertificateAmend" asp-action="Check" >Back</a>


            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li>
                            <a sfa-validation-for="FirstName"></a>
                        </li>
                    </ul>
                </div>
            }


            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    Approve/Reject Privately Funded Certificates?
                </h1>

                @if (@Model.Count > 0)
                {
                    <table class="table table-font-xsmall">
                        <thead>
                        <tr>
                            <th>Certificate Reference</th>
                            <th>ULN</th>
                            <th>Standard</th>
                            <th>Approve</th>
                            <th>Reject</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var result in Model)
                        {
                            <tr>
                                @* <td><a asp-action="Select" asp-route-stdcode="@result.StandardCode" asp-route-uln="@result.Uln" asp-route-searchstring="@Model.SearchString" asp-route-page="@Model.StaffSearchResult.StaffSearchItems.PageIndex">@result.GivenNames @result.FamilyName</a></td> *@
                                <td>@result.CertificateReference</td>
                                <td>@result.Uln</td>
                                <td>@result.StandardCode</td>
                                <td>
                                    <input name="IsApproved" asp-for=@result.IsApproved type="checkbox" type="checkbox"/>
                                    @* <label for="IsApproved">Approved</label> *@
                                </td>
                                <td>
                                    <input name="IsRejected" asp-for=@result.IsRejected type="checkbox" type="checkbox"/>
                                    @* <label for="IsRejected">Rejected</label> *@
                                </td>

                            </tr>
                        }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/CertificateApprovals/_ApprovalsScriptsPartial.cshtml"); }
}