@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateApprovalViewModel
@using SFA.DAS.AssessorService.Web.Staff


@{ ViewBag.Title = "Staff Dashboard"; }

<div>
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li class="app-navigation--current-page">
                <a asp-controller="CertificateApprovals" asp-action="New">New</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="SentForApproval">Sent For Approval</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="Approved">Approved</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="Rejected">Rejected</a>
            </li>
        </ul>
    </nav>
</div>

<div class="grid-row">

    <div class="column-full">

        <form class="apprentice-approvals-form js-disable-on-submit" type="post" asp-controller="CertificateApprovals" asp-action="Approvals">
            <a class="link-back" asp-controller="Dashboard" asp-action="Index">Return to dashboard</a>

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There is a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                    </h2>
                    <ul class="error-summary-list"></ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    Privately Funded Certificates - New
                </h1>

                @{
                    var count = Model.ToBeApprovedCertificates.Items.Count();
                    var approvalResults =
                        new SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateDetailApprovalViewModel[count];
                    for (int i = 0; i < count; i++)
                    {
                        approvalResults[i] = new SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateDetailApprovalViewModel();
                    }
                }

                @if (@Model.ToBeApprovedCertificates.Items.Any())
                {
                    await Html.RenderPartialAsync("_ApprovalsDetailsPartial", Model.ToBeApprovedCertificates, new ViewDataDictionary(ViewData)
                            {
                                {
                                    "Increment", 0
                                },
                                { "ApprovalResults", approvalResults },
                                {"ActionHint","SentForApproval" }
                            });

                    <button type="submit" class="button">Submit</button>
                }
                else
                {
                    <div class="info-summary">
                        <h3 class="heading-medium">No new privately funded certificates found</h3>
                    </div>
                }

            </div>



        </form>
    </div>
</div>
@if (Model.ToBeApprovedCertificates.HasPreviousPage || Model.ToBeApprovedCertificates.HasNextPage)
{
    <div class="grid-row">
        <div class="column-full">
            <div class="page-navigation">

                @if (Model.ToBeApprovedCertificates.HasPreviousPage)
                {
                    <a asp-action="New"
                       asp-controller="CertificateApprovals"
                       asp-route-pageIndex="@(Model.ToBeApprovedCertificates.PageIndex - 1)"
                       class="previous">
                        <i class="arrow-button icon-left-open">&#xe800;</i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">@(Model.ToBeApprovedCertificates.PageIndex - 1)</span> of <span class="totalPage">@(Model.ToBeApprovedCertificates.TotalPages)</span></span>
                    </a>
                }

                @if (Model.ToBeApprovedCertificates.HasNextPage)
                {
                    <a asp-action="New"
                       asp-controller="CertificateApprovals"
                       asp-route-pageIndex="@(Model.ToBeApprovedCertificates.PageIndex + 1)"
                       class="next">
                        <i class="arrow-button icon-right-open">&#xe801;</i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">@(Model.ToBeApprovedCertificates.PageIndex + 1)</span> of <span class="totalPage">@(Model.ToBeApprovedCertificates.TotalPages)</span></span>
                    </a>
                }

            </div>
        </div>
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/CertificateApprovals/_ApprovalsScriptsPartial.cshtml"); }
}