@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Domain.Paging
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Private.CertificateApprovalViewModel

@{ ViewBag.Title = "Privately funded certificates - Sent for approval"; }

<a class="govuk-back-link" asp-controller="Dashboard" asp-action="Index">Return to dashboard</a>

<div>
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="New">New</a>
            </li>
            <li class="app-navigation--current-page">
                <a asp-controller="CertificateApprovals" asp-action="SentForApproval">Sent for approval</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="Approved">Approved</a>
            </li>
            <li class="app-navigation">
                <a asp-controller="CertificateApprovals" asp-action="Rejected">Rejected</a>
            </li>
        </ul>
    </nav>
</div>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @if (ViewData.ModelState.ErrorCount > 1)
                            {
                                <li>Please enter reasons for @ViewData.ModelState.ErrorCount rejections! </li>
                            }
                            else
                            {
                                <li>Please enter a reason for the rejection! </li>
                            }
                        </ul>
                    </div>
                </div>
            }


            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Privately funded certificates</span>
                Sent for approval
            </h1>

            @if (@Model.SentForApprovalCertificates?.Items.Any() ?? Model.ToBeApprovedCertificates.Items.Any())
            {
                <div class="govuk-form-group">
                    <form asp-controller="CertificateApprovals" asp-action="ExportSentForApproval" method="post">
                        <input type="hidden" name="status" id="status" value="ToBeApproved" />
                        <input type="hidden" name="privateFundingStatus" id="privateFundingStatus" value="SentForApproval"/>
                        <button type="submit" class="govuk-button">Export</button>
                    </form>
                </div>
            }

        </div>
    </div>

    <form class="apprentice-approvals-form js-disable-on-submit">

        @if (@Model.SentForApprovalCertificates?.Items.Any() ?? Model.ToBeApprovedCertificates.Items.Any())
        {
            await Html.RenderPartialAsync("_ApprovalsDetailsPartial", @Model.SentForApprovalCertificates ?? Model.ToBeApprovedCertificates, new ViewDataDictionary(ViewData)
            {
                {"Increment", 0},
                {"ApprovalResults", Model.SentForApprovalsResults()},
                {"ActionHint", "Approved"}
            });

            <button type="submit" class="govuk-button" role="button" id="submit-approval">Submit</button>
        }
        else
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">No privately funded certificates found for approval.</p>
                </div>
            </div>
        }
    </form>

    <form id="temp-form" type="post" asp-controller="CertificateApprovals" asp-action="Approvals">
        <input type="hidden" name="jsonString" id="jsonString"/>
    </form>

</main>

@{
    if (@Model.SentForApprovalCertificates != null)
    {
        await Html.RenderPartialAsync("_ApprovalPaginationLinks", new ViewDataDictionary(ViewData)
        {
            {"PageIndex", Model.SentForApprovalCertificates.PageIndex},
            {"TotalPages", Model.SentForApprovalCertificates.TotalPages},
            {"HasPreviousPage", Model.SentForApprovalCertificates.HasPreviousPage},
            {"HasNextPage", Model.SentForApprovalCertificates.HasNextPage},
            {"Action", "SentForApproval"}
        });
    }
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{ await Html.RenderPartialAsync("~/Views/CertificateApprovals/_ApprovalsScriptsPartial.cshtml"); }
}