@using SFA.DAS.AssessorService.ApplyTypes
@model SFA.DAS.AssessorService.ApplyTypes.ApplicationSequence

@{
    ViewBag.Title = "Assessment summary";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Application" asp-action="Application" asp-route-applicationId="@Model.ApplicationId">Back</a>
        <h1 class="heading-xlarge">Assessment summary</h1>

        <div class="form-group">
            <form asp-controller="Application" asp-action="Return" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId">
                @if (Model.Sections.All(s => !s.HasNewPageFeedback) && Model.Sections.All(s => !s.HasNewSectionFeedback))
                {
                    <div class="form-group">
                        <span>You are about to approve the first stage of this application, without comments. This means that the applicant will be able to apply for a standard. You are also satisfied with the information the applicant has provided so far, and require no further information.</span>
                    </div>

                    <div class="form-group">
                        <label class="form-label-bold">
                            Would you like to add any general comments?
                        </label>
                        <div class="multiple-choice" data-target="show-feedback-input">
                            <input name="ApproveWithComment" id="options_yes" type="radio" value="True" />
                            <label for="options_yes">
                                Yes, I want to add general comments
                            </label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="show-feedback-input">
                            @* TODO: Add comments to Sequence section *@
                            <textarea class="form-control form-control-full" rows="5"></textarea>
                        </div>
                        <div class="multiple-choice">
                            <input name="ApproveWithComment" id="options_no" type="radio" value="False" />
                            <label for="options_no">
                                No, I do not want to add any more comments
                            </label>
                        </div>
                    </div>

                    <button class="button" type="submit" name="ReturnType" value="Approve">Approve application</button>
                }
                else
                {
                    <div class="form-group">
                        <span>You are about to approve or reject the first stage of this application. If you approve the application, the applicant will be able to apply for a standard.</span>
                        <span>If you reject the application, the applicant will have to start a new application.</span>
                        <span>Before submitting you assessment back to the applicant, review the comments that you added.</span>
                    </div>

                    @foreach (var sec in Model.Sections)
                    {
                        var feedback = sec.QnAData.Feedback.FirstOrDefault(f => f.IsNew);
                        <div class="form-group">
                            <label class="form-label-bold">@sec.LinkTitle</label>
                            <span>@(feedback?.Message ?? "No comments.")</span>
                        </div>
                    }

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                    <div class="form-group">
                        <div data-target="show-feedbackcomment-input">
                            <input name="ApplyFeedbackComment" id="checkbox_feedbackcomment" type="checkbox" value="true" />
                            <label>
                                Add a general comment about the entire application
                            </label>
                        </div>
                        <div class="panel panel-border-narrow js-hidden" id="show-feedbackcomment-input">
                            @* TODO: Add comments to Sequence section *@
                            <textarea class="form-control form-control-full" name="FeedbackComment" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label-bold">
                            Is the application approved?
                        </label>
                        <div class="multiple-choice">
                            <input name="ReturnType" id="options_feedback" type="radio" value="ReturnWithFeedback" />
                            <label for="options_feedback">
                                No. Send feedback and stop
                            </label>
                        </div>
                        <div class="multiple-choice">
                            <input name="ReturnType" id="options_yes" type="radio" value="Approve" />
                            <label for="options_yes">
                                Yes. Send feedback and continue
                            </label>
                        </div>
                        @*
                        ** Commented out for now as Reject isn't part of the new process flow
                        <div class="multiple-choice">
                            <input name="ReturnType" id="options_no" type="radio" value="Reject" />
                            <label for="options_no">
                                No. Reject the application
                            </label>
                        </div>
                        *@
                    </div>

                    <button class="button" type="submit">Submit assessment</button>
                }
            </form>
        </div>

        <div class="form-group">
            <a asp-controller="Application" asp-action="Application" asp-route-applicationId="@Model.ApplicationId" class="govuk-button">Return to application overview</a>
        </div>
    </div>
</div>