@using SFA.DAS.AssessorService.Web.Staff.Helpers
@model List<dynamic>

@{
    ViewBag.Title = "New applications";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Application" asp-action="Dashboard">Back</a>
        <h1 class="heading-xlarge">New applications</h1>
         
            @if (Model != null && Model.Count > 0)
            {
                <div class="form-group">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Applying organisation</th>
                                <th>Status</th>
                                <th>Finance Status</th>
                                <th>Ready to feedback</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var appl in Model)
                            {
                                <tr>
                                    <td>@appl.Name</td>
                                    <td>@ApplicationReviewHelpers.TranslateApplicationStatus(appl.SequenceStatus.ToString())</td>
                                    <td>@ApplicationReviewHelpers.TranslateFinanceStatus(appl.FinanceStatus.ToString())</td>
                                    <td>@ApplicationReviewHelpers.ReadyToFeedback(appl.FinanceStatus.ToString(), appl.SequenceStatus.ToString())</td>
                                    <td><a asp-action="Application" asp-controller="Application" asp-route-applicationId="@appl.ApplicationId">@ApplicationReviewHelpers.ApplicationLink(appl.SequenceStatus.ToString())</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>There are no new applications at this time.</p>
            }
    </div>
</div>