@using SFA.DAS.AssessorService.Domain.Extensions;
@using SFA.DAS.AssessorService.Web.Staff.Helpers;
@using SFA.DAS.AssessorService.ApplyTypes;

@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Apply.Applications.DashboardViewModel

@{
    ViewBag.Title = "Account home  - Mid point assessments";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Applications</h1>
    </div>
</div>

<div class="grid-row">
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li class="app-navigation--current-page">
                <a asp-action="MidpointApplications" asp-controller="Application">Mid point assessments</a>
            </li>
            <li class="app-navigation">
                <a asp-action="StandardApplications" asp-controller="Application">Standard applications</a>
            </li>
            <li class="app-navigation">
                <a asp-action="RejectedApplications" asp-controller="Application">Rejected applications</a>
            </li>
            <li class="app-navigation">
                <a asp-action="ClosedApplications" asp-controller="Application">Completed applications</a>
            </li>
        </ul>
    </nav>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Mid point assessments
        </h1>

        @if (@Model.Applications.Items.Any())
        {
            <table class="table responsive table-font-xsmall table-spaced">
                <thead>
                    <tr>
                        <th>Organisation name</th>
                        <th>Financial review</th>
                        <th>Date submitted</th>
                        <th class="numeric">Current status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Applications.Items)
                    {
                        <tr>
                            <td data-label="Organisation name" class="nowrap">
                                <a asp-action="Application" asp-controller="Application" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                            </td>
                            <td data-label="Financial review">
                                @ApplicationReviewHelpers.TranslateFinancialStatus(item.FinancialStatus, item.FinancialGrade)
                            </td>
                            <td data-label="Date submitted">
                                @item.SubmittedDate.ToSfaShortDateString()
                            </td>
                            <td class="numeric" data-label="Current status">
                                @{
                                    switch (item.CurrentStatus)
                                    {
                                        case ApplicationSectionStatus.Submitted:
                                            <div class="govuk-tag govuk-tag--inactive">
                                                unassigned
                                            </div>
                                            break;
                                        case ApplicationSectionStatus.InProgress:
                                        case ApplicationSectionStatus.Evaluated:
                                            <div class="govuk-tag">
                                                in progress
                                            </div>
                                            break;
                                        case ApplicationSequenceStatus.Resubmitted:
                                            <div class="govuk-tag govuk-tag--updated">
                                                updated
                                            </div>
                                            break;
                                        default:
                                            <text>---</text>
                                            break;
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="info-summary">
                <h3 class="heading-medium">There are no open applications at this time.</h3>
            </div>
        }

    </div>
</div>

@if (Model.Applications.HasPreviousPage || Model.Applications.HasNextPage)
{
    <div class="grid-row">
        <div class="column-full">
            <div class="page-navigation">

                @if (Model.Applications.HasPreviousPage)
                {
                    <a asp-action="MidpointApplications"
                       asp-controller="Application"
                       asp-route-page="@(Model.Applications.PageIndex - 1)"
                       class="previous">
                        <i class="arrow-button icon-left-open">&#xe800;</i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">@(Model.Applications.PageIndex - 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                    </a>
                }

                @if (Model.Applications.HasNextPage)
                {
                    <a asp-action="MidpointApplications"
                       asp-controller="Application"
                       asp-route-page="@(Model.Applications.PageIndex + 1)"
                       class="next">
                        <i class="arrow-button icon-right-open">&#xe801;</i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">@(Model.Applications.PageIndex + 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                    </a>
                }
            </div>
        </div>
    </div>
}