@using SFA.DAS.AssessorService.Domain.Extensions;

@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Apply.Applications.DashboardViewModel

@{
    ViewBag.Title = "Account home  - Open applications";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Account home</h1>
    </div>
</div>

<div class="grid-row">
    <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
            <li class="app-navigation--current-page">
                <a asp-action="OpenApplications" asp-controller="Application">Open</a>
            </li>
            <li class="app-navigation">
                <a asp-action="ClosedApplications" asp-controller="Application">Closed</a>
            </li>
        </ul>
    </nav>
</div>

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-large">
            Open applications
        </h1>

        @if (@Model.Applications.Items.Any())
        {
            <table class="table responsive table-font-xsmall table-spaced">
                <thead>
                    <tr>
                        <th>Organisation name</th>
                        <th>Application type</th>
                        <th>Date submitted</th>
                        <th>Financial status</th>
                        <th>Current status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Applications.Items)
                    {
                        <tr>
                            <td data-label="Organisation name" class="nowrap">
                                <a asp-action="Application" asp-controller="Application" asp-route-applicationId="@item.ApplicationId">@item.OrganisationName</a>
                            </td>
                            <td data-label="Application type">
                                @item.ApplicationType
                            </td>
                            <td data-label="Date submitted">
                                @item.SubmittedDate.ToSfaShortDateString()
                            </td>
                            <td data-label="Financial status">
                                @(item.FinancialStatus ?? "---")
                            </td>
                            <td data-label="Current status">
                                @{
                                    switch (item.CurrentStatus?.ToLower())
                                    {
                                        case "submitted":
                                            <div class="govuk-tag govuk-tag--float-right">
                                                Unassigned
                                            </div>
                                            break;
                                        case "in progress":
                                            <div class="govuk-tag govuk-tag--float-right">
                                                In Progress
                                            </div>
                                            break;
                                        case "resubmitted":
                                            // This status doesn't exist as of yet
                                            <div class="govuk-tag govuk-tag--float-right">
                                                Updated
                                            </div>
                                            break;
                                        default:
                                            <text>---</text>
                                            break;
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="info-summary">
                <h3 class="heading-medium">There are no open applications at this time.</h3>
            </div>
        }

    </div>
</div>

@if (Model.Applications.HasPreviousPage || Model.Applications.HasNextPage)
{
    <div class="grid-row">
        <div class="column-full">
            <div class="page-navigation">

                @if (Model.Applications.HasPreviousPage)
                {
                    <a asp-action="OpenApplications"
                       asp-controller="Application"
                       asp-route-page="@(Model.Applications.PageIndex - 1)"
                       class="previous">
                        <i class="arrow-button icon-left-open">&#xe800;</i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">@(Model.Applications.PageIndex - 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                    </a>
                }

                @if (Model.Applications.HasNextPage)
                {
                    <a asp-action="OpenApplications"
                       asp-controller="Application"
                       asp-route-page="@(Model.Applications.PageIndex + 1)"
                       class="next">
                        <i class="arrow-button icon-right-open">&#xe801;</i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">@(Model.Applications.PageIndex + 1)</span> of <span class="totalPage">@(Model.Applications.TotalPages)</span></span>
                    </a>
                }
            </div>
        </div>
    </div>
}