@model SFA.DAS.AssessorService.ApplyTypes.Page

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

<a href="@Url.Action("Section", "Application", new {applicationId = Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId})" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1>@Model.Title</h1>

            @foreach (var pageOfAnswers in Model.DisplayAnswerPages)
            {
                <div>
                    @foreach (var answer in pageOfAnswers.DisplayAnswers)
                    {
                        <span>@answer.Label</span>
                        <span>@answer.Answer</span>
                    }
                </div>
            }

            @if (Model.HasFeedback)
            {
                <div>Feedback</div>
                foreach (var feedback in Model.Feedback)
                {
                    <div>
                        <p>@feedback.From - @feedback.Date.ToShortDateString()</p>
                        <p>@feedback.Message</p>
                    </div>
                }
            }

            <form asp-action="Feedback" asp-controller="Application" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@Model.PageId">
                <textarea name="message"></textarea>

                <button type="submit">Add feedback</button>
            </form>
        </div>
    </div>
</main>