@model SFA.DAS.AssessorService.ApplyTypes.Page

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}
@*
<table>
  <thead>
    <tr>
      <th scope="col">Month you apply</th>
      <th class="numeric" scope="col">Rate for vehicles</th>
      <th class="numeric" scope="col">Rate for bicycles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">January</th>
      <td class="numeric">£165.00</td>
      <td class="numeric">£85.00</td>
    </tr>
    <tr>
      <th scope="row">February</th>
      <td class="numeric">£165.00</td>
      <td class="numeric">£85.00</td>
    </tr>
    <tr>
      <th scope="row">March</th>
      <td class="numeric">£151.25</td>
      <td class="numeric">£77.90</td>
    </tr>
    <tr>
      <th scope="row">April</th>
      <td class="numeric">£136.10</td>
      <td class="numeric">£70.10</td>
    </tr>
  </tbody>
</table>
*@

<div class="grid-row">
    <div class="column-two-thirds">
        <a href="@Url.Action("Section", "Application", new {applicationId = Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId})" class="link-back">Back</a>
            <h1 class="heading-xlarge">@Model.Title</h1>

            @foreach (var pageOfAnswers in Model.DisplayAnswerPages)
            {
                <table class="form-group">
                    <thead>
                        <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var answer in pageOfAnswers.DisplayAnswers)
                        {
                            <tr>
                                <td>@answer.Label</td>
                                <td>@answer.Answer</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @if (Model.HasFeedback)
            {
                <h2 class="heading-large">Feedback</h2>
                foreach (var feedback in Model.Feedback)
                {
                    <div class="das-feedback">
                        <h3 class="heading-small">@feedback.From</h3>
                        <p class="font-xsmall">@feedback.Date.ToShortDateString()</p>
                        <p>@feedback.Message</p>
                    </div>
                }
                <hr />
            }

            <form asp-action="Feedback" asp-controller="Application" asp-route-applicationId="@Model.ApplicationId" asp-route-sequenceId="@Model.SequenceId" asp-route-sectionId="@Model.SectionId" asp-route-pageId="@Model.PageId">
                <div class="form-group">
                    <label class="form-label" for="message">
                        Feedback
                    </label>
                    <textarea class="form-control form-control-full" name="message" id="message" rows="15"></textarea>
                </div>
                <button class="button" type="submit">Add feedback</button>
            </form>
        </div>
    </div>
</main>