@model SFA.DAS.AssessorService.ApplyTypes.ApplicationSection

@{
    ViewBag.Title = @Model.Title;
    Layout = "_Layout";
}

    <div class="grid-row">
        <div class="column-full">
            <a href="@Url.Action("Application", "Application", new {applicationId = Model.ApplicationId})" class="link-back">Back</a>
            @if (Model == null)
            {
                <h1 class="heading-xlarge">Sequence not active</h1>
            }
            else
            {
                <h1 class="heading-xlarge">@Model.Title</h1>
                                                         
                <dl class="govuk-check-your-answers cya-questions-short form-group">
                    @foreach (var pg in Model.Pages.Where(p => p.Active))
                    {
                        <div class="govuk-check-your-answers__contents">
                            <dt class="cya-question heading-medium">
                                @pg.LinkTitle
                            </dt>
                            
                            <dd class="cya-answer">
                                @foreach (var answerPage in pg.DisplayAnswerPages)
                                {
                                        @foreach (var answer in answerPage.DisplayAnswers)
                                        {
                                            <h3 class="heading-small">@answer.Label</h3>
                                            <p>@answer.Answer</p>
                                        }
                                }
                            </dd>

                            <dd class="cya-change das-cya-change--responsive">
                                @if (pg.HasNewFeedback)
                                {
                                    <div class="govuk-tag form-group">
                                        Feedback added
                                    </div>
                                }
                                @if (pg.HasReadFeedback)
                                {
                                    <div class="govuk-tag form-group">
                                        Answer updated
                                    </div>
                                }

                                <p>
                                    <a class="nowrap" href="@Url.Action("Page", "Application", new {applicationId = Model.ApplicationId, sequenceId = Model.SequenceId, sectionId = Model.SectionId, pageId = pg.PageId})">
                                        @if (pg.HasNewFeedback)
                                        {
                                            <text>View or add feedback</text>
                                        }
                                        else
                                        {
                                            <text>Add feedback</text>
                                        }
                                    </a>
                                </p>
                            </dd>
                        </div>
                    }
                </dl>

                <a href="@Url.Action("Application", "Application", new {applicationId = Model.ApplicationId})" class="govuk-button">Return to application overview</a>
            }
        </div>
    </div>