@using SFA.DAS.AssessorService.ApplyTypes
@model SFA.DAS.AssessorService.ApplyTypes.ApplicationSequence

@{
    ViewBag.Title = "Application overview";

    var OpenStatusList = new string[] { ApplicationSequenceStatus.Submitted, ApplicationSequenceStatus.FeedbackAdded };
    var BackAction = (Model == null || OpenStatusList.Contains(Model.Status)) ? "OpenApplications" : "ClosedApplications";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a class="link-back" asp-controller="Application" asp-action="@BackAction">Back</a>
        @if (Model == null)
        {
            <h1 class="heading-xlarge">Sequence not active</h1>
        }
        else
        {
            <h1 class="heading-xlarge">Application overview</h1>
            <ul class="govuk-list">
                @foreach (var applicationSection in Model.Sections.OrderBy(s => s.SectionId))
                {
                    <li>
                        @if (applicationSection.HasNewPageFeedback)
                        {
                            <div class="govuk-tag govuk-tag--float-right">
                                Feedback added
                            </div>
                        }
                        @if (applicationSection.Status == ApplicationSectionStatus.Evaluated)
                        {
                            <div class="govuk-tag govuk-tag--float-right">
                                Evaluated
                            </div>
                        }
                        <h2 class="heading-medium heading-medium--small-margin-bottom">
                            <a href="@Url.Action("Section", "Application", new {applicationSection.ApplicationId, applicationSection.SequenceId, applicationSection.SectionId})">
                                @applicationSection.LinkTitle
                            </a>
                        </h2>
                        <span class="form-hint form-hint--margin-bottom">
                            @applicationSection.PagesComplete of @applicationSection.PagesActive questions completed
                        </span>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    </li>
                }
            </ul>
        }

        <div class="form-group">
            <a class="govuk-button" asp-controller="Application" asp-action="@BackAction">Return to account home</a>
        </div>
    </div>
</div>