@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateAddressViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Certificate destination";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
    <a asp-controller="CertificateCheck" asp-action="Check" class="govuk-back-link">Back</a>
}
else
{
    <a asp-controller="CertificateDate" asp-action="Date" class="govuk-back-link">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="apprentice-address-form js-disable-on-submit" method="post" asp-controller="CertificateAddress"
                    asp-action="Address">
                @Html.HiddenFor(c => c.Id)
                @Html.HiddenFor( c=> c.IsPrivatelyFunded)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Employer"></a></li>
                                <li><a sfa-validation-for="AddressLine1"></a></li>
                                <li><a sfa-validation-for="City"></a></li>
                                <li><a sfa-validation-for="Postcode"></a></li>
                            </ul>
                        </div>
                    </div>
                }


                @if (Model.EditForm)
                {
                    <h1 class="govuk-heading-xl">
                        @(Localizer["EditHeading"])
                    </h1>
                }
                else
                {
                    <h1 class="govuk-heading-xl">
                        <span class="js-search-address-heading hidden">@(Localizer["SearchHeading"])</span>
                        <span class="js-manual-address-heading hidden">@(Localizer["ManualHeading"])</span>
                        <span class="js-hidden">@(Localizer["NoJsHeading"])</span>
                    </h1>
                    <p class="govuk-body">@Localizer["Lead"]</p>
                }


                @if (!Model.EditForm)
                {
                    <div id="address-lookup" class="hide-nojs form-group disabled">
                        <div class="govuk-form-group" id="addressInputWrapper">
                            <label for="postcode-search" class="govuk-label govuk-label--m">@Localizer["PostcodeLookup"]</label>
                            <input id="postcode-search" name="postcodeSearch" type="text" class="govuk-input" spellcheck="false" autocomplete="off" autocorrect="off" disabled="disabled"/>
                            <span class="govuk-visually-hidden" id="ariaAddressEntered" aria-live="polite"></span>
                        </div>
                        <div class="govuk-form-group" id="address-manual">
                            <p class="govuk-body"><a class="govuk-link" href="#" id="enterAddressManually">Enter the address manually</a></p>
                            <p class="govuk-body toggle-content loading-text" id="addressLoading">Loading address...</p>
                            <p id="postcodeServiceUnavailable" class="govuk-body error toggle-content text">Service is currently unavailable, please enter the address manually</p>
                        </div>
                    </div>

                    <div class="info-highlighted js-address-panel hidden">
                        <ul class="govuk-list"></ul>
                    </div>


                    if (!String.IsNullOrEmpty(Model.PreviousAddress?.StringifiedAddress))
                    {
                        <div class="govuk-form-group js-select-previous-address">
                            <p class="govuk-body govuk-!-margin-bottom-2">@Localizer["UseLastAddress"]</p>
                            <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" name="SelectPreviousAddress" asp-for="SelectPreviousAddress" type="checkbox"/>
                                    <label class="govuk-label govuk-checkboxes__label" for="SelectPreviousAddress">
                                        @Model.PreviousAddress.StringifiedAddress
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                }

                <div id="addressManualWrapper">
                    <div id="address-details" class="address-manual-input js-hidden">
                        <div class="govuk-form-group" sfa-validation-for="Employer" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="Employer">
                                @Localizer["Employer"]
                            </label>
                            <span class="govuk-error-message" asp-validation-for="Employer"></span>
                            <input class="govuk-input govuk-!-width-two-thirds" name="Employer" sfa-validation-for="Employer" sfa-validationerror-class="govuk-input--error" asp-for="Employer" type="text" />
                        </div>

                        <div class="govuk-form-group address-item" sfa-validation-for="AddressLine1" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="AddressLine1">
                                @Localizer["Address"] <span class="govuk-visually-hidden">line 1 of 3</span>
                            </label>
                            <span class="govuk-error-message" asp-validation-for="AddressLine1"></span>
                            <input autocomplete="off" class="govuk-input" name="AddressLine1" sfa-validation-for="AddressLine1" sfa-validationerror-class="govuk-input--error" asp-for="AddressLine1" type="text" />
                        </div>

                        <div class="govuk-form-group address-item" sfa-validation-for="AddressLine2" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="AddressLine2">
                                <span class="govuk-visually-hidden">@Localizer["AddressLine2"]</span>
                            </label>
                            <span class="govuk-error-message" asp-validation-for="AddressLine2"></span>
                            <input autocomplete="off" class="govuk-input" name="AddressLine2" sfa-validation-for="AddressLine2" sfa-validationerror-class="govuk-input--error" asp-for="AddressLine2" type="text" />
                        </div>
                        <div class="govuk-form-group address-item" sfa-validation-for="AddressLine3" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="AddressLine3">
                                <span class="govuk-visually-hidden">@Localizer["AddressLine3"]</span>
                            </label>
                            <span class="govuk-error-message" asp-validation-for="AddressLine3"></span>
                            <input autocomplete="off" class="govuk-input" name="AddressLine3" sfa-validation-for="AddressLine3" sfa-validationerror-class="govuk-input--error" asp-for="AddressLine3" type="text" />
                        </div>
                        <div class="govuk-form-group address-item" sfa-validation-for="City" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="City">
                                @Localizer["City"]
                            </label>
                            <span class="govuk-error-message" asp-validation-for="City"></span>
                            <input autocomplete="off" class="govuk-input govuk-!-width-two-thirds" name="City" sfa-validation-for="City" sfa-validationerror-class="govuk-input--error" asp-for="City" type="text" />
                        </div>
                        <div class="govuk-form-group address-item" sfa-validation-for="Postcode" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="Postcode">
                                @Localizer["Postcode"]
                            </label>
                            <span class="govuk-error-message" asp-validation-for="Postcode"></span>
                            <input autocomplete="off" class="govuk-input govuk-input--width-10 js-no-special-chars" name="Postcode" sfa-validation-for="Postcode" sfa-validationerror-class="govuk-input--error" asp-for="Postcode" type="text" />
                        </div>
                    </div>
                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}