@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateAddressViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Address summary";
    Layout = "_Layout";
}

@if (String.IsNullOrEmpty(@Model.Employer))
{
    Model.ValidateEmployee = true;
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else
        {
            <a class="link-back" asp-controller="CertificateAddress" asp-action="Address">Back</a>
        }

        <form class="apprentice-address-form" type="post" asp-controller="CertificateAddressSummary">
            @Html.HiddenFor(c => c.Id)
            @Html.HiddenFor(c => c.ValidateEmployee)
            @Html.HiddenFor(c => c.AddressLine1)
            @Html.HiddenFor(c => c.AddressLine2)
            @Html.HiddenFor(c => c.AddressLine3)
            @Html.HiddenFor(c => c.City)
            @Html.HiddenFor(c => c.Postcode)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Employer"></a></li>
                    </ul>
                </div>
            }

            <h1 class="heading-large">
                @Localizer["Heading"]
            </h1>

            <div class="info-highlighted">
                <ul>
                    <li>
                        <span>@Model.Employer</span>
                    </li>
                    <li>
                        <span>@Model.AddressLine1</span>
                    </li>
                    <li>
                        <span>@Model.AddressLine2</span>
                    </li>
                    <li>
                        <span>@Model.AddressLine3</span>
                    </li>
                    <li>
                        <span>@Model.City</span>
                    </li>
                    <li>
                        <span>@Model.Postcode</span>
                    </li>
                </ul>
            </div>

            <p>
                <a asp-controller="CertificateAddress" asp-action="Address">@Localizer["EditThisAddress"]</a>
            </p>
            <p>
                <a asp-controller="CertificateAddress" asp-action="ResetAddress">@Localizer["FindANewAddress"]</a>
            </p>

            @if (String.IsNullOrEmpty(@Model.Employer))
            {
                <div class="form-group address-item" sfa-validation-for="Employer" sfa-validationerror-class="form-group-error">
                    <label for="Employer">
                        <span class="form-label-bold">@Localizer["Employer"]</span>
                        <span class="error-message" asp-validation-for="Employer"></span>
                    </label>
                    <input autocomplete="off" class="form-control" name="Employer" sfa-validation-for="Employer" sfa-validationerror-class="form-control-error" asp-for="Employer" type="text" />
                </div>
            }

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}