@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateAddressViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Certificate destination";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a asp-controller="CertificateCheck" asp-action="Check" class="link-back">Back</a>
        }
        else
        {
            <a asp-controller="CertificateDate" asp-action="Date" class="link-back">Back</a>
        }

        <form class="apprentice-address-form" type="post" asp-controller="CertificateAddress"
              asp-action="Address">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Employer"></a></li>
                        <li><a sfa-validation-for="AddressLine1"></a></li>
                        <li><a sfa-validation-for="City"></a></li>
                        <li><a sfa-validation-for="Postcode"></a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    @(!Model.EditForm ? Localizer["Heading"] : Localizer["EditEmployersAddress"])
                </h1>

                <span class="body-text">@Localizer["Lead"]</span>

                @if (!Model.EditForm)
                {
                    <div id="address-lookup" class="hide-nojs form-group disabled">
                        <div class="form-group form-group-compound" id="addressInputWrapper">
                            <label for="postcode-search" class="form-label-bold">@Localizer["PostcodeLookup"]</label>
                            <input id="postcode-search" name="postcodeSearch" type="text" class="form-control" spellcheck="false" autocorrect="off" disabled="disabled" />
                            <span class="visuallyhidden" id="ariaAddressEntered" aria-live="polite"></span>
                        </div>
                        <div id="address-manual" class="form-group form-group-compound">
                            <a href="#" id="enterAddressManually">Enter the address manually</a>
                            <span class="toggle-content loading-text" id="addressLoading">Loading address...</span>
                            <p id="postcodeServiceUnavailable" class="error toggle-content text">Service is currently unavailable, please enter the address manually</p>
                        </div>
                    </div>

                    <div class="info-highlighted js-address-panel hidden">
                        <ul></ul>
                    </div>
                }
                
                @if (!String.IsNullOrEmpty(Model.PreviousAddress?.StringifiedAddress) && (!Model.EditForm && !Model.ResetForm))
                {
                    <div class="form-group js-select-previous-address">
                        <span class="form-label-bold">@Localizer["UseLastAddress"]</span>
                        <div class="multiple-choice">
                            <input name="SelectPreviousAddress" asp-for="SelectPreviousAddress" type="checkbox" />
                            <label for="SelectPreviousAddress">@Model.PreviousAddress.StringifiedAddress</label>
                        </div>
                    </div>                  
                }

                <div id="addressManualWrapper">
                    <div id="address-details" class="address-manual-input js-hidden">
                        <div class="form-group" sfa-validation-for="Employer" sfa-validationerror-class="form-group-error">
                            <label for="Employer">
                                <span class="form-label-bold">@Localizer["Employer"]</span>
                                <span class="error-message" asp-validation-for="Employer"></span>
                            </label>
                            <input class="form-control" name="Employer" sfa-validation-for="Employer" sfa-validationerror-class="form-control-error" asp-for="Employer" type="text" />
                        </div>

                        <div class="form-group-compound address-item form-group" sfa-validation-for="AddressLine1" sfa-validationerror-class="form-group-error">
                            <label for="AddressLine1">
                                <span class="form-label-bold">@Localizer["Address"]</span>
                                <span class="error-message" asp-validation-for="AddressLine1"></span>
                            </label>
                            <input autocomplete="off" class="form-control" name="AddressLine1" sfa-validation-for="AddressLine1" sfa-validationerror-class="form-control-error" asp-for="AddressLine1" type="text" />
                        </div>

                        <div class="form-group-compound address-item form-group" sfa-validation-for="AddressLine2" sfa-validationerror-class="form-group-error">
                            <label for="AddressLine2">
                                <span class="form-label-bold">@Localizer["AddressLine2"]</span>
                                <span class="error-message" asp-validation-for="AddressLine2"></span>
                            </label>
                            <input autocomplete="off" class="form-control" name="AddressLine2" sfa-validation-for="AddressLine2" sfa-validationerror-class="form-control-error" asp-for="AddressLine2" type="text" />
                        </div>
                        <div class="form-group-compound address-item form-group" sfa-validation-for="AddressLine3" sfa-validationerror-class="form-group-error">
                            <label for="AddressLine3">
                                <span class="form-label-bold">@Localizer["AddressLine3"]</span>
                                <span class="error-message" asp-validation-for="AddressLine3"></span>
                            </label>
                            <input autocomplete="off" class="form-control" name="AddressLine3" sfa-validation-for="AddressLine3" sfa-validationerror-class="form-control-error" asp-for="AddressLine3" type="text" />
                        </div>
                        <div class="form-group-compound address-item form-group" sfa-validation-for="City" sfa-validationerror-class="form-group-error">
                            <label for="City">
                                <span class="form-label-bold">@Localizer["City"]</span>
                                <span class="error-message" asp-validation-for="City"></span>
                            </label>
                            <input autocomplete="off" class="form-control" name="City" sfa-validation-for="City" sfa-validationerror-class="form-control-error" asp-for="City" type="text" />
                        </div>
                        <div class="address-item form-group" sfa-validation-for="Postcode" sfa-validationerror-class="form-group-error">
                            <label for="Postcode">
                                <span class="form-label-bold">@Localizer["Postcode"]</span>
                                <span class="error-message" asp-validation-for="Postcode"></span>
                            </label>
                            <input autocomplete="off" class="form-control js-no-special-chars" name="Postcode" sfa-validation-for="Postcode" sfa-validationerror-class="form-control-error" asp-for="Postcode" type="text" />
                        </div>

                    </div>
                </div>
            </div>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}