@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateAddressViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Address summary";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
    <a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="CertificateAddress" asp-action="Address" asp-route-edit="true">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="apprentice-address-form js-disable-on-submit" method="post" asp-controller="CertificateAddressSummary">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                <h1 class="govuk-heading-xl">
                    @Localizer["Heading"]
                </h1>

                <div class="info-highlighted">
                    <ul class="govuk-list">
                        <li>
                            <span>@Model.Employer</span>
                        </li>
                        <li>
                            <span>@Model.AddressLine1</span>
                        </li>
                        <li>
                            <span>@Model.AddressLine2</span>
                        </li>
                        <li>
                            <span>@Model.AddressLine3</span>
                        </li>
                        <li>
                            <span>@Model.City</span>
                        </li>
                        <li>
                            <span>@Model.Postcode</span>
                        </li>
                    </ul>
                </div>

                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="CertificateAddress" asp-action="Address" asp-route-edit="true">@Localizer["EditThisAddress"]</a>                
                </p>
                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="CertificateAddress" asp-action="ResetAddress">@Localizer["FindANewAddress"]</a>
                </p>


                <div class="govuk-form-group" sfa-validation-for="Employer" sfa-validationerror-class="govuk-form-group--error">              
                    @Html.HiddenFor(x => x.Name)
                    @Html.HiddenFor(x => x.AddressLine1)
                    @Html.HiddenFor(x => x.AddressLine2)
                    @Html.HiddenFor(x => x.AddressLine3)
                    @Html.HiddenFor(x => x.City)
                    @Html.HiddenFor(x => x.Postcode)

                    @if (String.IsNullOrEmpty(@Model.Employer))
                    {
                        <div class="address-item" sfa-validation-for="Employer" sfa-validationerror-class="govuk-form-group--error">
                            <label class="govuk-label" for="Employer">
                                @Localizer["Employer"]
                            </label>
                            <span class="govuk-error-message" asp-validation-for="Employer"></span>
                            <input class="govuk-input" autocomplete="off" name="Employer" sfa-validation-for="Employer" sfa-validationerror-class="govuk-input--error" asp-for="Employer" type="text" />
                        </div>
                    }
                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>
            </form>

        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}