@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateAddressViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Certificate destination";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else
        {
            <a asp-controller="CertificateAddress" asp-action="Address" class="link-back">Back</a>
        }
        
        <form class="apprentice-address-form" type="post" asp-controller="CertificateAddressSummary">
        @Html.HiddenFor(c => c.Id)

        @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>
            
            <div class="well">
                <ul>
                    <li>
                        <span>@Model.AddressLine1</span>
                    </li>
                    <li>
                        <span>@Model.AddressLine2</span>
                    </li>
                    <li>
                        <span>@Model.AddressLine3</span>
                    </li>
                    <li>
                        <span>@Model.City</span>
                    </li>
                    <li>
                        <span>@Model.Postcode</span>
                    </li>
                </ul>
                
                <p>
                    <a asp-controller="CertificateAddress" asp-action="Address" class="link-back">@Localizer["EditThisAddress"]</a>                    
                    <a asp-controller="CertificateAddress" asp-action="ResetAddress" class="link-back">@Localizer["FindANewAddress"]</a>                    
                </p>
                
                <div class="form-group-compound address-item form-group" sfa-validation-for="Employer" sfa-validationerror-class="form-group-error">
                    <label for="Employer">
                        <span class="form-label-bold">@Localizer["Employer"]</span>
                        <span class="error-message" asp-validation-for="Employer"></span>
                    </label>
                    <span>@Model.Employer</span>
                </div>
                
                <button type="submit" class="button">@Localizer["ContinueButton"]</button>
            </div>
        </form>
     
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}