@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateConfirmationViewModel

@{
    ViewBag.Title = "Assessment recorded";
    Layout = "_DashboardLayout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    @Localizer["Heading"]
                </h1>
                <div class="govuk-panel__body">
                    @Localizer["CertificateNumberIs"]<br />
                    <strong>@Model.Reference</strong>
                </div>
            </div>

            <h2 class="govuk-heading-m">@Localizer["DoNextHeader"]</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" asp-controller="Search" asp-action="Index">@Localizer["DoNextSearch"]</a></li>
                <li><a class="govuk-link" href="https://www.smartsurvey.co.uk/s/certification-transaction-complete/" target="_blank">@Localizer["DoNextFeedback"]</a> (takes 60 seconds)</li>
                <li><a class="govuk-link" asp-controller="Account" asp-action="SignOut">@Localizer["DoNextSignOut"]</a></li>
            </ul>
        </div>
    </div>
</main>