@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateConfirmationViewModel

@{
    ViewBag.Title = "Assessment recorded";
    Layout = "_DashboardLayout";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                @Localizer["Heading"]
            </h1>
            <p class="font-large">
                @Localizer["CertificateNumberIs"]<br />
                <strong class="bold">@Model.Reference</strong>
            </p>
        </div>
        @* <p>@Localizer["ConfirmationEmail"]</p> *@
        <h2 class="heading-medium">@Localizer["DoNextHeader"]</h2>
        <ul class="list list-bullet">
            <li><a asp-controller="Search" asp-action="Index">@Localizer["DoNextSearch"]</a></li>
            <li><a href="https://www.smartsurvey.co.uk/s/certification-transaction-complete/" target="_blank">@Localizer["DoNextFeedback"]</a></li>
            <li><a asp-controller="Account" asp-action="SignOut">@Localizer["DoNextSignOut"]</a></li>
        </ul>
    </div>
</div>