@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateDeclarationViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-controller="CertificateCheck" asp-action="Check" class="link-back">Back</a>

        <h1 class="heading-medium">
            @Localizer["Heading"]
        </h1>

        <p>@Localizer["InfoHeader"]</p>

        <ul class="list list-bullet">
            <li>@Localizer["InfoLine1"]</li>
            <li>@Localizer["InfoLine2"]</li>
            <li>@Localizer["InfoLine3"]</li>
            <li>@Localizer["InfoLine4"]</li>
        </ul>

        <form type="post" asp-controller="CertificateDeclaration">
            @Html.HiddenFor(c => c.Id)
            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>