@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private.CertificateFirstNameViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Apprentice's first name";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
    <a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="CertificatePrivateDeclaration" asp-action="Index" asp-route-uln=@Model.Uln asp-route-surname=@Model.FamilyName asp-route-IsPrivatelyFunded=true>Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="apprentice-firstname-form js-disable-on-submit" method="post" asp-action="FirstName" asp-controller="CertificatePrivateFirstName">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="FirstName"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-xl">
                    @Localizer["Heading"]
                </h1>

                <div class="govuk-form-group" sfa-validation-for="FirstName" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="FirstName">
                        @Localizer["FirstName"]
                    </label>
                    <span class="govuk-hint">
                        @Localizer["FirstNameHint"]
                    </span>
                    <span class="govuk-error-message" asp-validation-for="FirstName"></span>
                    <input class="govuk-input" name="FirstName" sfa-validation-for="FirstName" sfa-validationerror-class="govuk-input--error" asp-for="FirstName" type="text" maxlength="100" />
                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_FirstNameScriptsPartial.cshtml"); }
}