@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateGradeViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Grade apprentice achieved";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else if (Model.BackToSearchPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-route-certificateId=@Model.Id asp-action="CheckForRejectedApprovals">Back</a>
        }
        else if(Model.IsPrivatelyFunded)
        {
            <a class="link-back" asp-controller="CertificatePrivateProviderUkprn" asp-action="Ukprn">Back</a>
        }
        else
        {
            <a class="link-back" asp-controller="CertificateDeclaration" asp-action="Declare">Back</a>
        }


        <form class="apprentice-grade-form js-disable-on-submit" method="post" asp-controller="CertificateGrade">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="SelectedGrade"></a></li>
                        @*<li><a href="#Pass">You need to specify an achievement grade for this apprentice</a></li>*@
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    @Localizer["Heading"]
                </h1>
                <div class="form-group" sfa-validation-for="SelectedGrade" sfa-validationerror-class="form-group-error">
                    <div class="error-message-container" sfa-validation-for="SelectedGrade">
                        <span class="error-message" asp-validation-for="SelectedGrade"></span>
                    </div>
                    @foreach (var grade in Model.Grades)
                    {
                        <div class="multiple-choice">
                            <input asp-for="SelectedGrade" id="@grade.Text.Replace(" ", "_")" type="radio" value="@grade.Text" />
                            <label for="@grade.Text.Replace(" ", "_")">
                                @grade.Text
                            </label>
                        </div>
                    }
                </div>
            </div>

            <details>
                <summary><span class="summary">@Localizer["InfoHeader"]</span></summary>
                <div class="panel panel-border-narrow" id="what-is-no-grade-awarded">
                    <p>
                        @Localizer["InfoBody"]
                    </p>
                </div>
            </details>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_GradeScriptsPartial.cshtml"); }
}