@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateGradeViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Grade apprentice achieved";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
    <a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
}
else if(Model.IsPrivatelyFunded)
{
    <a class="govuk-back-link" asp-controller="CertificatePrivateProviderUkprn" asp-action="Ukprn">Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="CertificateOption" asp-action="Option" asp-route-fromback="true">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="apprentice-grade-form js-disable-on-submit" method="post" asp-controller="CertificateGrade">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="SelectedGrade"></a></li>
                                @*<li><a href="#Pass">You need to specify an achievement grade for this apprentice</a></li>*@
                            </ul>
                        </div>
                    </div>
                }

                <div class="govuk-form-group" sfa-validation-for="SelectedGrade" sfa-validationerror-class="govuk-form-group--error">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            @Localizer["Heading"]
                        </h1>
                    </legend>

                    <span class="govuk-error-message" asp-validation-for="SelectedGrade"></span>

                    <div class="govuk-radios">
                        @foreach (var grade in Model.Grades)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="SelectedGrade" id="@grade.Text.Replace(" ", "_")" type="radio" value="@grade.Text" />
                                <label class="govuk-label govuk-radios__label" for="@grade.Text.Replace(" ", "_")">
                                    @grade.Text
                                </label>
                            </div>
                        }
                    </div>
                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            @Localizer["InfoHeader"]
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        @Localizer["InfoBody"]
                    </div>
                </details>

            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_GradeScriptsPartial.cshtml"); }
}