@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateGradeViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-controller="Search" asp-action="Index" class="link-back">Back</a>
        @*<h1 class="heading-large">@Model.GivenNames @Model.FamilyName</h1>*@
        <h1 class="heading-large">@Localizer["Heading"]</h1>
        <form type="post" asp-controller="CertificateGrade">
            @Html.HiddenFor(c => c.Id)
            <div class="form-group" sfa-validation-for="SelectedGrade" sfa-validationerror-class="form-group-error">
                <fieldset>
                    @foreach (var grade in Model.Grades)
                    {
                        <div class="multiple-choice">
                            <input asp-for="SelectedGrade" id="@grade.Text.Replace(" ", "_")" type="radio" value="@grade.Text"/>
                            <label for="@grade.Text.Replace(" ", "_")">
                                @grade.Text
                            </label>
                        </div>
                    }
                </fieldset>
                <span class="error-message" asp-validation-for="SelectedGrade"></span>
            </div>

            <details role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">@Localizer["InfoHeader"]</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    <p>
                        @Localizer["InfoBody"]
                    </p>
                </div>
            </details>
            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>