@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private.CertificateLastNameViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Apprentice's last name";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else
        {
            <a asp-controller="CertificatePrivateDeclaration" asp-action="Index" asp-route-uln=@Model.Uln asp-route-surname=@Model.FamilyName asp-route-IsPrivatelyFunded=true class="link-back">Back</a>
        }

        <form class="apprentice-lastname-form js-disable-on-submit" method="post" asp-action="LastName" asp-controller="CertificatePrivateLastName">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="LastName"></a></li>
                    </ul>
                </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <h1 class="heading-large">
                    @Localizer["Heading"]
                </h1>

                <div class="form-group" sfa-validation-for="LastName" sfa-validationerror-class="form-group-error">
                    <label for="LastName">
                        <span class="form-label-bold visually-hidden">@Localizer["LastName"]</span>
                        <span class="form-hint">
                            @Localizer["LastNameHint"]
                        </span>
                        <span class="error-message" asp-validation-for="LastName"></span>
                    </label>
                    <input class="form-control" name="LastName" sfa-validation-for="LastName" sfa-validationerror-class="form-control-error" asp-for="LastName" type="text" maxlength="100" />
                </div>


            </div>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_LastNameScriptsPartial.cshtml"); }
}