@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateOptionViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <a asp-controller="CertificateGrade" asp-action="Grade" class="link-back">Back</a>
        @*<h1 class="heading-large">@Model.GivenNames @Model.FamilyName</h1>*@
        <h1 class="heading-large">@Localizer["Heading"]</h1>
        <form type="post" asp-controller="Certificate" asp-method="Options">
            @Html.HiddenFor(c => c.Id)
            <div class="form-group" sfa-validation-for="HasAdditionalLearningOption" sfa-validationerror-class="form-group-error">
                <div class="form-group" sfa-validation-for="Option" sfa-validationerror-class="form-group-error">
                    <div class="multiple-choice">
                        <input asp-for="HasAdditionalLearningOption" id="options_yes" type="radio" value="True"/>
                        <label for="options_yes">
                            Yes
                        </label>
                    </div>

                    <div class="panel panel-border-narrow" aria-hidden="false">
                        <label class="form-label" for="surname">
                            <span class="form-label-bold">What was the option?</span>
                            <span class="error-message" asp-validation-for="Option"></span>
                        </label>
                        <input class="form-control" sfa-validation-for="Option" sfa-validationerror-class="form-control-error" asp-for="Option" type="text"/>
                    </div>
                </div>
                <div class="multiple-choice">
                    <input asp-for="HasAdditionalLearningOption" id="options_no" type="radio" value="False"/>
                    <label for="options_no">
                        No
                    </label>
                </div>

                <span class="error-message" asp-validation-for="HasAdditionalLearningOption"></span>

                <details role="group">
                    <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">@Localizer["InfoHeader"]</span></summary>
                    <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                        <p>
                            @Localizer["InfoBody"]
                        </p>
                    </div>
                </details>
                <button type="submit" class="button">@Localizer["ContinueButton"]</button>

            </div>
        </form>
    </div>
</div>