@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateOptionViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Learning option";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
    <a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
}
else if (Model.IsPrivatelyFunded)
{
    <a class="govuk-back-link" asp-controller="CertificatePrivateStandardCode" asp-action="StandardCode">Back</a>
}
else
{
    <a class="govuk-back-link" asp-controller="CertificateDeclaration" asp-action="Declare">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        
            <form class="apprentice-option-form js-disable-on-submit" method="post" asp-controller="Certificate" asp-method="Options">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Option"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-xl">
                    @Localizer["Heading"]
                </h1>
                <p class="govuk-body">You may know options as 'occupational options', 'pathways', 'specialisms' or 'specialist functions'.</p>
                <p class="govuk-body">The option will appear on the certificate.</p>

                <div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">

                    <span class="govuk-error-message" asp-validation-for="Option"></span>

                    <div class="govuk-radios">
                        @foreach (var option in Model.Options)
                        {
                            <div class="govuk-radios__item" data-target="show-option-input">
                                <input class="govuk-radios__input" asp-for="Option" id="options_@option.Replace(" ", "")" type="radio" value="@option"/>
                                <label class="govuk-label govuk-radios__label" for="options_@option.Replace(" ", "")">
                                    @option
                                </label>
                            </div>
                        }
                    </div>

                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>

                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            @Localizer["InfoHeader"]
                        </span>
                    </summary>
                    <div class="govuk-details__text" id="what-is-a-learning-option">
                        @Localizer["InfoBody"]
                    </div>
                </details>

            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_OptionScriptsPartial.cshtml"); }
}