@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateOptionViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Learning option";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else if (Model.BackToSearchPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-route-certificateId=@Model.Id asp-action="CheckForRejectedApprovals">Back</a>
        }
        else
        {
            <a class="link-back" asp-controller="CertificateGrade" asp-action="Grade">Back</a>
        }


        

        <form class="apprentice-option-form js-disable-on-submit" method="post" asp-controller="Certificate" asp-method="Options">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    <text>There's a problem</text>
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="error-summary-list">
                    <li><a sfa-validation-for="Option"></a></li>
                </ul>
            </div>
            }

            <div sfa-anyvalidationerror-class="after-error-summary">
                <div>
                    <h1 class="heading-large">
                        @Localizer["Heading"]
                    </h1>
                    <p>You may know options as 'occupational options', 'pathways', 'specialisms' or 'specialist functions'.</p>
                    <p>The option will appear on the certificate.</p>
                </div>
                <div class="form-group" sfa-anyvalidationerror-class="form-group-error">
                    @*<span class="form-label-bold">Select an option</span>*@
                    <div class="error-message-container" sfa-validation-for="Option">
                        <span class="error-message" asp-validation-for="Option"></span>
                    </div>
                    @foreach (var option in Model.Options)
                    {
                        <div class="multiple-choice" data-target="show-option-input">
                            <input asp-for="Option" id="options_@option.Replace(" ", "")" type="radio" value="@option"/>
                            <label for="options_@option.Replace(" ", "")">
                                @option
                            </label>
                        </div>
                    }
                </div>
            </div>

            <details>
                <summary><span class="summary">@Localizer["InfoHeader"]</span></summary>
                <div class="panel panel-border-narrow" id="what-is-a-learning-option">
                    <p>
                        @Localizer["InfoBody"]
                    </p>
                </div>
            </details>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_OptionScriptsPartial.cshtml"); }
}