@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Search.SearchRequestViewModel

@{
    ViewBag.Title = "Declaration";
    Layout = "_DashboardLayout";
}

<a asp-controller="Search" asp-action="Result" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
                @Localizer["Heading"]
            </h1>

            <p class="govuk-body">@Localizer["InfoHeader"]</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>@Localizer["InfoLine1"]</li>
                <li>@Localizer["InfoLine2"]</li>
                <li>@Localizer["InfoLine3"]</li>
                <li>@Localizer["InfoLine4"]</li>
            </ul>


            <form class="js-disable-on-submit" method="post" asp-action="StartPrivate" asp-controller="Certificate">
                @Html.HiddenFor(c => c.Uln)
                @Html.HiddenFor(c => c.Surname)
                @Html.HiddenFor(c => c.SearchResults)
                @Html.HiddenFor(c => c.IsPrivatelyFunded)
                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>
            </form>

        </div>
    </div>
</main>