@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateRecipientViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Recipient's name";
    Layout = "_DashboardLayout";
}

@if (Model.BackToCheckPage)
{
<a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
}
else
{
<a class="govuk-back-link" asp-controller="CertificateAddress" asp-action="Address">Back</a>
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
   
            <form class="apprentice-address-form js-disable-on-submit" method="post" asp-controller="CertificateRecipient">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Name"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                        @Localizer["Heading"]
                    </h1>
                </legend>

                <div class="govuk-form-group" sfa-validation-for="Name" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="Name">
                        @Localizer["Name"]
                    </label>
                    <span class="govuk-hint">
                        @Localizer["NameHint"]
                    </span>
                    <span class="govuk-error-message" asp-validation-for="Name"></span>
                    <input class="govuk-input" name="Name" sfa-validation-for="Name" sfa-validationerror-class="govuk-input--error" asp-for="Name" type="text"/>
                </div>

                <div class="govuk-form-group" sfa-validation-for="Dept" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="Dept">
                        @Localizer["Dept"]
                    </label>
                    <span class="govuk-hint">
                        @Localizer["DeptHint"]
                    </span>
                    <span class="govuk-error-message" asp-validation-for="Dept"></span>
                    <input class="govuk-input" name="Dept" sfa-validation-for="Dept" sfa-validationerror-class="govuk-input--error" asp-for="Dept" type="text"/>
                </div>

                <button type="submit" class="govuk-button">@Localizer["ContinueButton"]</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}