@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.CertificateRecipientViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Recipient's name";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else
        {
            <a asp-controller="CertificateAddressSummary" asp-action="AddressSummary" class="link-back">Back</a>
        }
   
        <form class="apprentice-address-form" type="post" asp-controller="CertificateRecipient">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There's a problem
                    </h2>
                    <ul class="error-summary-list">
                        <li><a sfa-validation-for="Name"></a></li>
                    </ul>
                </div>
            }

            <fieldset sfa-anyvalidationerror-class="after-error-summary">
                <legend id="Name">
                    <h1 class="heading-large">
                        @*<span class="heading-secondary">@Model.GivenNames @Model.FamilyName</span>*@
                        @Localizer["Heading"]
                    </h1>
                </legend>

                <div class="form-group" sfa-validation-for="Name" sfa-validationerror-class="form-group-error">
                    <label for="Name">
                        <span class="form-label-bold">@Localizer["Name"]</span>
                        <span class="form-hint">
                            @Localizer["NameHint"]
                        </span>
                        <span class="error-message" asp-validation-for="Name"></span>
                    </label>
                    <input class="form-control" name="Name" sfa-validation-for="Name" sfa-validationerror-class="form-control-error" asp-for="Name" type="text"/>
                </div>

                <div class="form-group" sfa-validation-for="Dept" sfa-validationerror-class="form-group-error">
                    <label for="Dept">
                        <span class="form-label-bold">@Localizer["Dept"]</span>
                        <span class="form-hint">
                            @Localizer["DeptHint"]
                        </span>
                        <span class="error-message" asp-validation-for="Dept"></span>
                    </label>
                    <input class="form-control" name="Dept" sfa-validation-for="Dept" sfa-validationerror-class="form-control-error" asp-for="Dept" type="text"/>
                </div>

            </fieldset>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_AddressScriptsPartial.cshtml"); }
}