@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private.CertificateUkprnListViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Select Ukprn";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BackToCheckPage)
        {
            <a class="link-back" asp-controller="CertificateCheck" asp-action="Check">Back</a>
        }
        else
        {
            <a asp-controller="CertificatePrivateLearnerStartDate" asp-action="LearnerStartDate" class="link-back">Back</a>
        }

        <form class="apprentice-firstname-form js-disable-on-submit" method="post" asp-action="Ukprn" asp-controller="CertificatePrivateProviderUkprn">
            @Html.HiddenFor(c => c.Id)

            @* hidden with css by default *@
            <div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="js-error-summary-list error-summary-list"></ul>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
            <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                    There's a problem
                </h2>
                <ul class="error-summary-list">
                    <li><a sfa-validation-for="Ukprns"></a></li>
                    <li><a sfa-validation-for="SelectedUkprn"></a></li>
                </ul>
            </div>
            }

            <fieldset sfa-anyvalidationerror-class="after-error-summary">
                <legend id="Name">
                    <h1 class="heading-large">
                        @Localizer["Heading"]
                    </h1>
                </legend>

                <div class="form-group">
                    <label for="Ukprns">
                        <span class="form-label-bold visually-hidden">@Localizer["Ukprns"]</span>                        
                        <span class="error-message" asp-validation-for="Ukprns"></span>
                    </label>
                    <div class="col-md-5">
                        <select asp-for="SelectedUkprn" 
                                asp-items="@(new SelectList(Model.Ukprns,"Value","Text"))">
                            <option>Please select one</option>
                        </select>
                     @*   <span class="form-control" sfa-validation-for="@Model.SelectedUkprn" sfa-validationerror-class="form-control-error" />*@                        
                    </div>
                </div>
            </fieldset>

            <button type="submit" class="button">@Localizer["ContinueButton"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
 @*   @{await Html.RenderPartialAsync("~/Views/Certificate/_FirstNameScriptsPartial.cshtml"); }*@
}