@using Microsoft.AspNetCore.Mvc.Localization
@using SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private
@inject IViewLocalizer Localizer
@model SFA.DAS.AssessorService.Web.ViewModels.Certificate.Private.CertificateUlnViewModel

@{
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Apprentice's unique learner number";
    Layout = "_DashboardLayout";
}

<a class="govuk-back-link" asp-controller="CertificateCheck" asp-action="Check">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form class="apprentice-uln-form js-disable-on-submit" method="post" asp-action="Uln" asp-controller="CertificatePrivateUln">
                @Html.HiddenFor(c => c.Id)

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li><a sfa-validation-for="Uln"></a></li>
                            </ul>
                        </div>
                    </div>
                }

                <h1 class="govuk-heading-xl">
                    @Localizer["Heading"]
                </h1>

                <div class="govuk-form-group" sfa-validation-for="Uln" sfa-validationerror-class="govuk-form-group--error">
                    <label class="govuk-label" for="Uln">
                        @Localizer["UlnName"] (<abbr title=" @Localizer["UlnName"]">ULN</abbr>)
                    </label>
                    <span class="govuk-hint">@Localizer["UlnNameHint"]</span>
                    <span class="govuk-error-message" asp-validation-for="Uln"></span>
                    <input class="govuk-input js-integers-only" name="Uln" autocomplete="off" asp-for="Uln" type="text" sfa-validation-for="Uln" sfa-validationerror-class="govuk-input--error" maxlength="10" />
                </div>

                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("~/Views/Certificate/_UlnScriptsPartial.cshtml"); }
}