@using SFA.DAS.AssessorService.Web.Controllers
@using SFA.DAS.AssessorService.Web.Extensions
@model SFA.DAS.AssessorService.Web.ViewModels.Standard.AddStandardOptInConfirmationViewModel
@{
    ViewBag.Title = "Standard opt-in completed";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">
                    <h1 class="govuk-panel__title">
                        You have opted-in to the Standard @Model.StandardTitle
                    </h1>
                </div>
            </div>

            <p class="govuk-body">We have sent you a confirmation email.</p>

            <h3 class="govuk-heading-m">What happens next</h3>

            <p class="govuk-body">
                You have opted-in to assess Version@{if(Model.HasMultipleConfirmedVersion)}s @Model.ConfirmedVersions of the @Model.StandardTitle standard.
            </p>

            <p class="govuk-body govuk-!-margin-bottom-8">
                <a asp-action="@nameof(OrganisationStandardsController.Index)" 
                    asp-controller="@nameof(OrganisationStandardsController).RemoveController()" 
                    class="govuk-link--no-visited-state">Go back to your standards and versions</a>
            </p>

            <p class="govuk-body">
                <a href="@Model.FeedbackUrl" target="_blank" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)
            </p>

        </div>
    </div>
</main>