@using SFA.DAS.AssessorService.Web.Controllers
@model SFA.DAS.AssessorService.Web.ViewModels.Standard.OptInStandardVersionConfirmationViewModel
@{
    ViewBag.Title = "Opt in confirmed";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <div class="govuk-panel__body">
                    <h1 class="govuk-panel__title">
                        You've opted in to @Model.Version of @Model.StandardTitle @Model.StandardReference
                    </h1>
                </div>
            </div>

            <p class="govuk-body">We've sent you a confirmation email.</p>

            <h3 class="govuk-heading-m">What happens next</h3>

            <p class="govuk-body">
                You can now record outcomes for @Model.Version of @Model.StandardTitle @Model.StandardReference.
            </p>

            <p class="govuk-body">
                <a asp-route="@OrganisationStandardsController.OrganisationStandardsIndexGetRoute" class="govuk-link--no-visited-state">Go back to your standards and versions</a>
            </p>

            <p class="govuk-body">
                <a href="@Model.FeedbackUrl" target="_blank" class="govuk-link--no-visited-state">Tell us what you think about this service</a> (Survey takes 60 seconds)
            </p>
        </div>
    </div>
</main>