@model SFA.DAS.AssessorService.Web.Staff.Controllers.SearchViewModel
@using SFA.DAS.AssessorService.Domain.Extensions

@{
    ViewBag.Title = "Search results";
    Layout = "_Layout";
}


<div class="grid-row">
    <div class="column-full">
        <a asp-action="Index" class="link-back">Search Again</a>

        <h1 class="heading-xlarge">
            Search results
            @if (!string.IsNullOrEmpty(@Model.StaffSearchResult.EndpointAssessorOrganisationId) && Model.StaffSearchResult.DisplayEpao)
            {
                <h2 class="heading-medium">@Model.StaffSearchResult.EndpointAssessorOrganisationId</h2>
            }
            <span class="heading-secondary">Number of results: @Model.StaffSearchResult.StaffSearchItems.TotalRecordCount</span>
        </h1>

        @if (@Model.StaffSearchResult.StaffSearchItems.TotalRecordCount > 0)
        {
            <table class="table table-font-xsmall">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ULN</th>
                        <th>Standard</th>
                        <th>Certificate reference</th>
                        <th>Status</th>
                        <th>Updated</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.StaffSearchResult.StaffSearchItems.Items)
                    {
                        <tr>
                            <td><a asp-action="Select" asp-route-stdcode="@result.StandardCode" asp-route-certificatereference="@result.CertificateReference" asp-route-uln="@result.Uln" asp-route-searchstring="@Model.SearchString" asp-route-page="@Model.StaffSearchResult.StaffSearchItems.PageIndex">@result.GivenNames @result.FamilyName</a></td>
                            <td>@result.Uln</td>
                            <td>@result.Standard (@result.StandardCode)</td>
                            <td>@result.CertificateReference</td>
                            <td>@result.CertificateStatus</td>
                            <td>@result.LastUpdatedAt?.ToSfaShortDateString()</td>

                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

@if (Model.StaffSearchResult.StaffSearchItems.HasPreviousPage || Model.StaffSearchResult.StaffSearchItems.HasNextPage)
{
    <div class="grid-row">
        <div class="column-full">
            <div class="page-navigation">

                @if (Model.StaffSearchResult.StaffSearchItems.HasPreviousPage)
                {
                    <a asp-action="Results"
                       asp-controller="Search"
                       asp-route-searchstring="@Model.SearchString"
                       asp-route-page="@( Model.StaffSearchResult.StaffSearchItems.PageIndex - 1)"
                       class="previous">
                        <i class="arrow-button icon-left-open">&#xe800;</i>
                        <span class="description">Previous <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="prevPage">@(Model.StaffSearchResult.StaffSearchItems.PageIndex - 1)</span> of <span class="totalPage">@(Model.StaffSearchResult.StaffSearchItems.TotalPages)</span></span>
                    </a>
                }

                @if (Model.StaffSearchResult.StaffSearchItems.HasNextPage)
                {
                    <a asp-action="Results"
                       asp-controller="Search"
                       asp-route-searchstring="@Model.SearchString"
                       asp-route-page="@( Model.StaffSearchResult.StaffSearchItems.PageIndex + 1)"
                       class="next">
                        <i class="arrow-button icon-right-open">&#xe801;</i>
                        <span class="description">Next <span class="hide-mob">page</span></span>
                        <span class="counter">Page <span class="nextPage">@(Model.StaffSearchResult.StaffSearchItems.PageIndex + 1)</span> of <span class="totalPage">@(Model.StaffSearchResult.StaffSearchItems.TotalPages)</span></span>
                    </a>
                }

            </div>
        </div>
    </div>
}