@model SFA.DAS.AssessorService.Web.Staff.Controllers.SearchViewModel

@{

}

<a asp-action="Index" class="link-back">Search Again</a>

<div>
    <span class="bold">Number of results: </span> @Model.PaginatedList.TotalRecordCount
</div>


<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Uln</th>
            <th>Standard</th>
            <th>Certificate Reference</th>
            <th>Current Status</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.PaginatedList.Items)
        {
        <tr>
            <td>@result.GivenNames</td>
            <td>@result.FamilyName</td>
            <td>@result.Uln</td>
            <td>@result.Standard (@result.StandardCode)</td>
            <td>@result.CertificateReference</td>
            <td>@result.CertificateStatus</td>
            <td>@result.LastUpdatedAt?.ToShortDateString()</td>
            <td><a class="button" asp-action="Select" asp-route-stdcode="@result.StandardCode" asp-route-uln="@result.Uln" asp-route-searchstring="@Model.SearchString" asp-route-page="@Model.PaginatedList.PageIndex">Select</a></td>
        </tr>
        }
    </tbody>
</table>

<div class="page-navigation">
    @{
        var prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Results" 
       asp-controller="Search" 
       asp-route-searchstring="@Model.SearchString" 
       asp-route-page="@( Model.PaginatedList.PageIndex - 1)"
       class="previous @prevDisabled">
        <i class="arrow-button icon-left-open">&#xe800;</i>
        <span class="description">Previous <span class="hide-mob">page</span></span>
        <span class="counter">Page <span class="prevPage">@(Model.PaginatedList.PageIndex - 1)</span> of <span class="totalPage">@(Model.PaginatedList.TotalPages)</span></span>
    </a>
  
    <a asp-action="Results" 
       asp-controller="Search" 
       asp-route-searchstring="@Model.SearchString" 
       asp-route-page="@( Model.PaginatedList.PageIndex + 1)"
       class="next @nextDisabled">
        <i class="arrow-button icon-right-open">&#xe801;</i>
        <span class="description">Next <span class="hide-mob">page</span></span>
        <span class="counter">Page <span class="nextPage">@(Model.PaginatedList.PageIndex + 1)</span> of <span class="totalPage">@(Model.PaginatedList.TotalPages)</span></span>
    </a>
</div>