@using SFA.DAS.AssessorService.Domain.Consts
@using SFA.DAS.AssessorService.Domain.Extensions
@using SFA.DAS.AssessorService.Web.Staff.Controllers
@model SFA.DAS.AssessorService.Web.Staff.Controllers.LearnerDetailViewModel

@{
    ViewBag.Title = "Certificate details";
    Layout = "_Layout";
}

<div class="grid-row">
    <div class="column-two-thirds">
        @if (Model.BatchNumber.HasValue)
        {
            <a class="link-back" asp-action="Results" asp-controller="BatchSearch" asp-route-batchNumber="@Model.BatchNumber">Back</a>
        }
        else
        {
            <a class="link-back" asp-action="Results" asp-controller="Search" asp-route-searchstring="@Model.SearchString" asp-route-page="@Model.Page">Back</a>
        }

        @if (Model.Learner.CertificateReference != null)
        {
            <h1 class="heading-xlarge">
                Certificate: @Model.Learner.CertificateReference
                <span class="heading-secondary">Status: @Model.Learner.CertificateStatus</span>
            </h1>
            <h2 class="heading-large">Apprentice details</h2>
        }
        else
        {
            <h1 class="heading-large">Apprentice details</h1>
        }

    </div>
</div>

<div class="grid-row">
    <div class="column-one-half">
        <table>
            <tbody>
                <tr>
                    <td class="bold">Name</td>
                    <td>@Model.Learner.GivenNames @Model.Learner.FamilyName</td>
                </tr>
                <tr>
                    <td class="bold"><abbr title="Unique learner number">ULN</abbr></td>
                    <td>@Model.Learner.Uln</td>
                </tr>
                <tr>
                    <td class="bold">Funding model</td>
                    <td>@Model.Learner.FundingModel</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@if (Model.Learner.CertificateReference != null)
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="form-group">
                <table>
                    <caption class="heading-large">Certificate details</caption>
                    <tbody>
                        <tr>
                            <td><span class="bold">EPAO</span></td>
                            <td>@Model.Learner.OrganisationName</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Standard</span></td>
                            <td>@Model.Learner.Standard (@Model.Learner.StandardCode)</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Level</span></td>
                            <td>@Model.Learner.Level</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Option</span></td>
                            @if (@Model.Learner.Option != null)
                            {
                                <td>@Model.Learner.Option</td>
                            }
                            else
                            {
                                <td>None</td>
                            }
                        </tr>
                        <tr>
                            <td><span class="bold">Grade</span></td>
                            <td>@Model.Learner.OverallGrade</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Learner start date</span></td>
                            <td>@Model.Learner.LearnStartDate?.ToSfaShortDateString()</td>
                        </tr>
                        <tr>
                            <td><span class="bold">Achievement date</span></td>
                            <td>@Model.Learner.AchievementDate?.ToSfaShortDateString()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <a class="button" asp-action="Check" asp-controller="CertificateAmend" asp-route-certificateId=@Model.Learner.CertificateId asp-route-searchString=@Model.SearchString asp-route-page=@Model.Page>Amend certificate information</a>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">History</h2>
            <div class="form-group">
                <table class="table js-history-table">
                    <thead>
                        <tr>
                            <th>Date and time</th> 
                            <th>Action</th>
                            <th>By</th>
                            <th>Status</th>
                            <th>Batch</th>
                            <th>Changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var log in Model.Learner.CertificateLogs)
                        {
                            <tr>
                                <td>@log.EventTime.UtcToTimeZoneTime()</td>
                                <td>@log.Action</td>
                                <td>@log.ActionBy</td>
                                <td>@log.Status</td>
                                <td>@log.BatchNumber</td>
                                <td>
                                    @{
                                        if (Model.Learner.CertificateLogs.Count() > 1)
                                        {
                                            foreach (var change in log.DifferencesToPrevious)
                                            {
                                                <span class="bold">@(change.Key)<text>:</text></span>
                                                @change.Value<br />
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <table>
                <caption class="heading-large">Course details</caption>
                <tbody>
                    <tr>
                        <td><span class="bold">Standard</span></td>
                        <td>@Model.Learner.Standard (@Model.Learner.StandardCode)</td>
                    </tr>
                    <tr>
                        <td><span class="bold">Level</span></td>
                        <td>@Model.Learner.Level</td>
                    </tr>
                    
                        <tr>
                            <td><span class="bold">Option</span></td>
                            @if (@Model.Learner.Option != null)
                            {
                                <td>@Model.Learner.Option</td>
                            }
                            else
                            {
                                <td>None</td>
                            }
                        </tr>
                </tbody>
            </table>
            <h2 class="heading-large">No certificate requested</h2>
        </div>
    </div>
}

@if (Model.Learner.CertificateReference != null)
{
<div class="grid-row">
    <div class="column-two-thirds">
        <div class="form-group">
            @if (Model.ShowDetail)
            {
                <a asp-action="Select" asp-route-stdcode="@Model.Learner.StandardCode" asp-route-uln="@Model.Learner.Uln" asp-route-searchstring="@Model.SearchString" asp-route-alllogs=true>Show all history</a>
            }
            else
            {
                <a asp-action="Select" asp-route-stdcode="@Model.Learner.StandardCode" asp-route-uln="@Model.Learner.Uln" asp-route-searchstring="@Model.SearchString" asp-route-alllogs=false>Show summary</a>
            }
        </div>
    </div>
</div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">What do you want to do next?</h2>
        <ul class="list list-bullet">
            @if (Model.Learner.CertificateStatus == CertificateStatus.Submitted
                || Model.Learner.CertificateStatus == CertificateStatus.Printed
                || Model.Learner.CertificateStatus == CertificateStatus.Reprint
                )
            {
                <li><a asp-action="Index" asp-controller="DuplicateRequest" asp-route-certificateId="@Model.Learner.CertificateId" asp-route-stdcode="@Model.Learner.StandardCode" asp-route-uln="@Model.Learner.Uln" asp-route-searchstring="@Model.SearchString" asp-route-page="@Model.Page">request duplicate certificate</a></li>
            }
            <li><a asp-controller="search" asp-action="Index">search for another apprentice</a></li>
        </ul>
    </div>
</div>