@using SFA.DAS.AssessorService.ApplyTypes;
@using SFA.DAS.AssessorService.Domain.Consts;
@model SFA.DAS.AssessorService.Web.ViewModels.Apply.SequenceViewModel;

@{
    ViewBag.Title = "Feedback";
    Layout = "_Layout";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @if (Model.PageContext != null)
            {
                <span class="govuk-caption-xl">
                    @Html.Raw(Model.PageContext)
                </span>
            }

            <h1 class="govuk-heading-xl">Application overview</h1>

            @if (!ViewData.ModelState.IsValid || Model.ErrorMessages?.Any() is true)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var error in Model.ErrorMessages)
                            {
                                <li>
                                    <a href="#@error.Field">@error.ErrorMessage</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            @if (Model.SequenceNo == ApplyConst.ORGANISATION_SEQUENCE_NO)
            {
                <p class="govuk-body">
                    The first part of your application to join the Register of end-point assessment organisations has been rejected
                </p>

                <p class="govuk-body">
                    Go into each question to view comments, where you will have an opportunity to give more information.
                </p>
            }
            else if (Model.SequenceNo == ApplyConst.STANDARD_SEQUENCE_NO)
            {
                <p class="govuk-body">The second part of your application to join the Register of end-point assessment organisations has been rejected</p>
            }
            else if (Model.SequenceNo == ApplyConst.ORGANISATION_WITHDRAWAL_SEQUENCE_NO || Model.SequenceNo == ApplyConst.STANDARD_WITHDRAWAL_SEQUENCE_NO)
            {
                <p class="govuk-body">
                    We've provided feedback on the answers we need more information about.  You'll need to open each question to view the feedback.
                </p>

                <p class="govuk-body">
                    Use the feedback to change your answers, then resubmit your application.
                </p>

                <p class="govuk-body">
                    By submitting your answers, you confirm that you have the authority to act on behalf of the organisation.
                </p>
            }
           
            <ol class="app-task-list">
                @foreach (var applicationSection in Model.Sections.OrderBy(s => s.SectionNo))
                {
                    <li>
                        <h2 id="@applicationSection.Id" class="app-task-list__section">@applicationSection.LinkTitle</h2>
                        @{
                            var pagesWithNewFeedback = applicationSection.QnAData.Pages.Where(p => p.HasNewFeedback);

                            if (pagesWithNewFeedback.Any())
                            {
                                <ul class="app-task-list__items app-task-list__items--no-number">
                                    @foreach (var pg in pagesWithNewFeedback.OrderBy(p => p.PageId))
                                    {
                                        <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                                <a aria-describedby="feedback-completed" class="govuk-link" href="@Url.Action("Page", "Application", new { Id = Model.Id, sequenceNo = applicationSection.SequenceNo, sectionNo = applicationSection.SectionNo, pageId = pg.PageId, __redirectAction = "Feedback" })">
                                                    @pg.LinkTitle
                                                </a>
                                            </span>
                                            @if (pg.AllFeedbackIsCompleted)
                                            {
                                                <strong class="govuk-tag app-task-list__task-custom-tag" id="feedback-completed">Completed</strong>
                                            }
                                            else
                                            {
                                                <strong class="govuk-tag app-task-list__task-custom-tag" id="feedback-feedbackTag">Feedback Added</strong>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <div class="govuk-inset-text">No further action required for this section</div>
                            }
                        }
                    </li>
                }
            </ol>

            @if (Model.Status != ApplicationSequenceStatus.Submitted)
            {
                <div>
                    <form asp-action="Submit" asp-controller="Application" asp-route-Id="@Model.Id" asp-route-sequenceNo="@Model.SequenceNo">
                        <div class="govuk-form-group">
                            <button type="submit" class="govuk-button">
                                Submit your answers
                            </button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>


</main>
