@using SFA.DAS.AssessorService.Web.ViewModels.Apply
@model ApplicationResponseViewModel
@{
    ViewBag.Title = "Applications";
}

<main class="govuk-main-wrapper " id="main-content" role="main">

    @if (Model.FinancialInfoStage1Expired)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds" style="padding-right: 0px;">

                <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-notification-banner__heading">
                            Your organisation's financial health assessment is due.
                        </p>
                        <p>
                            You won't be able to apply to assess standards or standard versions until
                            your organisation's financial health assessment has been completed and approved.
                        </p>
                        <p>
                            <a class="govuk-notification-banner__link" href="@Model.FinancialAssessmentUrl">Start financial health assessment</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">
                Select application
            </h1>

            <form asp-action=@Model.ApplicationPostAction() asp-controller="Application" method="post">
                <button class="govuk-button" type="submit">Start new application</button>
            </form>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Standard</th>
                        <!-- <th class="govuk-table__header" scope="col">Application ID</th> -->
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Status</th>
                        <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    @foreach (var application in Model.ApplicationResponse)
                    {
                        if (!string.IsNullOrEmpty(application.ApplyData?.Apply?.StandardName))
                        {
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    @application.ApplyData?.Apply?.StandardName
                                    @if (application.ApplyData?.Apply?.Versions != null && application.ApplyData?.Apply?.Versions.Count > 0)
                                    {
                                        <p class="govuk-body">Version @string.Join(",", application.ApplyData?.Apply?.Versions)</p>
                                    }
                                </th>
                                <!--<td class="govuk-table__cell">@application.ApplicationId</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">@application.ApplicationStatus</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link" href="@Url.Action("SequenceSignPost", "Application", new { Id = application.Id })">View</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>