@using SFA.DAS.AssessorService.Domain.Consts
@model SFA.DAS.AssessorService.Web.ViewModels.Apply.SubmittedViewModel
@{

    if (Model.IsWithdrawalApplication)
    {
        ViewBag.Title = " Withdrawal request submitted";
    }
    else
    {
        ViewBag.Title = "Application submitted";
    }

    Layout = "_Layout";
}

<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (Model.IsWithdrawalApplication)
            {
                <form method="post">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Withdrawal request submitted
                        </h1>

                        @if (Model.IsOrganisationWithdrawalApplication)
                        {
                            <p class="govuk-panel__body"> You have requested to withdraw from the register of end-point assessment organisations.</p>
                        }

                        <div class="govuk-panel__body">
                            Your reference number
                            <br>
                            <strong>@Model.ReferenceNumber</strong>
                        </div>

                    </div>

                    <p class="govuk-body">
                        We have sent you a confirmation email.
                    </p>

                    <h2 class="govuk-heading-m govuk-!-margin-top-6">
                        What happens next
                    </h2>


                    @if (Model.IsOrganisationWithdrawalApplication)
                    {
                        <p class="govuk-body">
                            We'll review your withdrawal request within 4 weeks, then email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.
                        </p>

                        <p class="govuk-body">
                            You must not agree to assess any new learners while we review your withdrawal.
                        </p>

                        <p class="govuk-body">
                            Once you withdraw, your organisation cannot reapply to join the register for at least 12 months.
                        </p>
                    }


                    @if (Model.IsStandardWithdrawalApplication)
                    {
                        <p class="govuk-body">
                            We'll review your withdrawal request within 4 weeks, then email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.
                        </p>

                        <p class="govuk-body">
                            You must not agree to assess any new learners for this standard while we review your withdrawal.
                        </p>

                        <p class="govuk-body">
                            Once you withdraw, your organisation cannot reapply to assess this standard for at least 12 months.
                        </p>
                    }

                    <p class="govuk-body">
                        <a href="@Url.Action("Index", "Dashboard")" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
                    </p>
                    <p class="govuk-body">
                        <a href="@Model.FeedbackUrl" target="_blank" class="govuk-link">What do you think of this service?</a> (Takes 60 seconds)
                    </p>
                </form>
            }
            else
            {
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        @if (string.IsNullOrEmpty(Model.StandardName))
                        {
                            <text>Stage 1 of your application has been submitted</text>
                        }
                        else
                        {
                            <text>Your application has been submitted</text>
                        }
                    </h1>
                    <div class="govuk-panel__body">
                        @if (!string.IsNullOrEmpty(Model.StandardName))
                        {
                            <div class="govuk-!-margin-bottom-4">
                                <span class="govuk-!-font-size-24">Standard version(s) applied for</span>
                                <br />
                                <strong>@Model.StandardName</strong>

                                @if (Model.Versions != null)
                                {
                                    <br />
                                    <span class="govuk-!-font-size-19">Version @string.Join(", ", Model.Versions)</span>
                                }
                                
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.ReferenceNumber))
                        {
                            <div>
                                <span class="govuk-!-font-size-24">Your reference number</span>
                                <br />
                                <strong>@Model.ReferenceNumber</strong>
                            </div>
                        }
                    </div>
                </div>

                <p class="govuk-body">We have sent you a confirmation email.</p>

                <h3 class="govuk-heading-m">What happens next</h3>

                <p class="govuk-body">Once we've reviewed your application, we'll email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.</p>

                <p class="govuk-body"><a href="@Model.FeedbackUrl" target="_blank" class="govuk-link">What do you think of this service?</a> (Takes 60 seconds)</p>

                @if (Model.IsInitialApplication == false)
                {
                    <h3 class="govuk-heading-m">What do you want to do next?</h3>

                    <p class="govuk-body">
                        @if (Model.IsStandardApplication)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="ApplyToAssessStandard" asp-action="Index">Apply for another standard version(s)</a>
                            <br />
                            <span>or</span>
                            <br />
                        }
                        <a class="govuk-link govuk-link--no-visited-state" asp-controller="Dashboard" asp-action="Index">Return to account home</a>
                    </p>
                }
            }

        </div>
    </div>
</main>