@using SFA.DAS.AssessorService.Web.Staff.Helpers.Roatp
@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.OrganisationSearchResultsViewModel

@{
ViewBag.Title = Model.Title;
}

@*
@{
await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}
*@

@{
var searchParams = new Dictionary<string, string>
{
    { "SearchTerm", Model.SearchTerm }
};
}


<a asp-controller="RoatpHome" asp-action="Index" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@Html.Raw(Model.Title)</h1>
        </div>
    </div>

    @if (Model.SearchResults.Count > 0)
    {

        <div class="govuk-grid-row">
            <div id="searchResultsList" class="govuk-grid-column-one-third">
                <ul class="govuk-list">
                    @for(var index = 0; index < Model.SearchResults.Count; index++)
                    {
                        var addClass = "";
                        if (index == Model.SelectedIndex)
                        {
                            addClass = "selected-item";
                        }
                        <li class="govuk-!-padding-2 @Html.Raw(addClass)">
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="/results-found?index=@Html.Raw(index)" class="govuk-link">
                                    @Html.Raw(Model.SearchResults[index].LegalName) 

                                    @if (Model.SearchResults[index].OrganisationStatus.Id != 0)
                                    {
                                        <text>(Removed)</text>
                                    }
                                </a>
                            </p>
                            
                            <p class="govuk-body govuk-!-margin-bottom-0">UKPRN: @Html.Raw(Model.SearchResults[index].UKPRN)</p>
                        </li>
                    }
                </ul>

                @if (Model.TotalCount > 5)
                {
                    <div class="roatp-search-panel govuk-!-padding-2 govuk-!-margin-bottom-6">
                        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
                            Results limited to 5
                        </p>
                        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="RoatpSearch" asp-action="RefineSearch" asp-all-route-data="searchParams">Refine search</a>
                        </p>
                    </div>
                }
                
            </div>
        
            <div id="organisationDetails" class="govuk-grid-column-two-thirds">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Legal name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.Raw(Model.SelectedResult.LegalName)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationLegalName">
                                Change<span class="govuk-visually-hidden"> legal name</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            UKPRN
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.Raw(Model.SelectedResult.UKPRN)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationUkprn">
                                Change<span class="govuk-visually-hidden"> UKPRN</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.OrganisationStatus(Model.SelectedResult)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationStatus">
                                Change<span class="govuk-visually-hidden"> status</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of provider
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.ProviderType(Model.SelectedResult)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationProviderType">
                                Change<span class="govuk-visually-hidden"> type of provider</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Type of organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.Raw(Model.SelectedResult.OrganisationType.Type)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationType">
                                Change<span class="govuk-visually-hidden"> organisation type</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Company number
                        </dt>
                        @if (!String.IsNullOrWhiteSpace(Model.SelectedResult.OrganisationData.CompanyNumber))
                        {
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(Model.SelectedResult.OrganisationData.CompanyNumber)
                            </dd>
                        }
                        else
                        {
                            <dd class="govuk-summary-list__value">
                                Not applicable
                            </dd>
                        }

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationCompanyNumber">
                                Change<span class="govuk-visually-hidden"> companies house number</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Charity registration number
                        </dt>
                        @if (!String.IsNullOrWhiteSpace(Model.SelectedResult.OrganisationData.CharityNumber))
                        {
                            <dd class="govuk-summary-list__value">
                                @Html.Raw(Model.SelectedResult.OrganisationData.CharityNumber)
                            </dd>
                        }
                        else
                        {
                            <dd class="govuk-summary-list__value">
                                Not applicable
                            </dd>
                        }
                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationCharityNumber">
                                Change<span class="govuk-visually-hidden"> charity number</span>
                            </a>
                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Trading name
                        </dt>

                        <dd class="govuk-summary-list__value">

                            @if (!String.IsNullOrWhiteSpace(Model.SelectedResult.TradingName))
                            {
                                @Html.Raw(Model.SelectedResult.TradingName)
                            }
                            else
                            {
                                <text>Not applicable</text>
                            }
                        </dd>

                        <dd class="govuk-summary-list__actions">
                
                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationTradingName">
                                Change<span class="govuk-visually-hidden"> trading name</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Parent company guarantee
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.BooleanYesNo(Model.SelectedResult.OrganisationData.ParentCompanyGuarantee)
                        </dd>

                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationParentCompanyGuarantee">
                                Change<span class="govuk-visually-hidden"> parent company guarantee</span>
                            </a>

                        </dd>

                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Financial track record
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Html.BooleanYesNo(Model.SelectedResult.OrganisationData.FinancialTrackRecord)
                        </dd>

                        <dd class="govuk-summary-list__actions">

                            <a class="govuk-link" asp-controller="UpdateRoatpOrganisation" asp-action="UpdateOrganisationFinancialTrackRecord">
                                Change<span class="govuk-visually-hidden"> financial track record</span>
                            </a>

                        </dd>

                    </div>

                </dl>
            </div>
        </div>
    }
    else
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <a class="govuk-button" asp-controller="RoatpHome" asp-action="Index">Search again</a>
                <p class="govuk-body">
                    <a class="govuk-link" asp-controller="AddRoatpOrganisation" asp-action="EnterUkprn">Add a new training provider</a>
                </p>
            </div>
        </div>
    }

</main>
