@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.UpdateOrganisationProviderTypeViewModel

@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain
@{ ViewBag.Title = "Enter details"; }

@*
@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}
*@

<form asp-controller="RoatpSearch" asp-action="SearchResults" method="post" name="backForm">
    <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
</form>

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                </div>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li><a sfa-validation-for="ProviderTypeId"></a></li>
                            <li><a sfa-validation-for="OrganisationTypeId"></a></li>
                        </ul>
                    </div>
                </div>
            }

            <h1 class="govuk-heading-xl">
                Change provider type for <span class="das-break-word">@Html.Raw(Model.LegalName)</span>
            </h1>
            <form method="post" asp-action="UpdateProviderType" asp-controller="UpdateRoatpOrganisation">
                @Html.HiddenFor(x => x.OrganisationId)
                <div class="govuk-form-group" sfa-validation-for="ProviderTypeId" sfa-validationerror-class="govuk-form-group--error">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <span class="govuk-error-message" asp-validation-for="ProviderTypeId"></span>
                    }
                    
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">

                        @foreach (var providerType in Model.ProviderTypes)
                        {
                            <div class="govuk-radios__item">
                                @if (Model.CanChangeOrganisationTypeForThisProvider(providerType.Id))
                                {
                                    <input asp-for="ProviderTypeId" class="govuk-radios__input" id="route-@providerType.Id"
                                            name="ProviderTypeId" type="radio" value="@providerType.Id"
                                            sfa-validation-for="ProviderTypeId" sfa-validationerror-class="govuk-input--error" data-aria-controls="route-@providerType.Id-conditional">
                                }
                                else
                                {
                                    <input asp-for="ProviderTypeId" class="govuk-radios__input" id="route-@providerType.Id"
                                            name="ProviderTypeId" type="radio" value="@providerType.Id"
                                            sfa-validation-for="ProviderTypeId" sfa-validationerror-class="govuk-input--error">
                                }
                                <label class="govuk-label govuk-radios__label" for="route-@providerType.Id">
                                    @providerType.Type
                                </label>
                            </div>
                            @if (Model.CanChangeOrganisationTypeForThisProvider(providerType.Id))
                                {
                                var typeName = "OrganisationTypeId";
                                switch (providerType.Id)
                                {
                                    case 1:
                                        typeName = "OrganisationTypeIdMain";
                                        break;
                                    case 2:
                                        typeName = "OrganisationTypeIdEmployer";
                                        break;
                                    case 3:
                                        typeName = "OrganisationTypeIdSupporting";
                                        break;
                                }


                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="route-@providerType.Id-conditional">

                                        <div class="govuk-form-group">
                                            <label class="govuk-label" for="@typeName">
                                                Type of organisation
                                            </label>
                                            <select class="govuk-select govuk-!-width-full" id="@typeName" name="@typeName">
                                                @foreach (var organisationType in Model.OrganisationTypesByProviderType[providerType.Id])
                                                    {
                                                    <option value="@organisationType.Id">@organisationType.Type</option>
                                                        }
                                            </select>
                                        </div>

                                    </div>
                                }
                            }
                    </div>
                </div>
                <input type="submit" class="govuk-button" value="Change" />
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="~/Views/Roatp/_ScriptsPartial.cshtml" />
}