@model SFA.DAS.AssessorService.Web.Staff.ViewModels.Roatp.UpdateOrganisationTypeViewModel

@using SFA.DAS.AssessorService.Web.Staff
@using SFA.DAS.AssessorService.Web.Staff.Domain
@{ ViewBag.Title = "Enter details"; }

@{
    await Html.RenderPartialAsync("~/Views/Roatp/_StylesPartial.cshtml");
}
<div class="grid-row">
    <form asp-controller="RoatpSearch" asp-action="SearchResults" method="post" name="backForm">
        <div class="govuk-grid-column-one-half">
            <a href="JavaScript:document.backForm.submit();" class="govuk-back-link">Back</a>
        </div>
    </form>
</div>

<div class="js-error-summary error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        There is a problem
    </h2>
    <ul class="js-error-summary-list error-summary-list"></ul>
</div>
@if (!ViewData.ModelState.IsValid)
{
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
        <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            There is a problem
        </h2>
        <ul class="error-summary-list">
            <li><a sfa-validation-for="OrganisationTypeId"></a></li>
        </ul>
    </div>
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge roatp-heading">Change Type for <span class="roatp-update-organisation-long-text">@Html.Raw(Model.LegalName)</span></h1>
    </div>
</div>
<div class="govuk-width-container">

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" asp-action="UpdateType" asp-controller="UpdateRoatpOrganisation">
                    @Html.HiddenFor(x => x.OrganisationId)
                    @Html.HiddenFor(x => x.ProviderTypeId)
                    <div class="roatp-radios roatp-radios--conditional" data-module="radios">
                        @foreach (var organisationType in Model.OrganisationTypes)
                        {
                            <div class="roatp-radios__item">
                                @if (organisationType.Id == Model.OrganisationTypeId)
                                {
                                    <input checked="checked" class="roatp-radios__input" id="status-@Html.Raw(organisationType.Id)" name="OrganisationTypeId" type="radio" value="@Html.Raw(organisationType.Id)"
                                           data-aria-controls="conditional-organisation-status-conditional-@Html.Raw(organisationType.Id)" asp-for="OrganisationTypeId">
                                }
                                else
                                {
                                    <input class="roatp-radios__input" id="status-@Html.Raw(organisationType.Id)" name="OrganisationTypeId" type="radio" value="@Html.Raw(organisationType.Id)"
                                           data-aria-controls="conditional-organisation-status-conditional-@Html.Raw(organisationType.Id)" asp-for="OrganisationTypeId">
                                }
                                <label class="roatp-label roatp-radios__label" for="status-@Html.Raw(organisationType.Id)">
                                    @Html.Raw(organisationType.Type)
                                </label>
                            </div>
                        }
                    </div>
                    
                    <div class="govuk-grid-row">
                        @Html.HiddenFor(x => x.LegalName)
                        <input type="submit" class="roatp-button" value="Change" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

@section Scripts {
    <partial name="~/Views/Roatp/_ScriptsPartial.cshtml" />
}